<div class="row">
    <p style="margin-top: 150px;">
        <a routerLink="/stock-out/new" class="btn btn-primary">New</a>
    </p>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stockOutProduct of (stockOutProducts$ | async | sortBy: 'key')">
                <td>{{ stockOutProduct.name }}</td>
                <td>{{ stockOutProduct.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ stockOutProduct.time }}</td>
                <td>{{ stockOutProduct.description }}</td>
                <td>
                    <a [routerLink]="['/stock-out', stockOutProduct.key]">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
