<div class="container">
  <h3 *ngIf="!clocking.key" mat-dialog-title class="text-application">Add new clocking</h3>
  <h3 *ngIf="clocking.key" mat-dialog-title class="text-application">Edit clocking</h3>

  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="save()" #f="ngForm">

        <div class="form row">
          <div class="col-md-5">
            <mat-form-field color="accent" style="width: 150px;">
              <mat-placeholder class="text-application"><span>Date</span></mat-placeholder>
              <input matInput #input type="date" [(ngModel)]="clocking.dateClocking" name="dateClocking" class="text-application">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field color="accent" style="width: 100px;">
              <mat-placeholder class="text-application"><span>Time</span></mat-placeholder>
              <input matInput #input type="time" [(ngModel)]="clocking.timeClocking" name="timeClocking" class="text-application">
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field color="accent" style="width: 100px;">
              <mat-placeholder class="text-application"><span>Clocking nbr</span></mat-placeholder>
              <input matInput #input type="number" [(ngModel)]="clocking.clockingNbr" name="clockingNbr" class="text-application">
              <mat-error *ngIf="f.invalid" class="text-application">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="form-group">
          <mat-form-field color="accent" style="width: 415px;">
            <mat-placeholder class="text-application"><span>Note</span></mat-placeholder>
            <textarea matInput #input type="text" [(ngModel)]="clocking.note" name="note" rows="4" cols="40" class="text-application"></textarea>
          </mat-form-field>
        </div>
    
        <div class="row justify-content-center" mat-dialog-actions>
          <button mat-button type="submit" [disabled]="!f.valid" [mat-dialog-close]="1" style="background:#FF5722;color: white;" class="text-application">Save</button>
          <button mat-button type="button" (click)="close()" tabindex="-1" style="background:#607D8B;color: white;" class="text-application">Cancel</button>
        </div>
    
      </form>
    </div>
  </div>
</div>