<div class="container">
    <h3 *ngIf="!serie.key" mat-dialog-title>Add new serie</h3>
    <h3 *ngIf="serie.key" mat-dialog-title>Edit serie</h3>
  
    <div class="row">
      <div class="col-md-6">
        <form (ngSubmit)="save(f.value)" #f="ngForm">
  
          <div class="form">
            <mat-form-field color="accent">
              <input matInput #input type="text" placeholder="Name" [(ngModel)]="serie.nameSerie" name="nameSerie" required>
              <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
      
          <div class="form">
            <mat-form-field color="accent">
              <input matInput #input type="date" placeholder="Date" [(ngModel)]="serie.date" name="date" readonly>
              <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
      
          <div class="form">
            <mat-form-field color="accent">
              <mat-select placeholder="Status" [(ngModel)]="serie.statusId" name="statusId" required>
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let statusSerie of statusSeries" [value]="statusSerie.id">
                    {{statusSerie.status}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
    
          <div class="form">
            <mat-form-field color="accent">
              <textarea matInput #input type="text" placeholder="Note" [(ngModel)]="serie.note" name="note" rows="4" cols="40"></textarea>
            </mat-form-field>
          </div>
    
          <div class="form" *ngIf="serie.statusId && (serie.statusId == 1 || serie.statusId == 2)">
            <mat-form-field color="accent">
              <input matInput #input type="text" placeholder="Path" [(ngModel)]="serie.path" name="path">
            </mat-form-field>
          </div>
    
          <div class="form">
            <input matInput #input [(ngModel)]="serie.imageUrl" name="imageUrl" id="imageUrl" type="text" hidden>
            <input type="file" name="file" (input)="onFileChanged($event)" accept=".jpeg,.jpg,.png,.svg">
          </div>
    
          <div class="form" *ngIf="progressValue | async as val">
            <progress type="warning" [value]="val" class="styleProgress" max="100"></progress>
          </div>
  
          <div class="form" *ngIf="progressValue | async as val">
            <span *ngIf="val<100" class="progressIncomplete">{{ val | number}}% </span>
            <span *ngIf="val == 100" class="progressComplete">Completed !</span>
          </div>
      
          <div mat-dialog-actions>
            <button mat-button type="submit" [disabled]="!f.valid" [mat-dialog-close]="1">Save</button>
            <button mat-button type="button" (click)="close()" tabindex="-1">Cancel</button>
          </div>
      
        </form>
      </div>
      <div class="col-md-6">
        <div class="row justify-content-center">
          <mat-card class="example-card">
              <img *ngIf="serie.imageUrl" mat-card-image [src]="serie.imageUrl" class="stylePicture">
              <img *ngIf="!serie.imageUrl" mat-card-image src="/assets/pictures/NoImageAvailable.png" class="stylePicture">
          </mat-card>
        </div>
      </div>
    </div>
  </div>


