.styleProgress {
    height: 7mm; 
    width: 100%
}

.progressIncomplete {
    color:rgb(255, 60, 0); 
    font-size: 17px; 
    font-weight: 410;
}

.progressComplete {
    color:rgb(1, 153, 34);  
    font-size: 17px; 
    font-weight: 410;
}