<h1 class="titleTextInterface text-application">Expiration</h1>

<div class="row">
    <div class="col-md-12">
        <button
            type="button" 
            (click)="newExpiration()" 
            mat-mini-fab 
            color="primary" 
            style="background: #2196F3;float: right;">
            <mat-icon style="color: white;">add</mat-icon>
        </button>
    </div> 
</div>

<br>

<div class="row">
    <div class="col-md-4">
        <mat-form-field class="widhtInput text-application">
            <mat-label>Content</mat-label>
            <input matInput type="text" name="content" (keyup)="getAllExpirations()" [(ngModel)]="content"/>
        </mat-form-field>
    </div>
</div>

<br>
  
<div class="example-container mat-elevation-z8">
    <div class="example-table-container">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="content">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-grid-list cols="12">
                        <mat-grid-tile colspan="3"><div>Content:</div></mat-grid-tile>
                        <mat-grid-tile colspan="9"><div style="margin-left: 17px;">{{ element.contentName }}</div></mat-grid-tile>
                    </mat-grid-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-grid-list cols="12">
                        <mat-grid-tile colspan="3"><div>Cost:</div></mat-grid-tile>
                        <mat-grid-tile colspan="9">
                            <div style="margin-left: 8px;">
                                <span *ngIf="element.cost">{{ element.cost }}</span>
                                <span *ngIf="!element.cost">-</span>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-grid-list cols="12">
                        <mat-grid-tile colspan="3"><div>Start:</div></mat-grid-tile>
                        <mat-grid-tile colspan="9"><div style="margin-left: 8px;">{{ element.dateStart | date:'dd/MM/yyyy' }}</div></mat-grid-tile>
                    </mat-grid-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="expiration">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-grid-list cols="12">
                        <mat-grid-tile colspan="3"><div>Expiration:</div></mat-grid-tile>
                        <mat-grid-tile colspan="9"><div style="margin-left: 8px;">{{ element.dateExpiration | date:'dd/MM/yyyy' }}</div></mat-grid-tile>
                    </mat-grid-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="duration">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-grid-list cols="12">
                        <mat-grid-tile colspan="3"><div>Duration:</div></mat-grid-tile>
                        <mat-grid-tile colspan="9"><div style="margin-left: 8px;">{{ element.duration }}</div></mat-grid-tile>
                    </mat-grid-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="rest">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-grid-list cols="12">
                        <mat-grid-tile colspan="3"><div>Rest:</div></mat-grid-tile>
                        <mat-grid-tile colspan="9">
                            <div style="margin-left: 8px;">
                                <span *ngIf="element.restdays">{{ element.restdays }}</span>
                                <span *ngIf="!element.restdays">-</span>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-grid-list cols="12">
                        <mat-grid-tile colspan="3"><div>Status:</div></mat-grid-tile>
                        <mat-grid-tile colspan="9">
                            <div style="margin-left: 8px;">
                                <span *ngIf="element.isExpired" style="color: red;">Expired</span>
                                <span *ngIf="!element.isExpired" style="color: green;">Unexpired</span>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-grid-list cols="12">
                        <mat-grid-tile colspan="3"><div>Note:</div></mat-grid-tile>
                        <mat-grid-tile colspan="9">
                            <div *ngIf="element.note" style="margin-left: 8px;">{{ element.note }}</div>
                            <div *ngIf="!element.note" style="margin-left: 8px;">-</div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="star">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{element:element}">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
            No results
        </div>
    
        <mat-paginator 
            [pageSizeOptions]="[8]"
            showFirstLastButtons 
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>
  
<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-expiration="element">

        <button
            type="button"
            (click)="editExpiration(expiration)"
            mat-menu-item>
            <mat-icon aria-label="Edit" style="color: #9C27B0;">edit</mat-icon>
            <span>Edit</span>
        </button>

        <button 
            type="button"
            mat-menu-item 
            (click)="openDeleteExpirationModal(expiration, contentDeleteExpiration)">
            <mat-icon style="color: #f44336;">delete</mat-icon>
            <span>Delete</span>
        </button>

    </ng-template>
</mat-menu>

<ng-template #contentDeleteExpiration>

    <div mat-dialog-title class="dialog-title">
      <h2 class="text-application">Are you sure ?</h2>
    </div>
  
    <div mat-dialog-content>
        <div class="gridForDelete text-application">
            <div><span>Content:</span></div>
            <div>{{ expirationToDelete.contentName }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Start:</span></div>
            <div>{{ expirationToDelete.dateStart | date:'dd/MM/yyyy' }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Expiration:</span></div>
            <div>{{ expirationToDelete.dateExpiration | date:'dd/MM/yyyy' }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Duration:</span></div>
            <div>{{ expirationToDelete.duration }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Cost:</span></div>
            <div>{{ expirationToDelete.cost }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Status:</span></div>
            <div>{{ expirationToDelete.status }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Note:</span></div>
            <div>
                <span *ngIf="expirationToDelete.note">{{ expirationToDelete.note }}</span>
                <span *ngIf="!expirationToDelete.note">-</span>
            </div>
        </div>
    </div>

    <br>

    <div class="row justify-content-center" mat-dialog-actions>
        <button 
            mat-button 
            type="button" 
            [mat-dialog-close]="1" 
            (click)="confirmDelete()" 
            style="background:rgb(221, 51, 51);color: white;" 
            class="text-application">
            Delete
        </button>

        <button 
            mat-button 
            type="button" 
            (click)="close()" 
            tabindex="-1" 
            style="background:#607D8B;color: white;" 
            class="text-application">
            Cancel
        </button>
    </div>
  
</ng-template>