<h2  *ngIf="listAnimesByCurrentName.length == 1" class="text-application">No seasons yet</h2>
<h2 *ngIf="listAnimesByCurrentName.length == 2 || listAnimesByCurrentName.length > 2" class="text-application">All seasons</h2>

<mat-grid-list *ngIf="listAnimesByCurrentName.length == 2" cols=2 #grid rowHeight="350px" gutterSize="15px">
    <mat-grid-tile *ngFor="let anime of listAnimesByCurrentName">
        <mat-card class="settings-card" style="cursor: pointer;border: 1px solid;" (click)="sendDetailsAnime(anime)">      
            <img *ngIf="anime.imageUrl" [src]="anime.imageUrl" class="anime-image">
            <img *ngIf="!anime.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="anime-image">              
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="listAnimesByCurrentName.length > 2" cols=3 #grid rowHeight="350px" gutterSize="15px">
    <mat-grid-tile *ngFor="let anime of listAnimesByCurrentName">
        <mat-card class="settings-card" style="cursor: pointer;border: 1px solid;" (click)="sendDetailsAnime(anime)">      
            <img *ngIf="anime.imageUrl" [src]="anime.imageUrl" class="anime-image">
            <img *ngIf="!anime.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="anime-image">              
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>