.my-flex-card > div > div.card {
  height: calc(100% - 15px);
  margin-bottom: 15px;
  border: 1px solid #222;
  cursor: pointer;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 20px;
}
   
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
    
.mat-icon {
  color: #3e75ff;
}

.nav-list .mat-list-item-content { 
	justify-content: flex-end; 
}

.mat-divider {
  border-top-color: black;
}

.dialog-responsive {
  width: 40%;
}

@media only screen and (max-width: 760px) {
  .dialog-responsive {
      width: 100%;
  }
}