.progress-background {
    width: 100%;
    background: gray;
    height: 5px;
    border-radius: 5px;  
}

.progress-indicator {
    text-align: center;
    width:24px;
    color:rgb(73, 4, 163);
}

.progress-meter {
    background: rgb(73, 4, 163);
    height:5px;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
}
  
.container > * {
    width: 100%;
}
  
.form {
    display: flex;
    padding-top: 6px;
}
  
.mat-form-field {
    font-size: 16px;
    flex-grow: 1;
}

.stylePicture {
    width: 300px;
    height: 435px;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
    margin-left: -6px;
}

.example-card {
    border-radius: 20px;
    width: 324px;
    height: 463px;
    border: 1px solid #c5c5c5;
    margin-top: 20px;
    margin-left: 20px;
}

.mat-card-image:first-child {
    margin-top: -3px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.mat-checkbox-layout {
    text-align: justify;
}
  
::ng-deep .mat-checkbox-layout .mat-checkbox-layout {
    white-space: normal !important;
}