<!-- <div mat-dialog-title class="dialog-title" id="name">
    <h3 mat-dialog-title class="text-application" (click)="copyText(movie.nameMovie)" style="cursor: pointer;">{{ movie.nameMovie }}</h3> 
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
</div>
    
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <div class="card">
      <img *ngIf="movie.imageUrl" [src]="movie.imageUrl" class="movie-image">
      <img *ngIf="!movie.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="movie-image">    
    </div>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card">
      <mat-grid-list cols=2 rowHeight="50px" class="text-application">
        <mat-grid-tile *ngIf="movie.statusId !== 1">Year</mat-grid-tile>
        <mat-grid-tile *ngIf="movie.statusId !== 1">
          <span *ngIf="movie.year">{{ movie.year }}</span>
          <span *ngIf="!movie.year">?</span>                           
        </mat-grid-tile>

        <mat-grid-tile>Status</mat-grid-tile>
        <mat-grid-tile>
          <span
            [ngClass]="movie.statusId == 1 ? 'wait-image' : 
            movie.statusId == 2 ? 'not-download-image':
            movie.statusId == 3 && !movie.notLiked ? 'watched-image':
            movie.statusId == 3 && movie.notLiked ? 'not-liked-image':
            movie.statusId == 4 ? 'not-watched-image':
            movie.statusId == 5 ? 'search-image': ''">
          </span>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="movie.statusId == 1">Check</mat-grid-tile>
        <mat-grid-tile *ngIf="movie.statusId == 1">
          <span *ngIf="movie.checkDate">{{ movie.checkDate | date: 'dd/MM/yyyy' }}</span>
          <span *ngIf="!movie.checkDate">?</span>                           
        </mat-grid-tile>   

        <mat-grid-tile>Part</mat-grid-tile>
        <mat-grid-tile>
          <span *ngIf="movie.part">{{ movie.part }}</span>
          <span *ngIf="!movie.part"><i class="fa fa-minus-circle" aria-hidden="true"></i></span>                           
        </mat-grid-tile>

        <mat-grid-tile>Path</mat-grid-tile>
        <mat-grid-tile>
          <span *ngIf="movie.path">
            <mat-icon style="cursor: pointer;" (click)="followLink(movie.path)" target="_blank">link</mat-icon>                            
          </span>
          <span *ngIf="!movie.path"><i class="fa fa-minus-circle" aria-hidden="true"></i></span>
        </mat-grid-tile>

        <mat-grid-tile>Note</mat-grid-tile>
        <mat-grid-tile>
          <mat-icon *ngIf="movie.note" style="cursor: pointer;" (click)="viewNote(movie.note)">note</mat-icon>         
          <i *ngIf="!movie.note" class="fa fa-minus-circle" aria-hidden="true"></i>
        </mat-grid-tile>

        <mat-grid-tile>
          <button
            type="button"
            mat-button 
            (click)="editMovie(movie)"
            class="text-application">
            <mat-icon style="color: #9C27B0" aria-label="Edit">edit</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button
            type="button"
            mat-button 
            (click)="deleteMovie(movie.key)" 
            class="text-application">
            <mat-icon style="color: #f44336;">delete</mat-icon>
          </button>
        </mat-grid-tile>
        
      </mat-grid-list>
    </div>
    
  </div>
</div> -->