<h1 class="titleTextInterface text-application">To Do List</h1>

<br>

<div class="row">
	<div class="col-md-5"></div>
	<div class="col-md-4">
		<mat-form-field>
			<mat-select [(ngModel)]="rangeId" class="text-application">
				<mat-option *ngFor="let range of rangeDays" [value]="range.id">
				<span class="text-application">{{ range.range }}</span>
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="col-md-2">
		<button (click)="newTask()" mat-mini-fab style="background: #2196F3;">
			<mat-icon style="color: white;">add</mat-icon>
		</button>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="row">
    <div class="content-wrapper">
		<div class="container-wrapper" *ngIf="rangeId == 0">
			<div class="container">
				<mat-form-field class="text-application">
					<mat-label>Search</mat-label>
					<input matInput type="text" [(ngModel)]="todayTaskName" (input)="searchByTask()"/>
				</mat-form-field>

				<mat-card
					cdkDropList
					id="toDoToday"
					#todoTodayList="cdkDropList"
					[cdkDropListData]="todayTaskList"
					(cdkDropListDropped)="drop($event)"
					class="list">
					<p class="empty-label text-application" *ngIf="todayTaskList?.length === 0">Empty list</p>
					<task-desktop (click)="editTask('toDoToday', task, $event)" *ngFor="let task of todayTaskList" cdkDrag [task]="task" [currentList]="'toDoToday'"></task-desktop>
				</mat-card>	
			</div>
		</div>

		<div class="container-wrapper" *ngIf="rangeId == 1">
			<div class="container">
				<mat-form-field class="text-application">
					<mat-label>Search</mat-label>
					<input matInput type="text" [(ngModel)]="tomorrowTaskName" (input)="searchByTask()"/>
				</mat-form-field>
							
				<mat-card
					cdkDropList
					id="toDoTomorrow"
					#todoTomorrowList="cdkDropList"
					[cdkDropListData]="tomorrowTaskList"
					(cdkDropListDropped)="drop($event)"
					class="list">
					<p class="empty-label text-application" *ngIf="tomorrowTaskList?.length === 0">Empty list</p>
					<task-desktop (click)="editTask('toDoTomorrow', task, $event)" *ngFor="let task of tomorrowTaskList" cdkDrag [task]="task" [currentList]="'toDoTomorrow'"></task-desktop>
				</mat-card>
			</div>
		</div>

		<div class="container-wrapper" *ngIf="rangeId == 2">
			<div class="container">
				<mat-form-field class="text-application">
					<mat-label>Search</mat-label>
					<input matInput type="text" [(ngModel)]="thisWeekTaskName" (input)="searchByTask()"/>
				</mat-form-field>
				
				<mat-card
					cdkDropList
					id="toDoThisWeek"
					#todoThisWeekList="cdkDropList"
					[cdkDropListData]="thisWeekTaskList"
					(cdkDropListDropped)="drop($event)"
					class="list">
					<p class="empty-label text-application" *ngIf="thisWeekTaskList?.length === 0">Empty list</p>
					<task-desktop (click)="editTask('toDoThisWeek', task, $event)" *ngFor="let task of thisWeekTaskList" cdkDrag [task]="task" [currentList]="'toDoThisWeek'"></task-desktop>
				</mat-card>
			</div>
		</div>

		<div class="container-wrapper" *ngIf="rangeId == 3">
			<div class="container">
				<mat-form-field class="text-application">
					<mat-label>Search</mat-label>
					<input matInput type="text" [(ngModel)]="nextWeekTaskName" (input)="searchByTask()"/>
				</mat-form-field>
		
				<mat-card
					cdkDropList
					id="toDoNextWeek"
					#todoNextWeekList="cdkDropList"
					[cdkDropListData]="nextWeekTaskList"
					(cdkDropListDropped)="drop($event)"
					class="list">
					<p class="empty-label text-application" *ngIf="nextWeekTaskList?.length === 0">Empty list</p>
					<task-desktop (click)="editTask('toDoNextWeek', task, $event)" *ngFor="let task of nextWeekTaskList" cdkDrag [task]="task" [currentList]="'toDoNextWeek'"></task-desktop>
				</mat-card>
			</div>
		</div>

		<div *ngIf="rangeId == 4">
			<div class="container">
				<mat-form-field class="text-application">
					<mat-label>Search</mat-label>
					<input matInput type="text" [(ngModel)]="laterTaskName" (input)="searchByTask()"/>
				</mat-form-field>
		
				<mat-card
					cdkDropList
					id="toDoLater"
					#toDoLaterList="cdkDropList"
					[cdkDropListData]="laterTaskList"
					(cdkDropListDropped)="drop($event)"
					class="list">
					<p class="empty-label text-application" *ngIf="laterTaskList?.length === 0">Empty list</p>
					<task-desktop (click)="editTask('toDoLater', task, $event)" *ngFor="let task of laterTaskList" cdkDrag [task]="task" [currentList]="'toDoLater'"></task-desktop>
				</mat-card>
			</div>
		</div>
	</div>
</div>

<!-- [cdkDropListConnectedTo]="[todoTodayList, todoTomorrowList, todoThisWeekList]" -->