<h1 class="titleTextInterface text-application">To Do List</h1>

<br>

<div class="row">
	<div class="col-md-5">
		<mat-form-field class="text-application">
			<mat-label>Search</mat-label>
			<input *ngIf="rangeId == 0" matInput type="text" [(ngModel)]="todayTaskName" (input)="searchByTask()"/>
			<input *ngIf="rangeId == 1" matInput type="text" [(ngModel)]="tomorrowTaskName" (input)="searchByTask()"/>
			<input *ngIf="rangeId == 2" matInput type="text" [(ngModel)]="thisWeekTaskName" (input)="searchByTask()"/>
			<input *ngIf="rangeId == 3" matInput type="text" [(ngModel)]="nextWeekTaskName" (input)="searchByTask()"/>
			<input *ngIf="rangeId == 4" matInput type="text" [(ngModel)]="laterTaskName" (input)="searchByTask()"/>
		</mat-form-field>
	</div>
	<div class="col-md-4">
		<mat-form-field>
			<mat-select [(ngModel)]="rangeId" class="text-application">
				<mat-option *ngFor="let range of rangeDays" [value]="range.id">
				<span class="text-application">{{ range.range }}</span>
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="col-md-3">
		<button 
			type="button" 
			(click)="newTask()" 
			mat-mini-fab 
			style="background: #2196F3;float: right;">
			<mat-icon style="color: white;">add</mat-icon>
		</button>
	</div>
</div>

<br>

<div 
    *ngIf="rangeId == 0"
	cdkDropList
	id="toDoToday"
	#todoTodayList="cdkDropList"
	[cdkDropListData]="todayTaskList"
	(cdkDropListDropped)="drop($event)"
	class="example-list">
	<p class="empty-label text-application" *ngIf="todayTaskList?.length === 0">Empty list</p>
	<div class="example-box" *ngFor="let task of todayTaskList" cdkDrag>
		<task-desktop 
			style="width: 100%;" 
			[task]="task" 
			[currentList]="'toDoToday'" 
			[todayTaskList]="todayTaskList"
			[tomorrowTaskList]="tomorrowTaskList"
			[thisWeekTaskList]="thisWeekTaskList"
			[nextWeekTaskList]="nextWeekTaskList"
			[laterTaskList]="laterTaskList">
		</task-desktop>
	</div>
</div>

<div 
    *ngIf="rangeId == 1"
	cdkDropList
	id="toDoTomorrow"
	#todoTomorrowList="cdkDropList"
	[cdkDropListData]="tomorrowTaskList"
	(cdkDropListDropped)="drop($event)"
	class="example-list">
	<p class="empty-label text-application" *ngIf="tomorrowTaskList?.length === 0">Empty list</p>
	<div class="example-box" *ngFor="let task of tomorrowTaskList" cdkDrag>
		<task-desktop 
			style="width: 100%;" 
			[task]="task" 
			[currentList]="'toDoTomorrow'" 
			[todayTaskList]="todayTaskList"
			[tomorrowTaskList]="tomorrowTaskList"
			[thisWeekTaskList]="thisWeekTaskList"
			[nextWeekTaskList]="nextWeekTaskList"
			[laterTaskList]="laterTaskList">
		</task-desktop>
	</div>
</div>

<div 
    *ngIf="rangeId == 2"
	cdkDropList
	id="toDoThisWeek"
	#todoThisWeekList="cdkDropList"
	[cdkDropListData]="thisWeekTaskList"
	(cdkDropListDropped)="drop($event)"
	class="example-list">
	<p class="empty-label text-application" *ngIf="thisWeekTaskList?.length === 0">Empty list</p>
	<div class="example-box" *ngFor="let task of thisWeekTaskList" cdkDrag>
		<task-desktop 
			style="width: 100%;" 
			[task]="task" 
			[currentList]="'toDoThisWeek'" 
			[todayTaskList]="todayTaskList"
			[tomorrowTaskList]="tomorrowTaskList"
			[thisWeekTaskList]="thisWeekTaskList"
			[nextWeekTaskList]="nextWeekTaskList"
			[laterTaskList]="laterTaskList">
		</task-desktop>
	</div>
</div>

<div 
    *ngIf="rangeId == 3"
	cdkDropList
	id="toDoNextWeek"
	#todoNextWeekList="cdkDropList"
	[cdkDropListData]="nextWeekTaskList"
	(cdkDropListDropped)="drop($event)"
	class="example-list">
	<p class="empty-label text-application" *ngIf="nextWeekTaskList?.length === 0">Empty list</p>
	<div class="example-box" *ngFor="let task of nextWeekTaskList" cdkDrag>
		<task-desktop 
			style="width: 100%;" 
			[task]="task" 
			[currentList]="'toDoNextWeek'" 
			[todayTaskList]="todayTaskList"
			[tomorrowTaskList]="tomorrowTaskList"
			[thisWeekTaskList]="thisWeekTaskList"
			[nextWeekTaskList]="nextWeekTaskList"
			[laterTaskList]="laterTaskList">
		</task-desktop>
	</div>
</div>

<div 
    *ngIf="rangeId == 4"
	cdkDropList
	id="toDoLater"
	#toDoLaterList="cdkDropList"
	[cdkDropListData]="laterTaskList"
	(cdkDropListDropped)="drop($event)"
	class="example-list">
	<p class="empty-label text-application" *ngIf="laterTaskList?.length === 0">Empty list</p>
	<div class="example-box" *ngFor="let task of laterTaskList" cdkDrag>
		<task-desktop 
			style="width: 100%;" 
			[task]="task" 
			[currentList]="'toDoLater'" 
			[todayTaskList]="todayTaskList"
			[tomorrowTaskList]="tomorrowTaskList"
			[thisWeekTaskList]="thisWeekTaskList"
			[nextWeekTaskList]="nextWeekTaskList"
			[laterTaskList]="laterTaskList">
		</task-desktop>
	</div>
</div>

<!-- [cdkDropListConnectedTo]="[todoTodayList, todoTomorrowList, todoThisWeekList]" -->