.widthInput {
  font-size: 14px;
  width: 100%;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 20px;
}

.movie-image {
  width: 100%;
  background-size: cover;
  border-radius: 5px;
}
  
.settings-card {
  height: 100%;
  width: 350px;
}

.settings-card-new-update-movie {
  height: 350px;
  width: 350px;
}

.aligned-with-text{
  position: absolute;
  margin-top: 3px;
}

.progress-background {
  width: 100%;
  background: gray;
  height: 5px;
  border-radius: 5px;  
}

.progress-meter {
  background: rgb(73, 4, 163);
  height:5px;
  border-radius: 5px;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 50% !important;
}