<h1 class="titleTextInterface text-application">Users</h1>

<br>
<br>

<div class="row">
    <div class="col-md-4">
        <mat-form-field class="widhtInput text-application">
            <mat-label>Email</mat-label>
            <input matInput type="text" name="queryEmail" (keyup)="getAllUsers()" [(ngModel)]="queryEmail"/>
        </mat-form-field>
    </div>
</div>

<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Picture</th>
            <td mat-cell *matCellDef="let element"> 
                <img mat-card-md-image src="/assets/pictures/NoImageAvailable.png">
            </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Details</th>
            <td mat-cell *matCellDef="let element" (contextmenu)="onContextMenu($event, element)">
                <div class="gridForLegend text-application">
                    <div><span>Name:</span></div>
                    <div>{{ element.name }}</div>
                </div>
                <br>
                <div class="gridForLegend text-application">
                    <div><span>Email:</span></div>
                    <div>{{ element.email }}</div>
                </div>
                <br>
                <div class="gridForLegend text-application">
                    <div><span>Pwd:</span></div>
                    <div>{{ element.password }}</div>
                </div>
                <br>
                <div class="gridForLegend text-application">
                    <div><span>Con:</span></div>
                    <div>{{ element.isConnected }}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="movies">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Movies</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleMovies" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="animes">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Animes</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleAnimes" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>        
        </ng-container>

        <ng-container matColumnDef="series">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Series</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleSeries" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>        
        </ng-container>

        <ng-container matColumnDef="files">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Files</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleFiles" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>        
        </ng-container>

        <ng-container matColumnDef="debts">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Debts</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleDebts" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>        
        </ng-container>
    
        <tr mat-header-row style="background: #2196F3;" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="border-bottom: 1px solid black;" *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="no-results text-application" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
        No results
    </div>
    
    <mat-paginator 
        [pageSizeOptions]="[8]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<div style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-user="user">

        <button
            *ngIf="user.roleMovies || user.roleAnimes || user.roleSeries || user.roleFiles || user.roleDebts"
            type="button"
            mat-menu-item 
            (click)="openModalPrivileges(user)"
            class="text-application">
            <mat-icon style="color: #9C27B0" aria-label="Edit">edit</mat-icon>
            <span>Edit</span>
        </button>

        <button
            type="button"
            mat-menu-item 
            (click)="openDeleteUserModal(user, contentDeleteUser)"
            class="text-application">
            <mat-icon style="color: #f44336;">delete</mat-icon>
            <span>Delete</span>
        </button>  

	</ng-template>
</mat-menu>

<ng-template #contentDeleteUser>

    <div mat-dialog-title class="dialog-title">
      <h2 class="text-application">Are you sure ?</h2>
    </div>
  
    <div mat-dialog-content>
        <div class="gridForDelete text-application">
            <div><span>Name:</span></div>
            <div>{{ userToDelete.name }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Email:</span></div>
            <div>{{ userToDelete.email }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Pwd:</span></div>
            <div>{{ userToDelete.password }}</div>
        </div>
    </div>

    <br>

    <div class="row justify-content-center" mat-dialog-actions>
        <button 
            mat-button 
            type="button" 
            [mat-dialog-close]="1" 
            (click)="confirmDelete()" 
            style="background:rgb(221, 51, 51);color: white;" 
            class="text-application">
            Delete
        </button>

        <button 
            mat-button 
            type="button" 
            (click)="close()" 
            tabindex="-1" 
            style="background:#607D8B;color: white;" 
            class="text-application">
            Cancel
        </button>
    </div>
  
</ng-template>