<h1 class="titleTextInterface text-application">Series</h1>

<br>
<br>

<div class="row">
    <div class="col-md-4">
        <mat-form-field class="widhtInput">
            <mat-label class="text-application">Name</mat-label>
            <input matInput type="text" name="queryName" (keyup)="getAllSeries()" [(ngModel)]="queryName"/>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field class="widhtInput">
            <mat-label class="text-application">Note</mat-label>
            <input matInput type="text" name="queryNote" (keyup)="getAllSeries()" [(ngModel)]="queryNote"/>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field style="width: 285px;">
            <mat-label class="text-application">Status</mat-label>
			<mat-select name="statusId" [(ngModel)]="statusId" (selectionChange)="getAllSeries()">
                <mat-option value=""></mat-option>
				<mat-option *ngFor="let statusSerie of statusSeries" [value]="statusSerie.id">
                    <span class="text-application">{{statusSerie.status}}</span>
				</mat-option>
			</mat-select>
		</mat-form-field>
    </div>
</div>

<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="width: 400px;">Picture</th>
            <td mat-cell *matCellDef="let element" style="width: 400px;"><show-serie-picture [serie]="element"></show-serie-picture></td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class="text-application">Details</th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend text-application">
                    <div><span>Name:</span></div>
                    <div><span style="cursor: pointer;" (click)="copyNameSerie(element.nameSerie)">{{ element.nameSerie }}</span></div>
                </div>
                <br>
                <div class="gridForLegend text-application">
                    <div><span>Date:</span></div>
                    <div>{{ element.date | date:'dd/MM/yyyy' }}</div>
                </div>
                <br>
                <div class="gridForLegend text-application">
                    <div><span>Status:</span></div>
                    <div>{{ element.status }}</div>
                </div>
                <br>
                <div class="gridForLegend text-application">
                    <div><span>Note:</span></div>
                    <div>{{ element.note }}</div>
                </div> 
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="btns-add-sort">
                <button 
                    *ngIf="dataUserConnected.roleAddSerie" 
                    type="button" 
                    mat-icon-button 
                    (click)="newSerie()">
                    <mat-icon aria-label="Example icon-button with a heart icon" style="color: white;">add</mat-icon>
                </button>

                <button type="button" *ngIf="!sortByDesc" mat-icon-button style="color: white;" (click)="sortByRefSerieDesc()">
                    <mat-icon aria-label="Example icon-button with a heart icon">sort</mat-icon>
                </button>

                <button type="button" *ngIf="sortByDesc" mat-icon-button style="color: white;" (click)="sortByRefSerieAsc()">
                    <mat-icon aria-label="Example icon-button with a heart icon">sort</mat-icon>
                </button>
            </mat-header-cell>
    
            <mat-cell *matCellDef="let row; let i=index;" class="btns-edit-link-delete">
                <button 
                    *ngIf="dataUserConnected.roleUpdateSerie" 
                    type="button" 
                    mat-icon-button 
                    style="color: #9C27B0" 
                    (click)="editSerie(row)"
                    [hidden]="row.statusId == 3">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <a 
                    *ngIf="row.path && (row.statusId == 1 || row.statusId == 2)" 
                    mat-icon-button 
                    style="color: #EF6C00" 
                    href="{{ row.path }}" 
                    target="_blank">
                    <mat-icon aria-label="Link">link</mat-icon>
                </a>
        
                <button 
                    *ngIf="dataUserConnected.roleDeleteSerie" 
                    type="button" 
                    mat-icon-button 
                    color="warn"
                    (click)="openDeleteSerieModal(row, contentDeleteSerie)"  
                    [hidden]="row.statusId == 3">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
    
        <tr mat-header-row style="background: #2196F3;" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="no-results text-application" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
        No results
    </div>
    
    <mat-paginator 
        [pageSizeOptions]="[8]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<ng-template #contentDeleteSerie let-modal let-c="close" let-d="dismiss">

    <div mat-dialog-title class="dialog-title">
      <h2 class="text-application">Are you sure ?</h2>
    </div>
  
    <div mat-dialog-content>
        <div class="gridForDelete text-application">
            <div><span>Name:</span></div>
            <div>{{ serieToDelete.nameSerie }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Date:</span></div>
            <div>{{ serieToDelete.date | date:'dd/MM/yyyy' }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Status:</span></div>
            <div>{{ serieToDelete.status }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Note:</span></div>
            <div>{{ serieToDelete.note }}</div>
        </div> 
    </div>

    <br>

    <div class="row justify-content-center" mat-dialog-actions>
        <button 
            mat-button 
            type="button" 
            [mat-dialog-close]="1" 
            (click)="confirmDelete()" 
            style="background:rgb(221, 51, 51);color: white;" 
            class="text-application">
            Delete
        </button>

        <button 
            mat-button 
            type="button" 
            (click)="close()" 
            tabindex="-1" 
            style="background:#607D8B;color: white;" 
            class="text-application">
            Cancel
        </button>
    </div>
  
</ng-template>


