<mat-card class="item" *ngIf="task" (click)="edit.emit(task)">
    <div class="row">
      <div class="col-md-1">
        <button mat-mini-fab color="accent">
         <span class="text-application" style="font-size: larger;">{{ task.indexNo }}</span>
        </button>
      </div>
      <div class="col-md-10 text-application">
        <h2 class="text-application" style="margin-bottom: 5px">{{ task.title }}</h2><br *ngIf="task.description">
        <span style="font-size: larger;">{{ task.description }}</span><br *ngIf="task.description"><br *ngIf="task.description">
        <span style="font-size: revert;">{{ task.date | date: 'dd/MM/yyyy' }}</span>
      </div>
      <div class="col-md-1">
        <button
          mat-icon-button
          color="warn"
          aria-label="Delete"
          style="float: right;"
          (click)="deleteTask(task.id, $event)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
</mat-card>