<h1 class="text-center text-danger font-weight-bold titleTextInterface">Animes</h1>

<br>
<br>


<div class="row">
    <div class="col-md-4">
        <input #query (keyup)="getAllAnimes()" [(ngModel)]="queryName" type="text" class="form-control widhtInput" placeholder="Search by name...">
    </div>
    <div class="col-md-4">
        <input #query (keyup)="getAllAnimes()" [(ngModel)]="queryNote" type="text" class="form-control widhtInput" placeholder="Search by note...">

        <!-- <div class="row">
            <div class="col-md-8">
                <input [(ngModel)]="queryDate" type="date" class="form-control widhtInput">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary font-weight-bold" (click)="getAllAnimes()">Search</button>
                <button *ngIf="queryDate" class="btn btn-danger font-weight-bold" (click)="clear()">Clear</button>
            </div>
        </div>      -->
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-2"><label for="statusId" class="font-weight-bold">Status</label></div>
            <div class="col-md-10">
                 <select [(ngModel)]="statusId" name="statusId" id="statusId" class="form-control" (click)="getAllAnimes()">
                    <option value=""></option>
                    <option *ngFor="let statusAnime of statusAnimes" [value]="statusAnime.id">
                        {{statusAnime.status}}
                    </option>
                </select>
            </div>
        </div>     
    </div>
</div>

<br>

<div class="row">
    <table class="table table-striped">
        <thead class="colorHeaderTable">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
                <th>Note</th>
                <th>Picture</th>
                <th class="text-center">
                    <a *ngIf="user.roleAdd" (click)="newAnime()" class="btn btn-primary font-weight-bold">New</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let anime of (filteredAnimes | sortBy: 'key' | paginate: { itemsPerPage: 8, currentPage: p })">
                <td>{{ anime.nameAnime }}</td>
                <td>{{ anime.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ anime.time }}</td>
                <td>
                    <span *ngIf="anime.statusId">{{ anime.status }}</span>
                    <span *ngIf="!anime.statusId">-</span>
                </td>
                <td>{{ anime.note }}</td>
                <td>
                    <show-anime-picture [anime]="anime"></show-anime-picture>
                </td>
                <td style="text-align:center;">
                    <div class="btnswrap">
                        <button 
                            *ngIf="user.roleUpdate" 
                            (click)="editAnime(anime)"
                            class="btn btn-secondary font-weight-bold"
                            [hidden]="anime.statusId == 3">
                            Edit
                        </button>                        
                        <a 
                            *ngIf="anime.path && (anime.statusId == 1 || anime.statusId == 2)" 
                            href="{{ anime.path }}" 
                            target="_blank" 
                            class="btn btn-warning font-weight-bold">
                            Path
                        </a>                        
                        <button 
                            *ngIf="user.roleDelete" 
                            type="button" 
                            (click)="delete(anime.key)"
                            class="btn btn-danger font-weight-bold"
                            [hidden]="anime.statusId == 3">
                            Delete
                        </button>                    
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>