<h1 class="titleTextInterface text-application">Animes</h1>

<br>

<div class="row">
    <div class="col-md-12">
        <button
            *ngIf="dataUserConnected.roleAddAnime"
            type="button" 
            (click)="newAnime()" 
            mat-mini-fab 
            color="primary" 
            style="background: #2196F3;float: right;">
            <mat-icon style="color: white;">add</mat-icon>
        </button>

        <button 
            *ngIf="!sortByDesc"
            type="button"  
            mat-mini-fab 
            color="primary" 
            (click)="sortByRefAnimeDesc()" 
            style="background: #2196F3;float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;

        <button 
            *ngIf="sortByDesc"
            type="button"
            mat-mini-fab
            color="primary" 
            (click)="sortByRefAnimeAsc()" 
            style="background: #2196F3;float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;
    </div> 
</div>

<br>

<div class="row">
    <div class="col-md-4">
        <mat-form-field class="widhtInput">
            <mat-label class="text-application">Name</mat-label>
            <input matInput type="text" name="queryName" (keyup)="getAllAnimes()" [(ngModel)]="queryName"/>
        </mat-form-field>
    </div>
    <!-- <div class="col-md-4">
        <mat-form-field class="widhtInput">
            <mat-label class="text-application">Note</mat-label>
            <input matInput type="text" name="queryNote" (keyup)="getAllAnimes()" [(ngModel)]="queryNote"/>
        </mat-form-field>
    </div> -->
    <div class="col-md-4">
        <mat-form-field style="width: 285px;">
            <mat-label class="text-application">Status</mat-label>
			<mat-select name="statusId" [(ngModel)]="statusId" (selectionChange)="getAllAnimes()">
                <mat-option value=""></mat-option>
				<mat-option *ngFor="let statusAnime of statusAnimes" [value]="statusAnime.id">
                    <span class="text-application">{{statusAnime.status}}</span>
				</mat-option>
			</mat-select>
		</mat-form-field>
    </div>
</div>

<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef class="text-application">Picture</th>
            <td mat-cell *matCellDef="let element"><show-anime-picture [anime]="element"></show-anime-picture></td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class="text-application">Details</th>
            <td mat-cell *matCellDef="let element" (contextmenu)="onContextMenu($event, element)">
                <div class="gridForLegend text-application">
                    <div><span>Name:</span></div>
                    <div><span style="cursor: pointer;" (click)="copyNameAnime(element.nameAnime)">{{ element.nameAnime }}</span></div>
                </div>
                <br *ngIf="!element.priority">
                <div class="gridForLegend text-application">
                    <div><span>Type:</span></div>
                    <div><span>{{ element.type }}</span></div>
                </div>
                <br *ngIf="!element.isFirst && element.priority">
                <div class="gridForLegend text-application" *ngIf="!element.isFirst && element.priority">
                    <div><span>Season:</span></div>
                    <div>{{ element.season }}</div>
                </div>
                <br *ngIf="!element.priority">
                <div class="gridForLegend text-application" *ngIf="!element.priority">
                    <div><span>Status:</span></div>
                    <div>{{ element.status }}</div>
                </div>
                <br *ngIf="!element.priority && element.type == 'TV' && element.statusId !== 3">
                <div class="gridForLegend text-application" *ngIf="!element.season && element.type == 'TV' && element.statusId !== 3">
                    <div><span>Eps:</span></div>
                    <div>
                        <span *ngIf="element.currentEpisode && element.totalEpisodes">{{ element.currentEpisode }} / {{ element.totalEpisodes }} ep</span>
                        <span *ngIf="element.currentEpisode && !element.totalEpisodes">{{ element.currentEpisode }} / ? ep</span>
                        <span *ngIf="!element.currentEpisode && element.totalEpisodes">? / {{ element.totalEpisodes }} ep</span>
                        <span *ngIf="!element.currentEpisode && !element.totalEpisodes">? / ? ep</span>
                    </div>
                </div>
                <br *ngIf="!element.priority">
                <div class="gridForLegend text-application" *ngIf="!element.priority">
                    <div><span>Note:</span></div>
                    <div>
                        <span *ngIf="element.note">{{ element.note }}</span>
                        <span *ngIf="!element.note">-</span>
                    </div>
                </div> 
            </td>
        </ng-container>
    
        <tr mat-header-row style="background: #4CAF50;" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="border-bottom: 1px solid black;" *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="no-results text-application" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
        No results
    </div>
    
    <mat-paginator 
        [pageSizeOptions]="[8]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<div style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-anime="anime">

        <button 
            *ngIf="dataUserConnected.roleUpdateAnime && !anime.season"  
            type="button" 
            mat-menu-item 
            (click)="editAnime(anime)">
            <mat-icon style="color: #9C27B0" aria-label="Edit">edit</mat-icon>
            <span>Edit</span>
        </button>

        <button 
            *ngIf="anime.season"  
            type="button" 
            mat-menu-item 
            (click)="viewOtherSeasonsAndMovies(anime, contentSeasonAndMoviesList)">
            <mat-icon style="color: #0935c5">list</mat-icon>
            <span>Seasons / Movies</span>
        </button>

        <button mat-menu-item *ngIf="anime.statusId !== 3 && !anime.season" [hidden]="anime.statusId == 4"> 
            <mat-icon *ngIf="anime.statusId == 1" style="color: #EF6C00;">remove_red_eye</mat-icon>
            <mat-icon *ngIf="anime.statusId == 2" style="color: #2E7D32;">cloud_download</mat-icon>
            <mat-icon *ngIf="anime.statusId == 5" style="color: #EF6C00;">search</mat-icon>
            <a href="{{ anime.path }}" target="_blank" style="text-decoration: none;">
              <span *ngIf="anime.statusId == 1" style="color: black !important;">Check</span>
              <span *ngIf="anime.statusId == 2" style="color: black !important;">Download</span>
              <span *ngIf="anime.statusId == 5" style="color: black !important;">Search</span>
            </a>  
        </button>

        <button
            *ngIf="dataUserConnected.roleDeleteAnime && !anime.season" 
            type="button"
            mat-menu-item 
            (click)="openDeleteAnimeModal(anime, contentDeleteAnime)" 
            class="text-application">
            <mat-icon style="color: #f44336;">delete</mat-icon>
            <span>Delete</span>
        </button>

	</ng-template>
</mat-menu>

<ng-template #contentDeleteAnime>

    <div mat-dialog-title class="dialog-title">
      <h2 class="text-application">Are you sure ?</h2>
    </div>
  
    <div mat-dialog-content>
        <div class="gridForDelete text-application">
            <div><span>Name:</span></div>
            <div>{{ animeToDelete.nameAnime }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Date:</span></div>
            <div>{{ animeToDelete.date | date:'dd/MM/yyyy' }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Status:</span></div>
            <div>{{ animeToDelete.status }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Note:</span></div>
            <div>{{ animeToDelete.note }}</div>
        </div> 
    </div>

    <br>

    <div class="row justify-content-center" mat-dialog-actions>
        <button 
            mat-button 
            type="button" 
            [mat-dialog-close]="1" 
            (click)="confirmDelete()" 
            style="background:rgb(221, 51, 51);color: white;" 
            class="text-application">
            Delete
        </button>

        <button 
            mat-button 
            type="button" 
            (click)="close()" 
            tabindex="-1" 
            style="background:#607D8B;color: white;" 
            class="text-application">
            Cancel
        </button>
    </div>
  
</ng-template>

<ng-template #contentSeasonAndMoviesList>

    <list-seasons-movies-desktop 
        [listAnimesByCurrentName]="listAnimesByCurrentName" 
        [currentName]="currentName" 
        [dataUserConnected]="dataUserConnected"
        [allAnimes]="allAnimes">
    </list-seasons-movies-desktop>
    
</ng-template>