<h1 class="titleTextInterface text-application">Animes</h1>

<div class="row">
    <div class="col-md-12">
        <button
            *ngIf="dataUserConnected.roleAddAnime"
            type="button" 
            (click)="newAnime()" 
            mat-mini-fab 
            color="primary" 
            style="background: #2196F3;float: right;">
            <mat-icon style="color: white;">add</mat-icon>
        </button>

        <button 
            *ngIf="!sortByDesc"
            type="button"  
            mat-mini-fab 
            color="primary" 
            (click)="sortByRefAnimeDesc()" 
            style="background: #2196F3;float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;

        <button 
            *ngIf="sortByDesc"
            type="button"
            mat-mini-fab
            color="primary" 
            (click)="sortByRefAnimeAsc()" 
            style="background: #2196F3;float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;
    </div> 
</div>

<br>
 
<div class="row">
    <div class="col-md-4">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" name="queryName" (keyup)="getAllAnimes()" [(ngModel)]="queryName"/>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select name="statusId" [(ngModel)]="statusId" (selectionChange)="getAllAnimes()">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let statusAnime of statusAnimes" [value]="statusAnime.id">
                    {{statusAnime.status}}
				</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<br>
  
<div class="example-container mat-elevation-z8">
    <div class="example-table-container">
        <table mat-table [dataSource]="dataSource">
  
            <ng-container matColumnDef="picture">
                <th mat-header-cell *matHeaderCellDef>Picture</th>
                <td mat-cell *matCellDef="let element"> 
                    <img *ngIf="element.imageUrl" mat-card-md-image [src]="element.imageUrl" (click)="zoomPicture(element)">
                    <img *ngIf="!element.imageUrl" mat-card-md-image src="/assets/pictures/NoImageAvailable.png" (click)="zoomPicture(element)">

                    <span *ngIf="!element.priority && element.type == 'TV' && element.statusId !== 3">
                        <span *ngIf="element.currentEpisode && element.totalEpisodes" style="margin-left: 35px;">{{ element.currentEpisode }} / {{ element.totalEpisodes }}</span>
                        <span *ngIf="element.currentEpisode && !element.totalEpisodes" style="margin-left: 35px;">{{ element.currentEpisode }} / ?</span>
                        <span *ngIf="!element.currentEpisode && element.totalEpisodes" style="margin-left: 35px;">? / {{ element.totalEpisodes }}</span>
                        <span *ngIf="!element.currentEpisode && !element.totalEpisodes" style="margin-left: 40px;">? / ?</span>
                    </span>  
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="gridForLegend">
                        <div><span>Name:</span></div>
                        <div><span style="cursor: pointer;" (click)="copyNameAnime(element.nameAnime)">{{ element.nameAnime }}</span></div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="gridForLegend" *ngIf="!element.priority">
                        <div><span>Type:</span></div>
                        <div><span>{{ element.type }}</span></div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="gridForLegend" *ngIf="!element.priority">
                        <div><span>Status:</span></div>
                        <div>{{ element.status }}</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="gridForLegend" *ngIf="!element.priority">
                        <div><span>Note:</span></div>
                        <div>
                            <span *ngIf="element.note">{{ element.note }}</span>
                            <span *ngIf="!element.note">-</span>
                        </div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="star">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{element:element}">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
            No results
        </div>
    
        <mat-paginator 
            [pageSizeOptions]="[8]"
            showFirstLastButtons 
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>
  
<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-anime="element">

        <button
            *ngIf="dataUserConnected.roleUpdateAnime && !anime.season" 
            type="button"
            (click)="editAnime(anime)"  
            mat-menu-item>
            <mat-icon aria-label="Edit" style="color: #9C27B0;">edit</mat-icon>
            <span>Edit</span>
        </button>

        <button 
            *ngIf="anime.season"  
            type="button" 
            mat-menu-item 
            (click)="viewOtherSeasonsAndMovies(anime, contentSeasonAndMoviesList)">
            <mat-icon style="color: #0935c5">list</mat-icon>
            <span>Seasons / Movies</span>
        </button>

        <button mat-menu-item *ngIf="anime.statusId !== 3 && !anime.season" [hidden]="anime.statusId == 4"> 
            <mat-icon *ngIf="anime.statusId == 1" style="color: #EF6C00;">remove_red_eye</mat-icon>
            <mat-icon *ngIf="anime.statusId == 2" style="color: #2E7D32;">cloud_download</mat-icon>
            <mat-icon *ngIf="anime.statusId == 5" style="color: #EF6C00;">search</mat-icon>
            <a href="{{ anime.path }}" target="_blank" style="text-decoration: none;">
              <span *ngIf="anime.statusId == 1" style="color: black !important;">Check</span>
              <span *ngIf="anime.statusId == 2" style="color: black !important;">Download</span>
              <span *ngIf="anime.statusId == 5" style="color: black !important;">Search</span>
            </a>  
        </button>

        <button 
            type="button"
            *ngIf="dataUserConnected.roleDeleteAnime && !anime.season" 
            mat-menu-item 
            (click)="openDeleteAnimeModal(anime, contentDeleteAnime)">
            <mat-icon style="color: #f44336;">delete</mat-icon>
            <span>Delete</span>
        </button>

    </ng-template>
</mat-menu>

<ng-template #contentDeleteAnime>

    <div mat-dialog-title class="dialog-title">
      <h2 class="text-application">Are you sure ?</h2>
    </div>
  
    <div mat-dialog-content>
        <div class="gridForDelete text-application">
            <div><span>Name:</span></div>
            <div>{{ animeToDelete.nameAnime }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Date:</span></div>
            <div>{{ animeToDelete.date | date:'dd/MM/yyyy' }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Status:</span></div>
            <div>{{ animeToDelete.status }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Note:</span></div>
            <div>{{ animeToDelete.note }}</div>
        </div> 
    </div>

    <br>

    <div class="row justify-content-center" mat-dialog-actions>
        <button 
            mat-button 
            type="button" 
            [mat-dialog-close]="1" 
            (click)="confirmDelete()" 
            style="background:rgb(221, 51, 51);color: white;" 
            class="text-application">
            Delete
        </button>

        <button 
            mat-button 
            type="button" 
            (click)="close()" 
            tabindex="-1" 
            style="background:#607D8B;color: white;" 
            class="text-application">
            Cancel
        </button>
    </div>
  
</ng-template>

<ng-template #contentSeasonAndMoviesList>

    <list-seasons-movies-mobile 
        [listAnimesByCurrentName]="listAnimesByCurrentName" 
        [currentName]="currentName" 
        [dataUserConnected]="dataUserConnected"
        [allAnimes]="allAnimes">
    </list-seasons-movies-mobile>
    
</ng-template>