<h2 *ngIf="listPartsByParentFilmKey.length == 1" class="text-application">No parts yet</h2>
<h2 *ngIf="listPartsByParentFilmKey.length > 1" class="text-application">All parts</h2>

<mat-grid-list *ngIf="listPartsByParentFilmKey.length == 2" cols=2 #grid rowHeight="300px" gutterSize="15px">
    <mat-grid-tile *ngFor="let movie of listPartsByParentFilmKey">
        <div class="card" (click)="sendDetailsMovie(movie)">
            <img *ngIf="movie.imageUrl" [src]="movie.imageUrl" class="movie-image">
            <img *ngIf="!movie.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="movie-image">    
        </div>  
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="listPartsByParentFilmKey.length > 2" cols=3 #grid rowHeight="300px" gutterSize="15px">
    <mat-grid-tile *ngFor="let movie of listPartsByParentFilmKey">
        <div class="card" (click)="sendDetailsMovie(movie)">
            <img *ngIf="movie.imageUrl" [src]="movie.imageUrl" class="movie-image">
            <img *ngIf="!movie.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="movie-image">    
        </div>   
    </mat-grid-tile>
</mat-grid-list>