.sizePicture {
    border: 1px solid #4d4c4c;
    height: 75px;
    width: 75px;
    color: coral;
    font-weight: bold;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}
.imageEmployee {
    border: 1px solid #4d4c4c;
    height: 700px;
    width: 100%;
    color: coral;
    font-weight: bold;
    background-size: cover;
}
.styleProgress {
    height: 7mm; 
    width: 100%
}
.progressIncomplete {
    color:rgb(255, 60, 0); 
    font-size: 17px; 
    font-weight: 410;
}
.progressComplete {
    color:rgb(1, 153, 34);  
    font-size: 17px; 
    font-weight: 410;
}