<img *ngIf="employee.imageUrl" class="sizePicture" [src]="employee.imageUrl"
    (click)="showEmployeeImage(contentEmployeePicture)">

<img *ngIf="!employee.imageUrl" class="sizePicture" src="/assets/pictures/NoImageAvailable.png"
(click)="showEmployeeImage(contentEmployeePicture)">

<ng-template #contentEmployeePicture let-modal let-c="close" let-d="dismiss">
    <div class="modal-header text-center">
        <h4 class="modal-title w-100">Employee Picture Preview</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button> 
    </div>
    <div class="modal-body">
        <img [src]='pictureEmployee' *ngIf="pictureEmployee" class="imageEmployee">
        <img src="/assets/pictures/NoImageAvailable.png" *ngIf="!pictureEmployee" class="imageEmployee">
        <br>
        <input type="file" name="file" (input)="onFileChanged($event)" class="form-control"
            accept=".jpeg,.jpg,.png,.svg" />
        <br>
        <div *ngIf="progressValue | async as val">
            <progress type="warning" [value]="val" class="styleProgress" max="100"></progress>
            <br />
            <span *ngIf="val<100" class="progressIncomplete">{{ val | number}}% </span>
            <span *ngIf="val == 100" class="progressComplete">Completed !</span>
        </div>
    </div>
</ng-template>