<h3 *ngIf="!serie.key" mat-dialog-title>Add new serie</h3>
<h3 *ngIf="serie.key" mat-dialog-title>Edit serie</h3>

<div class="row">
    <div class="col-md-12">
        <form (ngSubmit)="save(f.value)" #f="ngForm">

            <mat-form-field color="accent" style="width: 305px;">
                <input matInput #input type="text" placeholder="Name" [(ngModel)]="serie.nameSerie" name="nameSerie" required>
                <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
    
            <mat-form-field color="accent" style="width: 305px;">
                <input matInput #input type="date" placeholder="Date" [(ngModel)]="serie.date" name="date" readonly>
                <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
    
            <mat-form-field color="accent" style="width: 305px;">
                <mat-select placeholder="Status" [(ngModel)]="serie.statusId" name="statusId" required>
                    <mat-option value=""></mat-option>
                    <mat-option *ngFor="let statusSerie of statusSeries" [value]="statusSerie.id">
                        {{statusSerie.status}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field color="accent" style="width: 100px;">
                        <mat-select placeholder="Curr ep" [(ngModel)]="serie.currentEpisode" name="currentEpisode">
                            <mat-option value=""></mat-option>
                            <mat-option *ngFor="let nbr of nbrsList" [value]="nbr">
                                {{nbr}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                    <mat-form-field color="accent" style="width: 100px;">
                        <mat-select placeholder="Total ep" [(ngModel)]="serie.totalEpisodes" name="totalEpisodes">
                            <mat-option value=""></mat-option>
                            <mat-option *ngFor="let nbr of nbrsList" [value]="nbr">
                                {{nbr}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
    
            <mat-form-field color="accent" style="width: 305px;">
                <textarea matInput #input type="text" placeholder="Note" [(ngModel)]="serie.note" name="note" rows="4" cols="40"></textarea>
            </mat-form-field>
    
            <mat-form-field *ngIf="serie.statusId && (serie.statusId == 1 || serie.statusId == 2)" color="accent" style="width: 305px;">
                <textarea matInput #input type="text" placeholder="Path" [(ngModel)]="serie.path" name="path" rows="4" cols="40"></textarea>
            </mat-form-field>
    
            <mat-form-field style="width: 305px;">
                <input matInput #input [(ngModel)]="serie.imageUrl" name="imageUrl" id="imageUrl" type="text" hidden>
                <input type="file" name="file" (input)="onFileChanged($event)" accept=".jpeg,.jpg,.png,.svg">
            </mat-form-field>
    
            <div class="form" *ngIf="progressValue | async as val">
                <progress type="warning" [value]="val" class="styleProgress" max="100"></progress>
            </div>
    
            <div class="form" *ngIf="progressValue | async as val">
                <span *ngIf="val<100" class="progressIncomplete">{{ val | number}}% </span>
                <span *ngIf="val == 100" class="progressComplete">Completed !</span>
            </div>

            <div class="row justify-content-center" mat-dialog-actions>
                <button mat-button type="submit" [disabled]="!f.valid" [mat-dialog-close]="1" style="background:#FF5722;color: white;">Save</button>
                <button mat-button type="button" (click)="modalRef.close()" tabindex="-1" style="background:#607D8B;color: white;">Cancel</button>
            </div>
        
        </form>
    </div>
</div>