<mat-toolbar color="primary" *ngIf="user && isConnected">
  <span class="fill-remaining-space text-application">Personal Informations</span>

  <span class="fill-remaining-space" *ngIf="isMobile">

    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()" style="float: right;">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false" yPosition="above" xPosition="before">
      <span (click)="menuTrigger.closeMenu()">

        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span routerLink="/home">Home</span>
        </button>

        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span (click)="logout()">Logout</span>
        </button>

      </span>
    </mat-menu>
  </span>

  <span class="fill-remaining-space" *ngIf="!isMobile">

    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" style="float: right;">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false" yPosition="above" xPosition="before">
      <span (mouseleave)="menuTrigger.closeMenu()">

        <button mat-menu-item>
          <mat-icon>home</mat-icon>
          <span routerLink="/home">Home</span>
        </button>

        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span (click)="logout()">Logout</span>
        </button>

      </span>
    </mat-menu>
  </span>
</mat-toolbar>