<div class="container margForm">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
            <label for="name">Product</label>
            <input #name="ngModel" [(ngModel)]="stockOut.name" name="name" id="name" type="text" class="form-control" required [minlength]="3">
            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                <div *ngIf="name.errors.required">Name is required.</div>
                <div *ngIf="name.errors?.minlength">Name should contain at least 3 characters or higher.</div> 
            </div>
        </div>
        <div class="form-group">
            <label for="quantity">Sorted Quantity</label>
            <div class="input-group">
                <span class="input-group-text">Box</span>                
                <input #quantity="ngModel" [(ngModel)]="stockOut.quantity" name="quantity" id="quantity" type="number" class="form-control" required>
            </div>
            <div class="alert alert-danger" *ngIf="quantity.touched && quantity.invalid">
                Sorted quantity is required.
            </div>
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input #date="ngModel" [(ngModel)]="stockOut.date" name="date" id="date" type="date" class="form-control">
        </div>
        <div class="form-group">
            <label for="time">Time</label>
            <input #time="ngModel" [(ngModel)]="stockOut.time" name="time" id="time" type="time" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input #description="ngModel" [(ngModel)]="stockOut.description" name="description" id="description" type="text" class="form-control">
        </div>
        <button class="btn btn-primary">Save</button>
    </form>
</div>