<div mat-dialog-title class="dialog-title">
    <h2 class="text-application">Tasks for
        <span *ngIf="tasksByStatus == 1">today</span>
        <span *ngIf="tasksByStatus == 2">tomorrow</span>
        <span *ngIf="tasksByStatus == 3">this week</span>
        <span *ngIf="tasksByStatus == 4">next week</span>
        <span *ngIf="tasksByStatus == 5">later</span>
    </h2>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<task-data *ngFor="let task of tasksListByStatus" [task]="task" [isMobile]="isMobile"></task-data>