<div class="container">
    <h3 *ngIf="!anime.key" mat-dialog-title class="text-application">Add new anime</h3>
    <h3 *ngIf="anime.key" mat-dialog-title class="text-application">Edit anime</h3>
  
    <div class="row">
      <div class="col-md-6">
        <form (ngSubmit)="save(f.value)" #f="ngForm">
  
          <div class="form">
            <mat-form-field color="accent">
              <mat-placeholder class="text-application"><span>Name</span></mat-placeholder>
              <input matInput #input type="text" [(ngModel)]="anime.nameAnime" name="nameAnime" required class="text-application">
              <mat-error *ngIf="f.invalid" class="text-application">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
      
          <div class="form">
            <mat-form-field color="accent">
              <mat-placeholder class="text-application"><span>Date</span></mat-placeholder>
              <input matInput #input type="date" [(ngModel)]="anime.date" name="date" readonly class="text-application">
              <mat-error *ngIf="f.invalid" class="text-application">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
      
          <div class="form">
            <mat-form-field color="accent">
              <mat-placeholder class="text-application"><span>Status</span></mat-placeholder>
              <mat-select [(ngModel)]="anime.statusId" name="statusId" required class="text-application">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let statusAnime of statusAnimes" [value]="statusAnime.id">
                    <span class="text-application">{{statusAnime.status}}</span>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f.invalid" class="text-application">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
    
          <div class="form">
            <mat-form-field color="accent">
              <mat-placeholder class="text-application"><span>Note</span></mat-placeholder>
              <textarea matInput #input type="text" [(ngModel)]="anime.note" name="note" rows="4" cols="40" class="text-application"></textarea>
            </mat-form-field>
          </div>
    
          <div class="form" *ngIf="anime.statusId && (anime.statusId == 1 || anime.statusId == 2)">
            <mat-form-field color="accent">
              <mat-placeholder class="text-application"><span>Path</span></mat-placeholder>
              <input matInput #input type="text" [(ngModel)]="anime.path" name="path" class="text-application">
            </mat-form-field>
          </div>
    
          <div class="form">
            <input matInput #input [(ngModel)]="anime.imageUrl" name="imageUrl" id="imageUrl" type="text" hidden>
            <input type="file" name="file" (input)="onFileChanged($event)" accept=".jpeg,.jpg,.png,.svg">
          </div>
    
          <div class="form" *ngIf="progressValue | async as val">
            <progress type="warning" [value]="val" class="styleProgress" max="100"></progress>
          </div>
  
          <div class="form" *ngIf="progressValue | async as val">
            <span *ngIf="val<100" class="progressIncomplete">{{ val | number}}% </span>
            <span *ngIf="val == 100" class="progressComplete">Completed !</span>
          </div>

          <div class="row justify-content-center" mat-dialog-actions>
            <button mat-button type="submit" [disabled]="!f.valid" [mat-dialog-close]="1" style="background:#FF5722;color: white;" class="text-application">Save</button>
            <button mat-button type="button" (click)="close()" tabindex="-1" style="background:#607D8B;color: white;" class="text-application">Cancel</button>
          </div>
      
        </form>
      </div>
      <div class="col-md-6">
        <div class="row justify-content-center">
          <mat-card class="example-card">
              <img *ngIf="anime.imageUrl" mat-card-image [src]="anime.imageUrl" class="stylePicture">
              <img *ngIf="!anime.imageUrl" mat-card-image src="/assets/pictures/NoImageAvailable.png" class="stylePicture">
          </mat-card>
        </div>
      </div>
    </div>
  </div>

