.styleProgress {
    height: 7mm; 
    width: 100%
}

.progressIncomplete {
    color:rgb(255, 60, 0); 
    font-size: 17px; 
    font-weight: 410;
}

.progressComplete {
    color:rgb(1, 153, 34);  
    font-size: 17px; 
    font-weight: 410;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
}
  
.container > * {
    width: 100%;
}
  
.form {
    display: flex;
    padding-top: 6px;
}
  
.mat-form-field {
    font-size: 16px;
    flex-grow: 1;
}

.stylePicture {
    width: 300px;
    height: 435px;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
    margin-left: -6px;
}

.example-card {
    border-radius: 20px;
    width: 324px;
    height: 463px;
    border: 1px solid #c5c5c5;
    margin-top: 20px;
    margin-left: 20px;
}

.mat-card-image:first-child {
    margin-top: -3px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}