<h3 *ngIf="!debt.key" mat-dialog-title>Add new debt</h3>
<h3 *ngIf="debt.key" mat-dialog-title>Edit debt</h3>

<br>

<div class="row">
    <div class="col-md-12">
        <form (ngSubmit)="save()" #f="ngForm">

            <mat-grid-list cols="2" rowHeight="4:1" style="font-size: 20px;">
                <mat-grid-tile>Rest money</mat-grid-tile>
                <mat-grid-tile>
                    <mat-checkbox name="isRestMoney" [(ngModel)]="debt.isRestMoney" (ngModelChange)="checkAddRestMoney()" style="margin-top: 10px;"></mat-checkbox>
                </mat-grid-tile>
            </mat-grid-list>

            <br>

            <mat-grid-list cols="2" rowHeight="4:1" style="font-size: 20px;">
                <mat-grid-tile>Debt to pay</mat-grid-tile>
                <mat-grid-tile>
                    <mat-checkbox name="debtForPay" [(ngModel)]="debt.debtForPay" (ngModelChange)="checkDebtForPay()" style="margin-top: 10px;"></mat-checkbox>
                </mat-grid-tile>
            </mat-grid-list>

            <br>

            <mat-grid-list cols="2" rowHeight="4:1" style="font-size: 20px;">
                <mat-grid-tile>Debt to get</mat-grid-tile>
                <mat-grid-tile>
                    <mat-checkbox name="debtToGet" [(ngModel)]="debt.debtToGet" (ngModelChange)="checkDebtToGet()" style="margin-top: 10px;"></mat-checkbox>
                </mat-grid-tile>
            </mat-grid-list>

            <br>

            <div *ngIf="debt.isRestMoney || debt.debtForPay || debt.debtToGet">
                <mat-form-field color="accent" style="width: 305px;">
                    <input matInput #input type="date" placeholder="Date" [(ngModel)]="debt.date" name="date">
                    <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field color="accent" style="width: 305px;">
                    <mat-select placeholder="Place" [(ngModel)]="debt.placeId" name="placeId" [required]="debt.isRestMoney">
                        <mat-option *ngFor="let placeMoney of placesMoney" [value]="placeMoney.id" [hidden]="placeMoney.id == 5 && debt.isRestMoney">
                            {{placeMoney.place}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field color="accent" *ngIf="debt.isRestMoney" style="width: 305px;">
                    <input matInput #input type="text" placeholder="Rest Money" [(ngModel)]="debt.restMoney" name="restMoney" required>
                    <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field color="accent" *ngIf="debt.debtForPay || debt.debtToGet" style="width: 305px;">
                    <input matInput #input type="text" placeholder="Debt" [(ngModel)]="debt.financialDebt" name="financialDebt" required>
                    <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field color="accent" style="width: 305px;">
                    <mat-select placeholder="Unit" [(ngModel)]="selectedUnit" name="selectedUnit" (selectionChange)="onSelectUnit()">
                        <mat-option *ngFor="let unit of units" [value]="unit.unitName">
                            {{unit.unitName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent" *ngIf="debt.debtForPay" style="width: 305px;">
                    <input matInput #input type="text" placeholder="Creditor" [(ngModel)]="debt.creditor" name="creditor" required>
                    <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field color="accent" *ngIf="debt.debtToGet" style="width: 305px;">
                    <input matInput #input type="text" placeholder="Debtor" [(ngModel)]="debt.debtor" name="debtor" required>
                    <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <div *ngIf="debt.debtForPay">
                    <mat-grid-list cols="2" rowHeight="4:1" style="font-size: 20px;">
                        <mat-grid-tile>Pay this month</mat-grid-tile>
                        <mat-grid-tile>
                            <mat-checkbox
                                name="toPayThisMonth"
                                [(ngModel)]="debt.toPayThisMonth" 
                                style="margin-left:30px;vertical-align: bottom;" 
                                (ngModelChange)="checkToPayThisMonth()">
                            </mat-checkbox>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <br>
    
                    <mat-grid-list cols="2" rowHeight="4:1" style="font-size: 20px;">
                        <mat-grid-tile>Pay next month</mat-grid-tile>
                        <mat-grid-tile>
                            <mat-checkbox 
                                name="toPayNextMonth" 
                                [(ngModel)]="debt.toPayNextMonth" 
                                style="margin-left:30px;vertical-align: bottom;" 
                                (ngModelChange)="checkToPayNextMonth()">
                            </mat-checkbox>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <br>
    
                    <mat-grid-list cols="2" rowHeight="4:1" style="font-size: 20px;">
                        <mat-grid-tile><span style="margin-right: 25px;">Not pay Now</span></mat-grid-tile>
                        <mat-grid-tile>
                            <mat-checkbox 
                                name="notToPayForNow" 
                                [(ngModel)]="debt.notToPayForNow" 
                                style="margin-left:30px;vertical-align: bottom;" 
                                (ngModelChange)="checkNotToPayForNow()">
                            </mat-checkbox>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>

                <div *ngIf="debt.debtToGet">
                    <mat-grid-list cols="2" rowHeight="4:1" style="font-size: 20px;">
                        <mat-grid-tile>Get this month</mat-grid-tile>
                        <mat-grid-tile>
                            <mat-checkbox 
                                name="toGetThisMonth" 
                                [(ngModel)]="debt.toGetThisMonth" 
                                style="margin-left:30px;vertical-align: bottom;" 
                                (ngModelChange)="checkToGetThisMonth()">
                            </mat-checkbox>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <br>
    
                    <mat-grid-list cols="2" rowHeight="4:1" style="font-size: 20px;">
                        <mat-grid-tile>Get next month</mat-grid-tile>
                        <mat-grid-tile>
                            <mat-checkbox 
                                name="toGetNextMonth" 
                                [(ngModel)]="debt.toGetNextMonth" 
                                style="margin-left:30px;vertical-align: bottom;" 
                                (ngModelChange)="checkToGetNextMonth()">
                            </mat-checkbox>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <br>
    
                    <mat-grid-list cols="2" rowHeight="4:1" style="font-size: 20px;">
                        <mat-grid-tile><span style="margin-right: 25px;">Not get Now</span></mat-grid-tile>
                        <mat-grid-tile>
                            <mat-checkbox 
                                name="notToGetForNow" 
                                [(ngModel)]="debt.notToGetForNow" 
                                style="margin-left:30px;vertical-align: bottom;" 
                                (ngModelChange)="checkNotToGetForNow()">
                            </mat-checkbox>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>

                <mat-form-field color="accent" style="width: 305px;">
                    <textarea matInput #input type="text" placeholder="Note" [(ngModel)]="debt.note" name="note" rows="4" cols="80" required></textarea>
                </mat-form-field>
            </div>

            <div class="row justify-content-center" mat-dialog-actions *ngIf="debt.isRestMoney || debt.debtForPay || debt.debtToGet">
                <button mat-button type="submit" [disabled]="!f.valid" [mat-dialog-close]="1" style="background:#FF5722;color: white;">Save</button>
                <button mat-button type="button" (click)="close()" tabindex="-1" style="background:#607D8B;color: white;">Cancel</button>
            </div>

        </form>
    </div>
</div>
