<h1 class="titleTextInterface text-application">Animes</h1>

<div class="row">
    <div class="col-md-3">
        <mat-form-field class="widthInput">
            <mat-label class="text-application">Name</mat-label>
            <input matInput type="text" name="animeName" (keyup)="getAllAnimes()" [(ngModel)]="animeName"/>
        </mat-form-field>
    </div>
    <div class="col-md-3">
        <mat-form-field class="widthInput">
            <mat-label class="text-application">Status</mat-label>
			<mat-select name="statusId" [(ngModel)]="statusId" (selectionChange)="getAllAnimes()">
                <mat-option value=""></mat-option>
				<mat-option *ngFor="let statusAnime of statusAnimes" [value]="statusAnime.id">
                    <span class="text-application">{{statusAnime.status}}</span>
				</mat-option>
			</mat-select>
		</mat-form-field>
    </div>
    <div class="col-md-2">
        <ng-container *ngIf="statusId">
            <mat-form-field class="widthInput" *ngIf="statusId == 1">
                <mat-select [(ngModel)]="optionSelected" name="optionSelected" class="text-application" (selectionChange)="getAllAnimes()">
                    <mat-option value=""></mat-option>
                    <mat-option [value]="1" class="text-application">Not yet aired</mat-option>
                    <mat-option [value]="2" class="text-application">{{nbrAnimesToCheckToday}}&nbsp;anime(s) to check Today</mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-checkbox *ngIf="statusId == 3" name="dislike" [(ngModel)]="dislike" (ngModelChange)="getAllAnimes()" class="mat-checkbox-layout" style="margin-top: 10%;">
                <span class="text-application">Dislike</span>
            </mat-checkbox>
        </ng-container> 
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <button
            type="button" 
            (click)="newAnime()" 
            mat-mini-fab 
            color="primary" 
            style="background: #2196F3;float: right;">
            <mat-icon style="color: white;">add</mat-icon>
        </button>
    </div> 
</div>

<br>

<mat-grid-list *ngIf="animesList.length !== 0 && animesList.length == 1" cols=1 #grid rowHeight="350px" gutterSize="15px">
    <mat-grid-tile *ngFor="let anime of (animesList | paginate: { itemsPerPage: 1, currentPage: p })">
        <div class="flip-container">
            <div class="card">
                <div class="front">
                    <img *ngIf="anime.imageUrl" [src]="anime.imageUrl" class="anime-image">
                    <img *ngIf="!anime.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="anime-image">    
                </div>
                <div class="back">
                    <h4 
                        class="text-application" 
                        style="text-align: center;font-weight: 600;"
                        [ngStyle]="{'cursor': isDesktop ? 'pointer': ''}" 
                        (click)="copyText(anime.nameAnime)">
                        {{ anime.nameAnime }}
                    </h4> 
                    <br>
                    <button
                        *ngIf="anime.haveSeasons" 
                        type="button"
                        mat-button 
                        (click)="showDetailsAnime(anime)"
                        class="style-button text-application"
                        [ngStyle]="{'margin-bottom': anime.nameAnime.length > 25 ? '3%' : ''}">
                        <mat-icon style="color: #a54403">view_list</mat-icon>
                        <span>Details</span>
                    </button>           
                    <button 
                        *ngIf="(!anime.parentAnimeKey && !anime.haveSeasons) || (statusId && !anime.haveSeasons)" 
                        type="button"
                        mat-button
                        [matMenuTriggerFor]="menu" 
                        class="style-button text-application"
                        [ngStyle]="{'margin-bottom': anime.nameAnime.length > 25 ? '3%' : ''}">
                        <mat-icon style="color: #07609b">calendar_view_day</mat-icon>
                        Actions
                    </button>
                    <mat-menu #menu="matMenu" class="my-menu" xPosition="before">
                        <button
                            mat-menu-item 
                            class="text-application"
                            (click)="viewDetailsAnime(anime)">
                            <mat-icon style="color: #07949b">remove_red_eye</mat-icon>
                            View
                        </button>
                        <button
                            mat-menu-item 
                            class="text-application"
                            (click)="editAnime(anime)">
                            <mat-icon style="color: #9C27B0">edit</mat-icon>
                            Edit
                        </button>
                        <button
                            *ngIf="anime.statusId == 1 && anime.path" 
                            mat-menu-item 
                            class="text-application"
                            (click)="followLink(anime.path)">
                            <mat-icon style="color: #3f51b5">remove_red_eye</mat-icon>
                            Check
                        </button>
                        <button
                            *ngIf="anime.statusId == 2 && anime.path" 
                            mat-menu-item 
                            class="text-application"
                            (click)="followLink(anime.path)">
                            <mat-icon style="color: green">cloud_download</mat-icon>
                            Download
                        </button>
                        <button
                            *ngIf="anime.statusId == 4 && anime.path" 
                            mat-menu-item 
                            class="text-application"
                            (click)="followLink(anime.path)">
                            <mat-icon style="color: #3f51b5">remove_red_eye</mat-icon>
                            Watch
                        </button>
                        <button
                            *ngIf="anime.statusId == 5 && anime.path"
                            mat-menu-item 
                            class="text-application"
                            (click)="followLink(anime.path)">
                            <mat-icon style="color: #0e8999">search</mat-icon>
                            Search
                        </button>
                        <button
                            mat-menu-item 
                            class="text-application"
                            (click)="deleteAnime(anime.key)">
                            <mat-icon style="color: #f44336;">delete</mat-icon>
                            Delete
                        </button>
                    </mat-menu>   
                    <br><br>
                </div>
            </div>
        </div>   
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="animesList.length !== 0 && animesList.length == 2" cols=2 #grid rowHeight="350px" gutterSize="15px">
    <mat-grid-tile *ngFor="let anime of (animesList | paginate: { itemsPerPage: 2, currentPage: p })">
        <div class="flip-container">
            <div class="card">
                <div class="front">
                    <img *ngIf="anime.imageUrl" [src]="anime.imageUrl" class="anime-image">
                    <img *ngIf="!anime.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="anime-image">    
                </div>
                <div class="back">
                    <h4 
                        class="text-application" 
                        style="text-align: center;font-weight: 600;"
                        [ngStyle]="{'cursor': isDesktop ? 'pointer': ''}" 
                        (click)="copyText(anime.nameAnime)">
                        {{ anime.nameAnime }}
                    </h4> 
                    <br>
                    <button
                        *ngIf="anime.haveSeasons" 
                        type="button"
                        mat-button 
                        (click)="showDetailsAnime(anime)"
                        class="style-button text-application"
                        [ngStyle]="{'margin-bottom': anime.nameAnime.length > 25 ? '3%' : ''}">
                        <mat-icon style="color: #a54403">view_list</mat-icon>
                        <span>Details</span>
                    </button>           
                    <button 
                        *ngIf="(!anime.parentAnimeKey && !anime.haveSeasons) || (statusId && !anime.haveSeasons)" 
                        type="button"
                        mat-button
                        [matMenuTriggerFor]="menu" 
                        class="style-button text-application"
                        [ngStyle]="{'margin-bottom': anime.nameAnime.length > 25 ? '3%' : ''}">
                        <mat-icon style="color: #07609b">calendar_view_day</mat-icon>
                        Actions
                    </button>
                    <mat-menu #menu="matMenu" class="my-menu" xPosition="before">
                        <button
                            mat-menu-item 
                            class="text-application"
                            (click)="viewDetailsAnime(anime)">
                            <mat-icon style="color: #07949b">remove_red_eye</mat-icon>
                            View
                        </button>
                        <button
                            mat-menu-item 
                            class="text-application"
                            (click)="editAnime(anime)">
                            <mat-icon style="color: #9C27B0">edit</mat-icon>
                            Edit
                        </button>
                        <button
                            *ngIf="anime.statusId == 1 && anime.path" 
                            mat-menu-item 
                            class="text-application"
                            (click)="followLink(anime.path)">
                            <mat-icon style="color: #3f51b5">remove_red_eye</mat-icon>
                            Check
                        </button>
                        <button
                            *ngIf="anime.statusId == 2 && anime.path" 
                            mat-menu-item 
                            class="text-application"
                            (click)="followLink(anime.path)">
                            <mat-icon style="color: green">cloud_download</mat-icon>
                            Download
                        </button>
                        <button
                            *ngIf="anime.statusId == 4 && anime.path" 
                            mat-menu-item 
                            class="text-application"
                            (click)="followLink(anime.path)">
                            <mat-icon style="color: #3f51b5">remove_red_eye</mat-icon>
                            Watch
                        </button>
                        <button
                            *ngIf="anime.statusId == 5 && anime.path"
                            mat-menu-item 
                            class="text-application"
                            (click)="followLink(anime.path)">
                            <mat-icon style="color: #0e8999">search</mat-icon>
                            Search
                        </button>
                        <button
                            mat-menu-item 
                            class="text-application"
                            (click)="deleteAnime(anime.key)">
                            <mat-icon style="color: #f44336;">delete</mat-icon>
                            Delete
                        </button>
                    </mat-menu>  
                    <br><br>
                </div>
            </div>
        </div>   
    </mat-grid-tile>
</mat-grid-list>

<ng-container *ngIf="isDesktop">
    <mat-grid-list *ngIf="animesList.length !== 0 && animesList.length == 3" cols=3 #grid rowHeight="320px" gutterSize="15px">
        <mat-grid-tile *ngFor="let anime of (animesList | paginate: { itemsPerPage: 3, currentPage: p })">
            <div class="flip-container">
                <div class="card">
                    <div class="front">
                        <img *ngIf="anime.imageUrl" [src]="anime.imageUrl" class="anime-image">
                        <img *ngIf="!anime.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="anime-image">    
                    </div>
                    <div class="back">
                        <h4 class="text-application" style="text-align: center;font-weight: 600;cursor: pointer;" (click)="copyText(anime.nameAnime)">
                            {{ anime.nameAnime }}
                        </h4>
                        <br>
                        <button
                            *ngIf="anime.haveSeasons"  
                            type="button"
                            mat-button 
                            (click)="showDetailsAnime(anime)"
                            class="style-button text-application"
                            [ngStyle]="{'margin-bottom': anime.nameAnime.length > 25 ? '3%' : ''}">
                            <mat-icon style="color: #a54403">view_list</mat-icon>
                            <span>Details</span>
                        </button>           
                        <button 
                            *ngIf="(!anime.parentAnimeKey && !anime.haveSeasons) || (statusId && !anime.haveSeasons)" 
                            type="button"
                            mat-button
                            [matMenuTriggerFor]="menu" 
                            class="style-button text-application"
                            [ngStyle]="{'margin-bottom': anime.nameAnime.length > 25 ? '3%' : ''}">
                            <mat-icon style="color: #07609b">calendar_view_day</mat-icon>
                            Actions
                        </button>
                        <mat-menu #menu="matMenu" class="my-menu" xPosition="before">
                            <button
                                mat-menu-item 
                                class="text-application"
                                (click)="viewDetailsAnime(anime)">
                                <mat-icon style="color: #07949b">remove_red_eye</mat-icon>
                                View
                            </button>
                            <button
                                mat-menu-item 
                                class="text-application"
                                (click)="editAnime(anime)">
                                <mat-icon style="color: #9C27B0">edit</mat-icon>
                                Edit
                            </button>
                            <button
                                *ngIf="anime.statusId == 1 && anime.path" 
                                mat-menu-item 
                                class="text-application"
                                (click)="followLink(anime.path)">
                                <mat-icon style="color: #3f51b5">remove_red_eye</mat-icon>
                                Check
                            </button>
                            <button
                                *ngIf="anime.statusId == 2 && anime.path" 
                                mat-menu-item 
                                class="text-application"
                                (click)="followLink(anime.path)">
                                <mat-icon style="color: green">cloud_download</mat-icon>
                                Download
                            </button>
                            <button
                                *ngIf="anime.statusId == 4 && anime.path" 
                                mat-menu-item 
                                class="text-application"
                                (click)="followLink(anime.path)">
                                <mat-icon style="color: #3f51b5">remove_red_eye</mat-icon>
                                Watch
                            </button>
                            <button
                                *ngIf="anime.statusId == 5 && anime.path"
                                mat-menu-item 
                                class="text-application"
                                (click)="followLink(anime.path)">
                                <mat-icon style="color: #0e8999">search</mat-icon>
                                Search
                            </button>
                            <button
                                mat-menu-item 
                                class="text-application"
                                (click)="deleteAnime(anime.key)">
                                <mat-icon style="color: #f44336;">delete</mat-icon>
                                Delete
                            </button>
                        </mat-menu>   
                        <br><br>
                    </div>
                </div>
            </div>   
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list *ngIf="animesList.length !== 0 && animesList.length > 3" cols=4 #grid rowHeight="320px" gutterSize="15px">
        <mat-grid-tile *ngFor="let anime of (animesList | paginate: { itemsPerPage: 8, currentPage: p })">
            <div class="flip-container">
                <div class="card">
                    <div class="front">
                        <img *ngIf="anime.imageUrl" [src]="anime.imageUrl" class="anime-image">
                        <img *ngIf="!anime.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="anime-image">    
                    </div>
                    <div class="back">
                        <h4 class="text-application" style="text-align: center;font-weight: 600;cursor: pointer;" (click)="copyText(anime.nameAnime)">
                            {{ anime.nameAnime }}
                        </h4>
                        <br>
                        <button
                            *ngIf="anime.haveSeasons" 
                            type="button"
                            mat-button 
                            (click)="showDetailsAnime(anime)"
                            class="style-button text-application"
                            [ngStyle]="{'margin-bottom': anime.nameAnime.length > 25 ? '3%' : ''}">
                            <mat-icon style="color: #a54403">view_list</mat-icon>
                            <span>Details</span>
                        </button>           
                        <button 
                            *ngIf="(!anime.parentAnimeKey && !anime.haveSeasons) || (statusId && !anime.haveSeasons)" 
                            type="button"
                            mat-button
                            [matMenuTriggerFor]="menu" 
                            class="style-button text-application"
                            [ngStyle]="{'margin-bottom': anime.nameAnime.length > 25 ? '3%' : ''}">
                            <mat-icon style="color: #07609b">calendar_view_day</mat-icon>
                            Actions
                        </button>
                        <mat-menu #menu="matMenu" class="my-menu" xPosition="before">
                            <button
                                mat-menu-item 
                                class="text-application"
                                (click)="viewDetailsAnime(anime)">
                                <mat-icon style="color: #07949b">remove_red_eye</mat-icon>
                                View
                            </button>
                            <button
                                mat-menu-item 
                                class="text-application"
                                (click)="editAnime(anime)">
                                <mat-icon style="color: #9C27B0">edit</mat-icon>
                                Edit
                            </button>
                            <button
                                *ngIf="anime.statusId == 1 && anime.path" 
                                mat-menu-item 
                                class="text-application"
                                (click)="followLink(anime.path)">
                                <mat-icon style="color: #3f51b5">remove_red_eye</mat-icon>
                                Check
                            </button>
                            <button
                                *ngIf="anime.statusId == 2 && anime.path" 
                                mat-menu-item 
                                class="text-application"
                                (click)="followLink(anime.path)">
                                <mat-icon style="color: green">cloud_download</mat-icon>
                                Download
                            </button>
                            <button
                                *ngIf="anime.statusId == 4 && anime.path" 
                                mat-menu-item 
                                class="text-application"
                                (click)="followLink(anime.path)">
                                <mat-icon style="color: #3f51b5">remove_red_eye</mat-icon>
                                Watch
                            </button>
                            <button
                                *ngIf="anime.statusId == 5 && anime.path"
                                mat-menu-item 
                                class="text-application"
                                (click)="followLink(anime.path)">
                                <mat-icon style="color: #0e8999">search</mat-icon>
                                Search
                            </button>
                            <button
                                mat-menu-item 
                                class="text-application"
                                (click)="deleteAnime(anime.key)">
                                <mat-icon style="color: #f44336;">delete</mat-icon>
                                Delete
                            </button>
                        </mat-menu>   
                        <br><br>
                    </div>
                </div>
            </div>   
        </mat-grid-tile>
    </mat-grid-list>
</ng-container>

<ng-container *ngIf="isTablet">
    <mat-grid-list *ngIf="animesList.length !== 0 && animesList.length > 2" cols=3 #grid rowHeight="320px" gutterSize="15px">
        <mat-grid-tile *ngFor="let anime of (animesList | paginate: { itemsPerPage: 6, currentPage: p })">
            <div class="flip-container">
                <div class="card">
                    <div class="front">
                        <img *ngIf="anime.imageUrl" [src]="anime.imageUrl" class="anime-image">
                        <img *ngIf="!anime.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="anime-image">    
                    </div>
                    <div class="back">
                        <h4 class="text-application" style="text-align: center;font-weight: 600;" (click)="copyText(anime.nameAnime)">
                            {{ anime.nameAnime }}
                        </h4>
                        <br>
                        <button
                            *ngIf="anime.haveSeasons" 
                            type="button"
                            mat-button 
                            (click)="showDetailsAnime(anime)"
                            class="style-button text-application"
                            [ngStyle]="{'margin-bottom': anime.nameAnime.length > 25 ? '3%' : ''}">
                            <mat-icon style="color: #a54403">view_list</mat-icon>
                            <span>Details</span>
                        </button>           
                        <button 
                            *ngIf="(!anime.parentAnimeKey && !anime.haveSeasons) || (statusId && !anime.haveSeasons)" 
                            type="button"
                            mat-button
                            [matMenuTriggerFor]="menu" 
                            class="style-button text-application"
                            [ngStyle]="{'margin-bottom': anime.nameAnime.length > 25 ? '3%' : ''}">
                            <mat-icon style="color: #07609b">calendar_view_day</mat-icon>
                            Actions
                        </button>
                        <mat-menu #menu="matMenu" class="my-menu" xPosition="before">
                            <button
                                mat-menu-item 
                                class="text-application"
                                (click)="viewDetailsAnime(anime)">
                                <mat-icon style="color: #07949b">remove_red_eye</mat-icon>
                                View
                            </button>
                            <button
                                mat-menu-item 
                                class="text-application"
                                (click)="editAnime(anime)">
                                <mat-icon style="color: #9C27B0">edit</mat-icon>
                                Edit
                            </button>
                            <button
                                *ngIf="anime.statusId == 1 && anime.path" 
                                mat-menu-item 
                                class="text-application"
                                (click)="followLink(anime.path)">
                                <mat-icon style="color: #3f51b5">remove_red_eye</mat-icon>
                                Check
                            </button>
                            <button
                                *ngIf="anime.statusId == 2 && anime.path" 
                                mat-menu-item 
                                class="text-application"
                                (click)="followLink(anime.path)">
                                <mat-icon style="color: green">cloud_download</mat-icon>
                                Download
                            </button>
                            <button
                                *ngIf="anime.statusId == 4 && anime.path" 
                                mat-menu-item 
                                class="text-application"
                                (click)="followLink(anime.path)">
                                <mat-icon style="color: #3f51b5">remove_red_eye</mat-icon>
                                Watch
                            </button>
                            <button
                                *ngIf="anime.statusId == 5 && anime.path"
                                mat-menu-item 
                                class="text-application"
                                (click)="followLink(anime.path)">
                                <mat-icon style="color: #0e8999">search</mat-icon>
                                Search
                            </button>
                            <button
                                mat-menu-item 
                                class="text-application"
                                (click)="deleteAnime(anime.key)">
                                <mat-icon style="color: #f44336;">delete</mat-icon>
                                Delete
                            </button>
                        </mat-menu>  
                        <br><br>
                    </div>
                </div>
            </div>   
        </mat-grid-tile>
    </mat-grid-list>
</ng-container>

<br>

<div *ngIf="animesList.length !== 0" class="pagination">
    <pagination-controls (pageChange)="p = $event;OnPageChange($event)"></pagination-controls>
</div>

<div *ngIf="animesList.length == 0" class="row justify-content-center no-results text-application">
    No results
</div>