<h1 *ngIf="!getDetailsAnime && !clickNewAnime" class="titleTextInterface text-application">Animes</h1>

<h1 *ngIf="getDetailsAnime && !clickNewAnime" class="titleTextInterface text-application">
    <mat-icon *ngIf="getDetailsAnime && !clickNewAnime" (click)="getAllAnimes()" class="aligned-with-text">home</mat-icon>
    &nbsp;&nbsp;&nbsp;
    {{ selectedAnime.nameAnime }}
</h1>

<h1 *ngIf="!getDetailsAnime && clickNewAnime" class="titleTextInterface text-application">New anime</h1>

<br>

<div class="row" *ngIf="!getDetailsAnime && !clickNewAnime">
    <div class="col-md-4">
        <mat-form-field class="widhtInput">
            <mat-label class="text-application">Name</mat-label>
            <input matInput type="text" name="animeName" (keyup)="getAllAnimes()" [(ngModel)]="animeName"/>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field style="width: 285px;">
            <mat-label class="text-application">Status</mat-label>
			<mat-select name="statusId" [(ngModel)]="statusId" (selectionChange)="getAllAnimes()">
                <mat-option value=""></mat-option>
				<mat-option *ngFor="let statusAnime of statusAnimes" [value]="statusAnime.id">
                    <span class="text-application">{{statusAnime.status}}</span>
				</mat-option>
			</mat-select>
		</mat-form-field>
    </div>
    <div class="col-md-4">
        <button
            *ngIf="dataUserConnected.roleAddAnime"
            type="button" 
            (click)="addNewAnime()" 
            mat-mini-fab 
            color="primary" 
            style="background: #2196F3;float: right;">
            <mat-icon style="color: white;">add</mat-icon>
        </button>

        <button 
            *ngIf="!sortByDesc"
            type="button"  
            mat-mini-fab 
            color="primary" 
            (click)="sortByRefAnimeDesc()" 
            style="background: #2196F3;float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;

        <button 
            *ngIf="sortByDesc"
            type="button"
            mat-mini-fab
            color="primary" 
            (click)="sortByRefAnimeAsc()" 
            style="background: #2196F3;float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;
    </div> 
</div>

<br *ngIf="!getDetailsAnime && !clickNewAnime">

<mat-grid-list *ngIf="pagedList.length !== 0 && pagedList.length == 1 && !getDetailsAnime && !clickNewAnime" cols=1 #grid rowHeight="350px" gutterSize="15px">
    <mat-grid-tile *ngFor="let anime of pagedList">
        <mat-card class="settings-card" style="cursor: pointer;border: 1px solid;" (click)="showDetailsAnime(anime)">       
            <img *ngIf="anime.imageUrl" [src]="anime.imageUrl" class="anime-image">
            <img *ngIf="!anime.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="anime-image">              
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="pagedList.length !== 0 && pagedList.length == 2 && !getDetailsAnime && !clickNewAnime" cols=2 #grid rowHeight="350px" gutterSize="15px">
    <mat-grid-tile *ngFor="let anime of pagedList">
        <mat-card class="settings-card" style="cursor: pointer;border: 1px solid;" (click)="showDetailsAnime(anime)">       
            <img *ngIf="anime.imageUrl" [src]="anime.imageUrl" class="anime-image">
            <img *ngIf="!anime.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="anime-image">              
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="pagedList.length !== 0 && pagedList.length > 2 && !getDetailsAnime && !clickNewAnime" cols=3 #grid rowHeight="350px" gutterSize="15px">
    <mat-grid-tile *ngFor="let anime of pagedList">
        <mat-card class="settings-card" style="cursor: pointer;border: 1px solid;" (click)="showDetailsAnime(anime)">       
            <img *ngIf="anime.imageUrl" [src]="anime.imageUrl" class="anime-image">
            <img *ngIf="!anime.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="anime-image">              
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div *ngIf="pagedList.length == 0 && !getDetailsAnime && !clickNewAnime" class="row justify-content-center no-results text-application">
    No results
</div>

<div *ngIf="!getDetailsAnime && !clickNewAnime" class="row mat-paginator">
    <mat-paginator 
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons
        (page)="OnPageChange($event)">
    </mat-paginator>
</div>

<mat-grid-list *ngIf="getDetailsAnime && !clickNewAnime" cols=2 #grid rowHeight="600px" gutterSize="15px" class="grid-list-new-edit">
    <mat-grid-tile>
        <mat-card class="settings-card-new-update-anime" style="cursor: pointer;border: 1px solid;">       
            <img *ngIf="selectedAnime.imageUrl" [src]="selectedAnime.imageUrl" class="anime-image" (click)="selectImage.click()">
            <img *ngIf="!selectedAnime.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="anime-image" (click)="selectImage.click()"> 
            <input type="file" name="file" (change)="uploadPictureForEditAnime($event)" style="display: none" accept=".jpeg,.jpg,.png,.svg" #selectImage>   
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="settings-card-new-update-anime" style="cursor: pointer;border: 1px solid;">       
            <mat-grid-list cols="12" rowHeight="50px" class="text-application">

                <mat-grid-tile colspan="3">Name</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick" style="cursor: pointer;text-align: center;" (click)="copyText(selectedAnime.nameAnime)">{{ selectedAnime.nameAnime }}</span>

                    <mat-form-field *ngIf="editButtonClick" color="accent">
                        <input matInput #input type="text" [(ngModel)]="selectedAnime.nameAnime" name="nameAnime" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">First</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick">
                        <span *ngIf="selectedAnime.isFirst">true</span>
                        <span *ngIf="!selectedAnime.isFirst">false</span>
                    </span>

                    <mat-checkbox *ngIf="editButtonClick" name="isFirst" [(ngModel)]="selectedAnime.isFirst" class="mat-checkbox-layout"></mat-checkbox>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Status</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick">{{ selectedAnime.status }}</span>

                    <mat-form-field *ngIf="editButtonClick" color="accent">
                        <mat-select [(ngModel)]="selectedAnime.statusId" name="statusId" class="text-application">
                          <mat-option value=""></mat-option>
                          <mat-option *ngFor="let statusAnime of allStatusAnimes" [value]="statusAnime.id">
                            <span class="text-application">{{statusAnime.status}}</span>
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Type</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick">{{ selectedAnime.type }}</span>
                    
                    <mat-form-field *ngIf="editButtonClick" color="accent">
                          <mat-select [(ngModel)]="selectedAnime.type" name="type">
                            <mat-option value="Manga">Manga</mat-option>
                            <mat-option value="TV">TV</mat-option>
                            <mat-option value="Movie">Movie</mat-option>
                            <mat-option value="Special">Special</mat-option>
                          </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Season</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick">                      
                        <span *ngIf="selectedAnime.season">{{ selectedAnime.season }}</span>
                        <span *ngIf="!selectedAnime.season">-</span>
                    </span>

                    <mat-form-field *ngIf="editButtonClick" color="accent">
                        <input matInput #input type="number" [(ngModel)]="selectedAnime.season" name="season" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Priority</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick">                      
                        <span *ngIf="selectedAnime.priority">{{ selectedAnime.priority }}</span>
                        <span *ngIf="!selectedAnime.priority">-</span>
                    </span>

                    <mat-form-field *ngIf="editButtonClick" color="accent">
                        <input matInput #input type="number" [(ngModel)]="selectedAnime.priority" name="priority" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Curr ep</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick">                      
                        <span *ngIf="selectedAnime.currentEpisode">{{ selectedAnime.currentEpisode }}</span>
                        <span *ngIf="!selectedAnime.currentEpisode">?</span>
                    </span>

                    <mat-form-field *ngIf="editButtonClick" color="accent">
                        <input matInput #input type="number" [(ngModel)]="selectedAnime.currentEpisode" name="currentEpisode" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Tot ep</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick">                      
                        <span *ngIf="selectedAnime.totalEpisodes">{{ selectedAnime.totalEpisodes }}</span>
                        <span *ngIf="!selectedAnime.totalEpisodes">?</span>
                    </span>

                    <mat-form-field *ngIf="editButtonClick" color="accent">
                        <input matInput #input type="number" [(ngModel)]="selectedAnime.totalEpisodes" name="totalEpisodes" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Path</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick">                      
                        <span *ngIf="selectedAnime.path">
                            <mat-icon style="cursor: pointer;" (click)="followLink(selectedAnime.path)" target="_blank">link</mat-icon>                            
                        </span>
                        <span *ngIf="!selectedAnime.path">-</span>
                    </span>
                    <mat-form-field *ngIf="editButtonClick" color="accent">
                        <input matInput #input type="text" [(ngModel)]="selectedAnime.path" name="path" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Note</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick">                      
                        <span *ngIf="selectedAnime.note" style="text-align: center;">{{ selectedAnime.note }}</span>
                        <span *ngIf="!selectedAnime.note">-</span>
                    </span>

                    <mat-form-field *ngIf="editButtonClick" color="accent">
                        <input matInput #input type="text" [(ngModel)]="selectedAnime.note" name="note" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>

            <div class="row justify-content-center">
                <mat-card-actions style="margin-top: 15px">
                    <button
                        *ngIf="dataUserConnected.roleUpdateAnime && !editButtonClick"
                        type="button"
                        mat-button 
                        (click)="editAnime(selectedAnime)"
                        class="text-application">
                        <mat-icon style="color: #9C27B0" aria-label="Edit">edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button
                        *ngIf="dataUserConnected.roleDeleteAnime && !editButtonClick"
                        type="button"
                        mat-button 
                        (click)="deleteAnime(selectedAnime.key)" 
                        class="text-application">
                        <mat-icon style="color: #f44336;">delete</mat-icon>
                        <span>Delete</span>
                    </button>
                    
                    <button
                        *ngIf="editButtonClick"
                        type="button"
                        mat-button 
                        (click)="save(selectedAnime)"
                        class="text-application">
                        <mat-icon style="color: #FF5722">save</mat-icon>
                        <span>Save</span>
                    </button>
                    <button
                        *ngIf="editButtonClick"
                        type="button"
                        mat-button 
                        (click)="cancel()" 
                        class="text-application">
                        <mat-icon style="color: #607D8B;">cancel</mat-icon>
                        <span>Cancel</span>
                    </button>  
                </mat-card-actions>
            </div>        
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<br *ngIf="getDetailsAnime && selectedAnime.priority && !clickNewAnime">

<list-seasons-movies-desktop
    *ngIf="getDetailsAnime && selectedAnime.priority && !clickNewAnime" 
    [listAnimesByCurrentName]="listAnimesByCurrentName" 
    (seasonAnimeSelected)="getSeasonAnimeSelected($event)">
</list-seasons-movies-desktop>

<mat-grid-list *ngIf="clickNewAnime" cols=2 #grid rowHeight="600px" gutterSize="15px" class="grid-list-new-edit">
    <mat-grid-tile>
        <mat-card class="settings-card-new-update-anime" style="cursor: pointer;border: 1px solid;">       
            <mat-grid-list cols="12" rowHeight="50px" class="text-application">

                <mat-grid-tile colspan="3">Name</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <input matInput #input type="text" [(ngModel)]="newAnime.nameAnime" name="nameAnime" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">First</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-checkbox name="isFirst" [(ngModel)]="newAnime.isFirst" class="mat-checkbox-layout"></mat-checkbox>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Status</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <mat-select [(ngModel)]="newAnime.statusId" name="statusId" class="text-application">
                          <mat-option value=""></mat-option>
                          <mat-option *ngFor="let statusAnime of allStatusAnimes" [value]="statusAnime.id">
                            <span class="text-application">{{statusAnime.status}}</span>
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Type</mat-grid-tile>
                <mat-grid-tile colspan="9">      
                    <mat-form-field color="accent">
                          <mat-select [(ngModel)]="newAnime.type" name="type">
                            <mat-option value="Manga">Manga</mat-option>
                            <mat-option value="TV">TV</mat-option>
                            <mat-option value="Movie">Movie</mat-option>
                            <mat-option value="Special">Special</mat-option>
                          </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Season</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <input matInput #input type="number" [(ngModel)]="newAnime.season" name="season" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Priority</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <input matInput #input type="number" [(ngModel)]="newAnime.priority" name="priority" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Curr ep</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <input matInput #input type="number" [(ngModel)]="newAnime.currentEpisode" name="currentEpisode" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Tot ep</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <input matInput #input type="number" [(ngModel)]="newAnime.totalEpisodes" name="totalEpisodes" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile colspan="3">Path</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <input matInput #input type="text" [(ngModel)]="newAnime.path" name="path" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Note</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <input matInput #input type="text" [(ngModel)]="newAnime.note" name="note" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>
                

            </mat-grid-list>

            <div class="row justify-content-center">
                <mat-card-actions style="margin-top: 15px">  
                    <button
                        type="button"
                        mat-button 
                        (click)="saveNewAnime()"
                        class="text-application">
                        <mat-icon style="color: #FF5722">save</mat-icon>
                        <span>Save</span>
                    </button>
                    <button
                        type="button"
                        mat-button 
                        (click)="cancelFromNewAnime()" 
                        class="text-application">
                        <mat-icon style="color: #607D8B;">cancel</mat-icon>
                        <span>Cancel</span>
                    </button>  
                </mat-card-actions>
            </div>        
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="settings-card-new-update-anime" style="cursor: pointer;border: 1px solid;">       
            <img *ngIf="newAnime.imageUrl" [src]="newAnime.imageUrl" class="anime-image" (click)="selectImage.click()">
            <img *ngIf="!newAnime.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="anime-image" (click)="selectImage.click()"> 
            <input type="file" name="file" (change)="uploadPictureForCreateAnime($event)" style="display: none" accept=".jpeg,.jpg,.png,.svg" #selectImage>   
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>