<mat-card *ngIf="!isMobile" class="example-card">
    <img *ngIf="movie.imageUrl" mat-card-image [src]="movie.imageUrl" class="style-picture">
    <img *ngIf="!movie.imageUrl" mat-card-image src="/assets/pictures/NoImageAvailable.png" class="style-picture">
</mat-card>

<mat-card *ngIf="isMobile" class="example-card-mobile">
    <img *ngIf="movieForModal.imageUrl" mat-card-image [src]="movieForModal.imageUrl" class="style-picture-mobile" (click)="closeDialog()">
    <img *ngIf="!movieForModal.imageUrl" mat-card-image src="/assets/pictures/NoImageAvailable.png" class="style-picture-mobile" (click)="closeDialog()">
</mat-card>