:host {
    display: block;
}

.mat-list-item-content { 
	justify-content: flex-end; 
}

.mat-divider {
    border-top-color: black;
}

.dialog-responsive {
    width: 40%;
}

@media only screen and (max-width: 760px) {
    .dialog-responsive {
        width: 100%;
    }
}