:host {
    display: block;
}
  
.item {
    margin-bottom: 10px;
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 20px;
    width: 275px;
}

.gridForDelete {
    display: grid;
    grid-template-columns: 80px 220px;
    width: 250px;
    font-size: 18px;
}