.row{
  margin-top: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');


.mat-card {
  padding: 16px;
  padding-top: 12px;
}

.overview-cart {
  position: relative;
  width: calc(100%);
  overflow: hidden;
  cursor: pointer;
}

.overview-cart ::after {
  content: '';
  position: absolute;
  right:-207px;
  top: 0;
  border-width: 153px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #fff;
  z-index: 99;
}

.overview-cart-links {
  position: relative;
  width: calc(100%);
  overflow: hidden;
}

.overview-cart-links ::after {
  content: '';
  position: absolute;
  right:-207px;
  top: 0;
  border-width: 153px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #fff;
  z-index: 99;
}

.overview-cart-mobile {
  position: relative;
  width: calc(100%);
  overflow: hidden;
  cursor: pointer;
}

.overview-cart-mobile ::after {
  content: '';
  position: absolute;
  right:-275px;
  top: 0;
  border-width: 153px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #fff;
  z-index: 99;
}

.overview-cart-links-mobile {
  position: relative;
  width: calc(100%);
  overflow: hidden;
}

.overview-cart-links-mobile ::after {
  content: '';
  position: absolute;
  right:-275px;
  top: 0;
  border-width: 153px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #fff;
  z-index: 99;
}

.overview-style {
  width: 100%;
  justify-content: center;
  height: 30%;
}

.heading-text {
  font-size: 25px;
  font-weight: 500;
  color: #fbfbfb;
}

img {
  height: min-content;
  margin-top: -40px;
  height: 95px;
}

.mat {
  height: auto;
}

.main-line {
  font-size: 14px;
  color: #0b4983;
}

.content {
  background-color: #f7f7f9;
}

.widhtInput {
  width: 100%;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 20px;
}

.mat-header-cell {
  font-size: 20px;
  min-height: 48px;
  text-align: center;
}

.mat-cell {
  font-size: 20px;
  min-height: 48px;
  border-bottom-style: none;
}

table {
    width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px !important;
}
   
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
  
.mat-icon {
  color: #3e75ff;
}
  
@media screen and (max-width: 960px) {
  .mat-elevation-z8 {
    background: transparent;
    box-shadow: none;
  }

  .mat-header-row {
    display: none;
  }

  tbody {
    display: block;
    width: 100%;
  }
  
  .mat-table {
    background: transparent;
    * {
      box-sizing: border-box;
    }

    .mat-row {
      display: block;
      overflow: hidden;
      height: auto;
      position: relative;
      clear: both;
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
      background-color: #fff;
      border-radius: 3px;
      + .mat-row {
        margin-top: 24px;
      }
    }

    .mat-cell {
      display: block;
      width: 100%;
      padding: 0 16px;
      margin: 16px 0;
      border: 0 none;
      &:first-child {
        padding: 0 48px 0 16px;
        a {
          font-size: 20px;
          // font-weight: 400;
          color: inherit;
        }
        &:before {
          display: none;
        }
      }
      &.m-card-sub-title {
        margin-top: -8px;
        padding: 0 48px 0 16px;
        color: rgba(0,0,0,.54);
      }
    }

    .has_label_on_mobile {
      &:before {
        content: attr(data-label);
        display: inline;
        font-weight: normal;
      }
    }

    .mat-column-star {
      width: auto;
      padding: 8px 0 0 !important;
      margin: 0;
      position: absolute;
      top: 0;
      right: 0;
      &:before {
        display: none;
      }
    }
  }

  .mat-paginator {
    margin-top: 24px;
  }

}

.trForNotMobile {
  border-bottom: 1px solid black;
}

.gridForDelete {
  display: grid;
  grid-template-columns: 80px 400px;
  width: 250px;
  font-size: 18px;
}

.gridForDeleteInMobile {
  display: grid;
  grid-template-columns: 80px 200px;
  font-size: 18px;
}

  