.header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
  }
  
  .row{
    margin-top: 10px;
  }
  
  .image {
    width: 100%
  }
  .styleDiv {
    border-radius: 30px;
    height: 200px;
  }
  .picture {
    border-radius: 30px;
    height: 150px;
    width: 150px;
    margin-left: 15px;
  }
  .mt-2, .my-2 {
    margin-top: 0rem !important;
  }
  .col {
    cursor: pointer;
  }
  .p-3 {
    border-radius: 30px;
  }