.row{
  margin-top: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');


.mat-card {
  padding: 16px;
  padding-top: 12px;
}

.overview-cart {
  position: relative;
  width: calc(100%);
  overflow: hidden;
  cursor: pointer;
}

.overview-cart ::after {
  content: '';
  position: absolute;
  right:-207px;
  top: 0;
  border-width: 153px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #fff;
  z-index: 99;
}

.overview-cart-mobile {
  position: relative;
  width: calc(100%);
  overflow: hidden;
  cursor: pointer;
}

.overview-cart-mobile ::after {
  content: '';
  position: absolute;
  right:-275px;
  top: 0;
  border-width: 153px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #fff;
  z-index: 99;
}

.overview-style {
  width: 100%;
  justify-content: center;
  height: 30%;
}

.heading-text {
  font-size: 25px;
  font-weight: 500;
  color: #fbfbfb;
}

img {
  height: min-content;
  margin-top: -40px;
  height: 95px;
}

.mat {
  height: auto;
}

.main-line {
  font-size: 14px;
  color: #0b4983;
}

.content {
  background-color: #f7f7f9;
}

  