<div style="margin-top: 50px;"></div>

<div *ngIf="isMobile && isPortrait">
  <div fxLayout="row wrap" fxFlex fxLayoutGap="20px">
    <ng-container>

      <!--Movies-->
      <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application" routerLink="/movies-mobile">
        <div fxLayout class="overview-style">
          <div
            [ngStyle]="{ 'background-color': '#3f51b5', 'border': '1px solid #3f51b5' }"
            class="overview-cart-mobile">
            <div class="mt-4 heading-text" style="margin-left: 16px;">Movies</div>
            <div
              class="mt-4 heading-text" 
              style="margin-left: 16px;font-size: larger !important">
              {{nbrMoviesToCheckToday}}
              to check today
            </div>
            <img
              style="margin-left: 9rem;margin-top: -93px"
              class="pl-5"
              src="/assets/pictures/movies-logo.png"
              width="150px"/>
          </div>
        </div>
      </div>

      <!--Animes-->
      <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application" routerLink="/animes-mobile">
        <div fxLayout class="overview-style">
          <div
            [ngStyle]="{ 'background-color': '#4CAF50', 'border': '1px solid #4CAF50' }" 
            class="overview-cart-mobile">
            <div class="mt-4 heading-text" style="margin-left: 16px;">Animes</div>
            <div
              class="mt-4 heading-text" 
              style="margin-left: 16px;font-size: larger !important">
              {{nbrAnimesToCheckToday}}
              to check today
            </div>
            <img
              class="pl-5"
              style="margin-left: 9rem;margin-top: -93px"
              src="/assets/pictures/animes-logo.png"
              width="150px"/>
          </div>
        </div>
      </div>

      <!--Series-->
      <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application"  routerLink="/series-mobile">
        <div fxLayout class="overview-style">
          <div
            [ngStyle]="{ 'background-color': '#ec4b53', 'border': '1px solid #ec4b53' }" 
            class="overview-cart-mobile">
            <div class="mt-4 heading-text" style="margin-left: 16px;">Series</div>
            <div
              class="mt-4 heading-text" 
              style="margin-left: 16px;font-size: larger !important">
              {{nbrSeriesToCheckToday}}
              to check today
            </div>
            <img
              class="pl-5"
              style="margin-left: 9rem;margin-top: -93px"
              src="/assets/pictures/series-logo.png"
              width="150px"/>
          </div>
        </div>
      </div>

      <!--Notes-->
      <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application"  routerLink="/notes-mobile">
        <div fxLayout class="overview-style">
          <div
            [ngStyle]="{ 'background-color': 'rgb(80 107 102)', 'border': '1px solid rgb(80 107 102)' }" 
            class="overview-cart-mobile">
            <div class="mt-4 heading-text" style="margin-left: 16px;">Notes</div>
            <img
              class="pl-5"
              style="margin-left: 9rem;"
              src="/assets/pictures/notes-logo.png"
              width="150px"/>
          </div>
        </div>
      </div>

      <!--Clockings-->
      <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application" routerLink="/clockings-mobile">
        <div fxLayout class="overview-style">
          <div
            [ngStyle]="{ 'background-color': '#868d25', 'border': '1px solid #868d25' }" 
            class="overview-cart-mobile">
            <div class="mt-4 heading-text" style="margin-left: 16px;">Clockings</div>
            <img
              class="pl-5"
              style="margin-left: 9rem;"
              src="/assets/pictures/clocking-logo.png"
              width="150px"/>
          </div>
        </div>
      </div>

      <!--To Do List-->
      <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application" routerLink="/to-do-list-mobile">
        <div fxLayout class="overview-style">
          <div
            [ngStyle]="{ 'background-color': '#9C27B0', 'border': '1px solid #9C27B0' }" 
            class="overview-cart-mobile">
            <div class="mt-4 heading-text" style="margin-left: 16px;">To Do List</div>
            <img
              class="pl-5"
              style="margin-left: 9rem;"
              src="/assets/pictures/to-do-list-logo.png"
              width="150px"/>
          </div>
        </div>
      </div>

      <!--Expirations-->
      <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application" routerLink="/expirations-mobile">
        <div fxLayout class="overview-style">
          <div
            [ngStyle]="{ 'background-color': 'rgb(21 143 185)', 'border': '1px solid rgb(21 143 185)' }" 
            class="overview-cart-mobile">
            <div class="mt-4 heading-text" style="margin-left: 16px;">Expirations</div>
            <div
              class="mt-4 heading-text" 
              style="margin-left: 16px;font-size: unset !important">
              <span *ngIf="soonToExpireList.length">{{ soonToExpireList.length }}&nbsp;to expire</span>
              <span *ngIf="soonToExpireList.length && contentsExpiredList.length">/</span>
              <span *ngIf="contentsExpiredList.length">{{ contentsExpiredList.length }}&nbsp;expired</span>                  
            </div>
            <img
              class="pl-5"
              style="margin-left: 9rem;"
              [ngStyle]="{'margin-top': contentsExpiredList.length ? '-93px' : ''}"
              src="/assets/pictures/expired-logo.png"
              width="150px"/>
          </div>
        </div>
      </div>

      <!--Debts-->
      <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application" routerLink="/debts-mobile">
        <div fxLayout class="overview-style">
          <div
            [ngStyle]="{ 'background-color': '#ff4081', 'border': '1px solid #ff4081' }" 
            class="overview-cart-mobile">
            <div class="mt-4 heading-text" style="margin-left: 16px;">Debts</div>
            <img
              class="pl-5"
              style="margin-left: 9rem;"
              src="/assets/pictures/debts-logo.png"
              width="150px"/>
          </div>
        </div>
      </div>

      <!--Files-->
      <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application" routerLink="/files">
        <div fxLayout class="overview-style">
          <div
            [ngStyle]="{ 'background-color': '#24a8f2', 'border': '1px solid #24a8f2' }" 
            class="overview-cart-mobile">
            <div class="mt-4 heading-text" style="margin-left: 16px;">Files</div>
            <img
              class="pl-5"
              style="margin-left: 9rem;"
              src="/assets/pictures/files-logo.png"
              width="150px"/>
          </div>
        </div>
      </div>

      <!--Passwords-->
      <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application" routerLink="/passwords-mobile">
        <div fxLayout class="overview-style">
          <div
            [ngStyle]="{ 'background-color': 'rgb(46 161 165)', 'border': '1px solid rgb(46 161 165)' }" 
            class="overview-cart-mobile">
            <div class="mt-4 heading-text" style="margin-left: 16px;">Passwords</div>
            <img
              class="pl-5"
              style="margin-left: 9rem;"
              src="/assets/pictures/password-logo.png"
              width="150px"/>
          </div>
        </div>
      </div>

      <!--Medications-->
      <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application" routerLink="/medications-mobile">
        <div fxLayout class="overview-style">
          <div
            [ngStyle]="{ 'background-color': '#0f549f', 'border': '1px solid #0f549f' }" 
            class="overview-cart-mobile">
            <div class="mt-4 heading-text" style="margin-left: 16px;">Medications</div>
            <img
              class="pl-5"
              style="margin-left: 9rem;"
              src="/assets/pictures/medication-logo.png"
              width="150px"/>
          </div>
        </div>
      </div>

      <!--Documents-->
      <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application" routerLink="/documents-mobile">
        <div fxLayout class="overview-style">
          <div
            [ngStyle]="{ 'background-color': '#B96068', 'border': '1px solid #B96068' }" 
            class="overview-cart-mobile">
            <div class="mt-4 heading-text" style="margin-left: 16px;">Documents</div>
            <img
              class="pl-5"
              style="margin-left: 9rem;"
              src="/assets/pictures/documents-logo.png"
              width="150px"/>
          </div>
        </div>
      </div>
    
    </ng-container>
  </div>
</div>

<div *ngIf="isMobile && !isPortrait">
  <mat-grid-list cols=2 #grid rowHeight="3:1" gutterSize="15px">

    <!--Movies-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/movies-mobile">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#3f51b5', 'border': '1px solid #3f51b5' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 10px;">Movies</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: larger !important">
                  {{nbrMoviesToCheckToday}}
                  to check today
                </div>
                <img
                  style="margin-left: 7rem;margin-top: -93px"
                  class="pl-5"
                  src="/assets/pictures/movies-logo.png"
                  width="100px"
                  height="70px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Animes-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/animes-mobile">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#4CAF50', 'border': '1px solid #4CAF50' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 10px;">Animes</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: larger !important">
                  {{nbrAnimesToCheckToday}}
                  to check today
                </div>
                <img
                  style="margin-left: 7rem;margin-top: -93px"
                  class="pl-5"
                  src="/assets/pictures/animes-logo.png"
                  width="100px"
                  height="70px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Series-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/series-mobile">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#ec4b53', 'border': '1px solid #ec4b53' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 10px;">Series</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: larger !important">
                  {{nbrSeriesToCheckToday}}
                  to check today
                </div>
                <img
                  style="margin-left: 7rem;margin-top: -93px"
                  class="pl-5"
                  src="/assets/pictures/series-logo.png"
                  width="100px"
                  height="70px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Notes-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/notes-mobile">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': 'rgb(80 107 102)', 'border': '1px solid rgb(80 107 102)' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 10px;">Notes</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/notes-logo.png"
                  width="100px"
                  height="70px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>
  
    <!--Clockings-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/clockings-mobile">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#868d25', 'border': '1px solid #868d25' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 10px;">Clockings</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/clocking-logo.png"
                  width="100px"
                  height="70px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--To Do List-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/to-do-list-mobile">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#9C27B0', 'border': '1px solid #9C27B0' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 10px;">To Do List</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/to-do-list-logo.png"
                  width="100px"
                  height="70px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Expirations-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/expirations-mobile">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': 'rgb(21 143 185)', 'border': '1px solid rgb(21 143 185)' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 10px;">Expirations</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: unset !important">
                  <span *ngIf="soonToExpireList.length">{{ soonToExpireList.length }}&nbsp;to expire</span>
                  <span *ngIf="soonToExpireList.length && contentsExpiredList.length">/</span>
                  <span *ngIf="contentsExpiredList.length">{{ contentsExpiredList.length }}&nbsp;expired</span>                  
                </div>
                <img
                  style="margin-left: 7rem;"
                  [ngStyle]="{'margin-top': contentsExpiredList.length ? '-93px' : ''}"
                  class="pl-5"
                  src="/assets/pictures/expired-logo.png"
                  width="100px"
                  height="70px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Debts-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/debts-mobile">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#ff4081', 'border': '1px solid #ff4081' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 10px;">Debts</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/debts-logo.png"
                  width="100px"
                  height="70px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Files-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/files">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#24a8f2', 'border': '1px solid #24a8f2' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 10px;">Files</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/files-logo.png"
                  width="100px"
                  height="70px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Passwords-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/passwords-mobile">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': 'rgb(46 161 165)', 'border': '1px solid rgb(46 161 165)' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 10px;">Passwords</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/password-logo.png"
                  width="100px"
                  height="70px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Medications-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/medications-mobile">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#0f549f', 'border': '1px solid #0f549f' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 10px;">Medications</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/medication-logo.png"
                  width="100px"
                  height="70px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Documents-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/documents-mobile">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#B96068', 'border': '1px solid #B96068' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 10px;">Documents</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/documents-logo.png"
                  width="100px"
                  height="70px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>

<div *ngIf="isTablet && isPortrait">
  <mat-grid-list cols=2 #grid rowHeight="3:1" gutterSize="15px">
    
    <!--Movies-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/movies-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#3f51b5', 'border': '1px solid #3f51b5' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Movies</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: larger !important">
                  {{nbrMoviesToCheckToday}}
                  to check today
                </div>
                <img
                  style="margin-left: 10rem;margin-top: -93px"
                  class="pl-5"
                  src="/assets/pictures/movies-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Animes-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/animes-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#4CAF50', 'border': '1px solid #4CAF50' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Animes</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: larger !important">
                  {{nbrAnimesToCheckToday}}
                  to check today
                </div>
                <img
                  style="margin-left: 10rem;margin-top: -93px"
                  class="pl-5"
                  src="/assets/pictures/animes-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Series-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/series-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#ec4b53', 'border': '1px solid #ec4b53' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Series</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: larger !important">
                  {{nbrSeriesToCheckToday}}
                  to check today
                </div>
                <img
                  style="margin-left: 10rem;margin-top: -93px"
                  class="pl-5"
                  src="/assets/pictures/series-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Notes-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/notes-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': 'rgb(80 107 102)', 'border': '1px solid rgb(80 107 102);' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Notes</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/notes-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Clockings-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/clockings-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#868d25', 'border': '1px solid #868d25' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Clockings</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/clocking-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--To Do List-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/to-do-list-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#9C27B0', 'border': '1px solid #9C27B0' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">To Do List</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/to-do-list-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

     <!--Expirations-->
     <mat-grid-tile>
        <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/expirations-desktop">
          <ng-container>
            <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
              <div fxLayout class="overview-style">
                <div [ngStyle]="{ 'background-color': 'rgb(21 143 185)', 'border': '1px solid rgb(21 143 185)' }" class="overview-cart-mobile">
                  <div class="mt-4 heading-text" style="margin-left: 16px;">Expirations</div>
                  <div
                    class="mt-4 heading-text" 
                    style="margin-left: 16px;font-size: unset !important">
                    <span *ngIf="soonToExpireList.length">{{ soonToExpireList.length }}&nbsp;to expire</span>
                    <span *ngIf="soonToExpireList.length && contentsExpiredList.length">/</span>
                    <span *ngIf="contentsExpiredList.length">{{ contentsExpiredList.length }}&nbsp;expired</span>                  
                  </div>
                  <img
                    style="margin-left: 10rem;"
                    [ngStyle]="{'margin-top': contentsExpiredList.length ? '-93px' : ''}"
                    class="pl-5"
                    src="/assets/pictures/expired-logo.png"
                    width="150px"/>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
    </mat-grid-tile>

     <!--Debts-->
     <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/debts-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application" >
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#ff4081', 'border': '1px solid #ff4081' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Debts</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/debts-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
     </mat-grid-tile>

    <!--Files-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/files">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#24a8f2', 'border': '1px solid #24a8f2' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Files</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/files-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Passwords-->
    <mat-grid-tile>        
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/passwords-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': 'rgb(46 161 165)', 'border': '1px solid rgb(46 161 165)' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Passwords</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/password-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Medications-->
    <mat-grid-tile>        
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/medications-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#0f549f', 'border': '1px solid #0f549f' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Medications</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/medication-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>
    
     <!--Documents-->
    <mat-grid-tile>        
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/documents-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#B96068', 'border': '1px solid #B96068' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Documents</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/documents-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

  </mat-grid-list>

</div>

<div *ngIf="isTablet && !isPortrait">
  <mat-grid-list cols=3 #grid rowHeight="3:1" gutterSize="15px">

    <!--Movies-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/movies-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#3f51b5', 'border': '1px solid #3f51b5' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Movies</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: larger !important">
                  {{nbrMoviesToCheckToday}}
                  to check today
                </div>
                <img
                  style="margin-left: 7rem;margin-top: -93px"
                  class="pl-5"
                  src="/assets/pictures/movies-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Animes-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/animes-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#4CAF50', 'border': '1px solid #4CAF50' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Animes</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: larger !important">
                  {{nbrAnimesToCheckToday}}
                  to check today
                </div>
                <img
                  style="margin-left: 7rem;margin-top: -93px"
                  class="pl-5"
                  src="/assets/pictures/animes-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Series-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/series-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#ec4b53', 'border': '1px solid #ec4b53' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Series</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: larger !important">
                  {{nbrSeriesToCheckToday}}
                  to check today
                </div>
                <img
                  style="margin-left: 7rem;margin-top: -93px"
                  class="pl-5"
                  src="/assets/pictures/series-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Notes-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/notes-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': 'rgb(80 107 102)', 'border': '1px solid rgb(80 107 102);' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Notes</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/notes-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>
  
    <!--Clockings-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/clockings-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#868d25', 'border': '1px solid #868d25' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Clockings</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/clocking-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--To Do List-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/to-do-list-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#9C27B0', 'border': '1px solid #9C27B0' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">To Do List</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/to-do-list-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Expirations-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/expirations-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': 'rgb(21 143 185)', 'border': '1px solid rgb(21 143 185)' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Expirations</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: unset !important">
                  <span *ngIf="soonToExpireList.length">{{ soonToExpireList.length }}&nbsp;to expire</span>
                  <span *ngIf="soonToExpireList.length && contentsExpiredList.length">/</span>
                  <span *ngIf="contentsExpiredList.length">{{ contentsExpiredList.length }}&nbsp;expired</span>                  
                </div>
                <img
                  style="margin-left: 7rem;"
                  [ngStyle]="{'margin-top': contentsExpiredList.length ? '-93px' : ''}"
                  class="pl-5"
                  src="/assets/pictures/expired-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Debts-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/debts-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#ff4081', 'border': '1px solid #ff4081' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Debts</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/debts-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Files-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/files">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#24a8f2', 'border': '1px solid #24a8f2' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Files</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/files-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Passwords-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/passwords-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': 'rgb(46 161 165)', 'border': '1px solid rgb(46 161 165)' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Passwords</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/password-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Medications-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/medications-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#0f549f', 'border': '1px solid #0f549f' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Medications</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/medication-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Documents-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/documents-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#B96068', 'border': '1px solid #B96068' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Documents</div>
                <img
                  style="margin-left: 7rem;"
                  class="pl-5"
                  src="/assets/pictures/documents-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>

<div *ngIf="isDesktop">
  <mat-grid-list cols=3 #grid rowHeight="3:1" gutterSize="15px">

    <!--Movies-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/movies-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#3f51b5', 'border': '1px solid #3f51b5' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Movies</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: larger !important">
                  {{nbrMoviesToCheckToday}}
                  to check today
                </div>
                <img
                  style="margin-left: 10rem;margin-top: -93px"
                  class="pl-5"
                  src="/assets/pictures/movies-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Animes-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/animes-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#4CAF50', 'border': '1px solid #4CAF50' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Animes</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: larger !important">
                  {{nbrAnimesToCheckToday}}
                  to check today
                </div>
                <img
                  style="margin-left: 10rem;margin-top: -93px"
                  class="pl-5"
                  src="/assets/pictures/animes-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Series-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/series-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#ec4b53', 'border': '1px solid #ec4b53' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Series</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: larger !important">
                  {{nbrSeriesToCheckToday}}
                  to check today
                </div>
                <img
                  style="margin-left: 10rem;margin-top: -93px"
                  class="pl-5"
                  src="/assets/pictures/series-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Notes-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/notes-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': 'rgb(80 107 102)', 'border': '1px solid rgb(80 107 102);' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Notes</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/notes-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>
  
    <!--Clockings-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/clockings-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#868d25', 'border': '1px solid #868d25' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Clockings</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/clocking-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--To Do List-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/to-do-list-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#9C27B0', 'border': '1px solid #9C27B0' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">To Do List</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/to-do-list-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Expirations-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/expirations-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': 'rgb(21 143 185)', 'border': '1px solid rgb(21 143 185)' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Expirations</div>
                <div
                  class="mt-4 heading-text" 
                  style="margin-left: 16px;font-size: unset !important">
                  <span *ngIf="soonToExpireList.length">{{ soonToExpireList.length }}&nbsp;to expire</span>
                  <span *ngIf="soonToExpireList.length && contentsExpiredList.length">/</span>
                  <span *ngIf="contentsExpiredList.length">{{ contentsExpiredList.length }}&nbsp;expired</span>                  
                </div>
                <img
                  style="margin-left: 10rem;"
                  [ngStyle]="{'margin-top': contentsExpiredList.length ? '-93px' : ''}"
                  class="pl-5"
                  src="/assets/pictures/expired-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Debts-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/debts-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#ff4081', 'border': '1px solid #ff4081' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Debts</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/debts-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Files-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/files">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#24a8f2', 'border': '1px solid #24a8f2' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Files</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/files-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Passwords-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/passwords-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': 'rgb(46 161 165)', 'border': '1px solid rgb(46 161 165)' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Passwords</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/password-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Medications-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/medications-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#0f549f', 'border': '1px solid #0f549f' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Medications</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/medication-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

    <!--Documents-->
    <mat-grid-tile>
      <div fxLayout="row wrap" fxFlex fxLayoutGap="20px" routerLink="/documents-desktop">
        <ng-container>
          <div fxFlex="calc(33.3% - 20px)" class="m-1 pt-3 text-application">
            <div fxLayout class="overview-style">
              <div [ngStyle]="{ 'background-color': '#B96068', 'border': '1px solid #B96068' }" class="overview-cart-mobile">
                <div class="mt-4 heading-text" style="margin-left: 16px;">Documents</div>
                <img
                  style="margin-left: 10rem;"
                  class="pl-5"
                  src="/assets/pictures/documents-logo.png"
                  width="150px"/>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>