<div mat-dialog-title class="dialog-title">
    <h2 class="text-application">Movies
        <span *ngIf="currentStatusForMovie == 1">wait to sort</span>
        <span *ngIf="currentStatusForMovie == 2">not downloaded yet</span>
        <span *ngIf="currentStatusForMovie == 3">watched</span>
        <span *ngIf="currentStatusForMovie == 4">not watched yet</span>
        <span *ngIf="currentStatusForMovie == 5">to search about it</span>
    </h2>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef>Picture</th>
            <td mat-cell *matCellDef="let element"> 
                <img *ngIf="element.imageUrl" mat-card-md-image [src]="element.imageUrl" class="card-picture">
                <img *ngIf="!element.imageUrl" mat-card-md-image src="/assets/pictures/NoImageAvailable.png">
            </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="width: 400px;">Details</th>
            <td mat-cell *matCellDef="let element" (contextmenu)="onContextMenu($event, element)">
                <div class="gridForLegend text-application">
                    <div><span>Name:</span></div>
                    <div><span style="cursor: pointer;" (click)="copyNameMovie(element.nameMovie)">{{ element.nameMovie }}</span></div>
                </div>
                <br>
                <div class="gridForLegend text-application">
                    <div><span>Note:</span></div>
                    <div>{{ element.note }}</div>
                </div>
                <br>
                <div class="gridForLegend text-application">
                    <div><span>Year:</span></div>
                    <div>
                        <span *ngIf="element.year">{{ element.year }}</span>
                        <span *ngIf="!element.year">Unknown</span>
                    </div>
                </div>
            </td>
        </ng-container>
    
        <tr mat-header-row style="background: #2196F3;" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="border-bottom: 1px solid black;" *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="no-results text-application" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
        No results
    </div>
    
    <mat-paginator 
        [pageSizeOptions]="[8]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<div style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-movie="movie">
		<button mat-menu-item *ngIf="movie.statusId !== 3"> 
            <mat-icon *ngIf="movie.statusId !== 5" style="color: #EF6C00;">remove_red_eye</mat-icon>
            <mat-icon *ngIf="movie.statusId == 5" style="color: #EF6C00;">search</mat-icon>
            <a href="{{ movie.path }}" target="_blank" style="text-decoration: none;">
              <span *ngIf="movie.statusId == 1" style="color: black !important;">Check</span>
              <span *ngIf="movie.statusId == 2 || movie.statusId == 4" style="color: black !important;">Watch</span>
              <span *ngIf="movie.statusId == 5" style="color: black !important;">Search</span>
            </a>  
        </button>
	</ng-template>
</mat-menu>