<div class="row margDivSearchAdd">
    <div class="col-md-11">
        <p>
            <input
             #query
             (keyup)="filter(query.value)"
             type="text" 
             class="form-control widhtInput" 
             placeholder="Search by name...">
        </p>
    </div>
    <div class="col-md-1">
        <p>
            <a routerLink="/categories/new" class="btn btn-primary">New</a>
        </p>
    </div> 
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of (filteredCategories | sortBy: 'key' | paginate: { itemsPerPage: 8, currentPage: p })">
                <td>{{ category.name }}</td>
                <td>{{ category.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ category.time }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <button
                    type="button" class="btn btn-info "
                    (click)="openListProducts(category)">
                    List Products
                  </button>
                </td>
                <td>
                    <button [routerLink]="['/categories', category.key]" class="btn btn-success">Edit</button>
                    <button type="button" (click)="delete(category.key)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
