<div class="modal-header ">
    <h4 class="modal-title centerText">List Products</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <div class="row">
        <table class="table table-striped">
            <thead class="colorHeaderTable">
                <tr>
                    <th>N°</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Picture</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of (listProducts | sortBy: 'key'); let i=index;">
                    <td>{{ i+1 }}</td>
                    <td>{{ product.nameProduct }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ product.time }}</td>
                    <td>
                        <img *ngIf="product.imageUrl" class="sizePicture" [src]="product.imageUrl">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>