<div class="container margForm">
    <div class="row">
        <div class="col-md-6">
            <form #f="ngForm" (ngSubmit)="save(f.value)">
                <div class="form-group">
                    <label for="nameProduct">Name</label>
                    <input #nameProduct="ngModel" [(ngModel)]="product.nameProduct" name="nameProduct" id="nameProduct"
                        type="text" class="form-control" required [minlength]="3">
                    <div class="alert alert-danger" *ngIf="nameProduct.touched && nameProduct.invalid">
                        <div *ngIf="nameProduct.errors.required"> Name is required.</div>
                        <div *ngIf="nameProduct.errors?.minlength">Name should contain at least 3 characters or higher.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input #price="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number"
                            class="form-control" required [min]="0">
                    </div>
                    <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                        <div *ngIf="price.errors.required">Price is required.</div>
                        <div *ngIf="price.errors?.min">Price should be 0 or higher.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input #date="ngModel" [(ngModel)]="product.date" name="date" id="date" type="date"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="time">Time</label>
                    <input #time="ngModel" [(ngModel)]="product.time" name="time" id="time" type="time"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="categoryId">Category</label>
                    <select #categoryId="ngModel" [(ngModel)]="product.categoryId" name="categoryId" id="categoryId"
                        class="form-control" required>
                        <option value=""></option>
                        <option *ngFor="let c of (categories$ | async | sortBy: 'key')" [value]="c.key">
                            {{c.name}}
                        </option>
                    </select>
                    <div class="alert alert-danger" *ngIf="categoryId.touched && categoryId.invalid">
                        Category is required.
                    </div>
                </div>
                <div class="form-group">
                    <label for="note">Note</label>
                    <input #note="ngModel" [(ngModel)]="product.note" name="note" id="note" type="text"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="imageUrl">Picture</label>
                    <input [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control"
                        hidden>
                    <input type="file" name="file" (input)="onFileChanged($event)" class="form-control"
                        accept=".jpeg,.jpg,.png,.svg" />
                    <br>
                    <div *ngIf="progressValue | async as val">
                        <progress type="warning" [value]="val" class="styleProgress" max="100"></progress>
                        <br />
                        <span *ngIf="val<100" class="progressIncomplete">{{ val | number}}% </span>
                        <span *ngIf="val == 100" class="progressComplete">Completed !</span>
                    </div>
                </div>
                <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>&nbsp;
                <button class="btn btn-primary" [disabled]="f.invalid">Save</button>
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="card" style="width: 20rem;">
                <img *ngIf="!product.imageUrl" class="card-img-top" src="/assets/pictures/NoImageAvailable.png">
                <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl">
            </div>
        </div>
    </div>
</div>