<h3 *ngIf="!movie.key" mat-dialog-title>Add new movie</h3>
<h3 *ngIf="movie.key" mat-dialog-title>Edit movie</h3>

<div class="row">
    <div class="col-md-12">
        <form (ngSubmit)="save()" #f="ngForm">

            <mat-form-field color="accent" style="width: 305px;">
                <mat-placeholder class="text-application"><span>Name</span></mat-placeholder>
                <input matInput #input type="text" [(ngModel)]="movie.nameMovie" name="nameMovie" required>
                <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <div class="row">
                <div class="col-md-4">
    
                    <mat-form-field color="accent" style="width: 105px;">
                        <mat-placeholder class="text-application"><span>Date</span></mat-placeholder>
                        <input matInput #input type="date" [(ngModel)]="movie.date" name="date" readonly>
                        <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>

                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                    <mat-checkbox name="isFirst" [(ngModel)]="movie.isFirst" class="mat-checkbox-layout"><span>First</span></mat-checkbox>

                </div>
            </div>
    
            <mat-form-field color="accent" style="width: 305px;">
                <mat-select placeholder="Status" [(ngModel)]="movie.statusId" name="statusId" required>
                    <mat-option value=""></mat-option>
                    <mat-option *ngFor="let statusMovie of statusMovies" [value]="statusMovie.id">
                        {{statusMovie.status}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <div class="form row">
                <div class="col-md-4">

                    <mat-form-field color="accent" style="width: 100px;">
                        <mat-placeholder class="text-application"><span>Part</span></mat-placeholder>
                        <input matInput #input type="number" [(ngModel)]="movie.part" name="part" class="text-application">
                    </mat-form-field>
                    
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 

                    <mat-form-field color="accent" style="width: 100px;">
                        <mat-placeholder class="text-application"><span>Priority</span></mat-placeholder>
                        <input matInput #input type="number" [(ngModel)]="movie.priority" name="priority" class="text-application">
                    </mat-form-field>

                </div>          
            </div>

            <mat-form-field color="accent" style="width: 100px;">
                <mat-placeholder class="text-application"><span>Year</span></mat-placeholder>
                <input matInput #input type="number" [(ngModel)]="movie.year" name="year" required class="text-application">
                <mat-error *ngIf="f.invalid" class="text-application">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field color="accent" style="width: 305px;" *ngIf="movie.part">
                <mat-placeholder class="text-application"><span>Full Name</span></mat-placeholder>
                <input matInput #input type="text" [(ngModel)]="movie.fullNameMovie" name="fullNameMovie" required class="text-application">
                <mat-error *ngIf="f.invalid" class="text-application">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
    
            <mat-form-field color="accent" style="width: 305px;">
                <textarea matInput #input type="text" placeholder="Note" [(ngModel)]="movie.note" name="note" rows="4" cols="40"></textarea>
            </mat-form-field>
    
            <mat-form-field *ngIf="movie.statusId && (movie.statusId == 1 || movie.statusId == 2)" color="accent" style="width: 305px;">
                <textarea matInput #input type="text" placeholder="Path" [(ngModel)]="movie.path" name="path" rows="4" cols="40"></textarea>
            </mat-form-field>
    
            <mat-form-field style="width: 305px;">
                <input matInput #input [(ngModel)]="movie.imageUrl" name="imageUrl" id="imageUrl" type="text" hidden>
                <input type="file" name="file" (input)="onFileChanged($event)" accept=".jpeg,.jpg,.png,.svg">
            </mat-form-field>
    
            <br>

            <div *ngIf="progressValue | async as val" class="progress-background">
              <div class="progress-meter" [ngStyle] = "{'width.%': val}"></div>
            </div>
            <div *ngIf="progressValue | async as val" class="progress-indicator" [ngStyle] = "{'margin-left.%': val-3}">
                <i class="fa fa-caret-up"></i>
                <div>
                    <i class="fa fa-motorcycle" style="font-size:24px "></i>
                </div>
                <span>{{ val | number }}%</span>
            </div>

            <div class="row justify-content-center" mat-dialog-actions>
                <button mat-button type="submit" [disabled]="!f.valid" [mat-dialog-close]="1" style="background:#FF5722;color: white;">Save</button>
                <button mat-button type="button" (click)="close()" tabindex="-1" style="background:#607D8B;color: white;">Cancel</button>
            </div>
        
        </form>
    </div>
</div>