<h3 *ngIf="!movie.key" mat-dialog-title>Add new movie</h3>
<h3 *ngIf="movie.key" mat-dialog-title>Edit movie</h3>

<div class="row">
    <div class="col-md-12">
        <form (ngSubmit)="save(f.value)" #f="ngForm">

            <mat-form-field color="accent" style="width: 305px;">
                <input matInput #input type="text" placeholder="Name" [(ngModel)]="movie.nameMovie" name="nameMovie" required>
                <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
    
            <mat-form-field color="accent" style="width: 305px;">
                <input matInput #input type="date" placeholder="Date" [(ngModel)]="movie.date" name="date" readonly>
                <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
    
            <mat-form-field color="accent" style="width: 305px;">
                <mat-select placeholder="Status" [(ngModel)]="movie.statusId" name="statusId" required>
                    <mat-option value=""></mat-option>
                    <mat-option *ngFor="let statusMovie of statusMovies" [value]="statusMovie.id">
                        {{statusMovie.status}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="f.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

            <mat-form-field color="accent" style="width: 305px;">
                <mat-select placeholder="Year" [(ngModel)]="movie.year" name="year">
                    <mat-option value=""></mat-option>
                    <mat-option *ngFor="let year of years" [value]="year">
                        {{year}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field color="accent" style="width: 305px;">
                <textarea matInput #input type="text" placeholder="Note" [(ngModel)]="movie.note" name="note" rows="4" cols="40"></textarea>
            </mat-form-field>
    
            <mat-form-field *ngIf="movie.statusId && (movie.statusId == 1 || movie.statusId == 2)" color="accent" style="width: 305px;">
                <textarea matInput #input type="text" placeholder="Path" [(ngModel)]="movie.path" name="path" rows="4" cols="40"></textarea>
            </mat-form-field>
    
            <mat-form-field style="width: 305px;">
                <input matInput #input [(ngModel)]="movie.imageUrl" name="imageUrl" id="imageUrl" type="text" hidden>
                <input type="file" name="file" (input)="onFileChanged($event)" accept=".jpeg,.jpg,.png,.svg">
            </mat-form-field>
    
            <div class="form" *ngIf="progressValue | async as val">
                <progress type="warning" [value]="val" class="styleProgress" max="100"></progress>
            </div>
    
            <div class="form" *ngIf="progressValue | async as val">
                <span *ngIf="val<100" class="progressIncomplete">{{ val | number}}% </span>
                <span *ngIf="val == 100" class="progressComplete">Completed !</span>
            </div>

            <div class="row justify-content-center" mat-dialog-actions>
                <button mat-button type="submit" [disabled]="!f.valid" [mat-dialog-close]="1" style="background:#FF5722;color: white;">Save</button>
                <button mat-button type="button" (click)="modalRef.close()" tabindex="-1" style="background:#607D8B;color: white;">Cancel</button>
            </div>
        
        </form>
    </div>
</div>