<h2  *ngIf="listSeriesByCurrentName.length == 1" class="text-application">No seasons yet</h2>
<h2 *ngIf="listSeriesByCurrentName.length == 2 || listSeriesByCurrentName.length > 2" class="text-application">All seasons</h2>

<mat-grid-list *ngIf="listSeriesByCurrentName.length > 1" cols=2 #grid rowHeight="250px" gutterSize="15px">
    <mat-grid-tile *ngFor="let serie of listSeriesByCurrentName">
        <mat-card class="settings-card" style="border: 1px solid;" (click)="sendDetailsSerie(serie)">
            <mat-card-title class="text-application"  style="font-size: 5vw;">{{ serie.nameSerieToShow }}</mat-card-title>                            
            <img *ngIf="serie.imageUrl" [src]="serie.imageUrl" class="serie-image" style="height: 85%">
            <img *ngIf="!serie.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="serie-image" style="height: 85%">              
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>