<h2 *ngIf="listSeasonsByParentSerieKey.length == 1" class="text-application">No seasons yet</h2>
<h2 *ngIf="listSeasonsByParentSerieKey.length > 1" class="text-application">All seasons</h2>

<mat-grid-list *ngIf="listSeasonsByParentSerieKey.length > 1" cols=2 #grid rowHeight="200px" gutterSize="15px">
    <mat-grid-tile *ngFor="let serie of listSeasonsByParentSerieKey">
        <div class="card" (click)="sendDetailsSerie(serie)">
            <img *ngIf="serie.imageUrl" [src]="serie.imageUrl" class="serie-image">
            <img *ngIf="!serie.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="serie-image">    
        </div>  
    </mat-grid-tile>
</mat-grid-list>