<div class="row">
    <div class="col-md-6" *ngIf="!isMobile">
        <input #query (keyup)="filter(query.value)" type="text"  class="form-control widhtInput" placeholder="Search by name...">
    </div>
    <div class="col-md-4" *ngIf="isMobile">
        <input #query (keyup)="filter(query.value)" type="text"  class="form-control widhtInput" placeholder="Search by name...">
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12" *ngIf="!isMobile">
        <app-upload-details [filteredFiles]='filteredFiles'></app-upload-details>
    </div>
    
    <div class="col-md-4" *ngIf="isMobile">
        <app-upload-details [filteredFiles]='filteredFiles' [isMobile]="isMobile"></app-upload-details>
    </div>
</div>
