.rest-money {
    display: flex; 
    justify-content: flex-start;
    font-size: 20px;
}

.label-place {
    display: flex; 
    justify-content: flex-end;
    font-size: 20px;
}

input.larger {
    width: 25px;
    height: 25px;
    margin-left: 180px;
}

.statusInDebtModalClass .modal-dialog {
    max-width: 10px !important;
}

.statusOutDebtModalClass .modal-dialog {
    max-width: 10px !important;
}