<h1 class="text-center text-danger font-weight-bold titleTextInterface">Debts</h1>
<div class="container mx-auto" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-4">
            <div class="row btnswrap justify-content-center">
                <button class="btn btn-success ml-2 mr-4 font-weight-bold" (click)="openModalSearch(contentModalSearch)"><i class="fa fa-search"></i></button>
                <button class="btn btn-info ml-1 mr-3 font-weight-bold" (click)="openModalRestMoneyForeachPlace(contentRestMoneyForeachPlace)">Rest</button>
                <button class="btn btn-dark ml-1 mr-3 font-weight-bold" (click)="openModalDebt(contentDebt)">Debt</button>
                <a *ngIf="user.roleAdd" (click)="newDebt()" class="btn btn-primary font-weight-bold float-right"><i class="fa fa-plus"></i></a>  
            </div>              
        </div>          
    </div>

    <br *ngIf="placeId">

    <div style="display: flex;align-items: center;justify-content: center;" *ngIf="placeId == 1">
        <div class="row">
            <div class="col-6">
                <span class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ restInPocket }}</span>
            </div>
            <div class="col-6 font-weight-bold">
                <span class="text-primary" style="font-size: 18px;">: الجيب</span>
            </div>
        </div>
    </div>

    <div style="display: flex;align-items: center;justify-content: center;" *ngIf="placeId == 2"> 
        <div class="row">
            <div class="col-5">
                <span class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ restInWallet }}</span>
            </div>
            <div class="col-7 font-weight-bold">
                <span class="text-primary"style="font-size: 18px;">: المحفظة</span>
            </div>
        </div>
    </div>

    <div style="display: flex;align-items: center;justify-content: center;" *ngIf="placeId == 3">
        <div class="row">
            <div class="col-5">
                <span class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ restInEnvelope }}</span>
            </div>
            <div class="col-7 font-weight-bold">
                <span class="text-primary" style="font-size: 18px;">: الظرف</span>
            </div>
        </div>
    </div>

    <div style="display: flex;align-items: center;justify-content: center;" *ngIf="placeId == 4">
        <div class="row">
            <div class="col-5">
                <span class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ restInBox }}</span>
            </div>
            <div class="col-7 font-weight-bold">
                <span class="text-primary" style="font-size: 18px;">: الصندوق</span>
            </div>
        </div>
    </div>

    <div style="display: flex;align-items: center;justify-content: center;" *ngIf="placeId == 5">
        <div class="row">
            <div class="col-5">
                <span class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ inDebt }}DT</span>
            </div>
            <div class="col-7 font-weight-bold">
                <span class="text-primary" style="font-size: 18px;">: الدين المتخلد</span>
            </div>
        </div>
    </div>
    <br *ngIf="placeId == 5">
    <div style="display: flex;align-items: center;justify-content: center;" *ngIf="placeId == 5">
        <div class="row">
            <div class="col-5">
                <span class="font-weight-bold badge badge-warning" style="font-size: 18px;width: 70px;">{{ outDebt }}DT</span>
            </div>
            <div class="col-7 font-weight-bold">
                <span class="text-primary" style="font-size: 18px;">: الدين المسال</span>
            </div>
        </div>
    </div>
    
    <div style="display: flex;align-items: center;justify-content: center;" *ngIf="placeId == 6">
        <div class="row">
            <div class="col-5">
                <span class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ restInPosteAccount }}</span>
            </div>
            <div class="col-7 font-weight-bold">
                <span class="text-primary" style="font-size: 18px;">: الحساب البريدي</span>
            </div>
        </div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-md-4" *ngFor="let debt of (filteredDebts | sortBy: 'key' | paginate: { itemsPerPage: 8, currentPage: p })">
            <div class="card bg-light" style="width: 18rem;margin-inline: auto;">
                <div class="card-body text-dark">
                    <div class="row">
                        <div class="col-5">
                            <span class="text-primary font-weight-bold">Date:</span>
                        </div>
                        <div class="col-7 font-weight-bold">
                            {{ debt.date | date:'dd/MM/yyyy' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <span class="text-primary font-weight-bold">Debtor:</span>
                        </div>
                        <div class="col-7 font-weight-bold">
                            {{ debt.debtor }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <span class="text-primary font-weight-bold">Creditor:</span>
                        </div>
                        <div class="col-7 font-weight-bold">
                            {{ debt.creditor }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <span class="text-primary font-weight-bold">Debt:</span>
                        </div>
                        <div class="col-7 font-weight-bold">
                            {{ debt.financialDebt }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <span class="text-primary font-weight-bold">Rest:</span>
                        </div>
                        <div class="col-7 font-weight-bold">
                            {{ debt.restMoney }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <span class="text-primary font-weight-bold">Note:</span>
                        </div>
                        <div class="col-7 font-weight-bold">
                            {{ debt.note }}
                        </div>
                    </div><br>
                    <div class="row btnswrap justify-content-center">
                        <button 
                            *ngIf="user.roleUpdate" 
                            (click)="editDebt(debt)" 
                            class="btn btn-secondary ml-1 mr-3 font-weight-bold"
                            style="text-decoration: none;">
                            Edit
                        </button>     
                        <button 
                            *ngIf="user.roleDelete" 
                            type="button" 
                            (click)="delete(debt.key)" 
                            class="btn btn-danger font-weight-bold"
                            style="text-decoration: none;">
                            Delete
                        </button>
                    </div>   
                </div>
            </div><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <pagination-controls (pageChange)="p = $event" responsive="true"></pagination-controls>
        </div>        
    </div>
</div>

<ng-template #contentModalSearch let-modal let-c="close" let-d="dismiss">

    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Search</h4>

        <button type="button" class="close" aria-label="Close" (click)="modalRefSearch.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <input [(ngModel)]="queryNote" type="text" class="form-control" placeholder="Search by note...">
                    <!-- <input [(ngModel)]="queryDate" type="date" class="form-control">           -->
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div *ngFor="let placeMoney of placesMoney">
                        <label>
                            <input type="radio" name="placeId" [(ngModel)]="placeId" id="placeId" 
                            [value]="placeMoney.id" style="height:25px; width:25px; vertical-align: middle;">
                            {{placeMoney.place}}
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row justify-content-center">
                <button class="btn btn-primary" (click)="getAllDebts()"><i class="fa fa-search"></i></button>
                <button *ngIf="queryNote || placeId" class="btn btn-danger" (click)="clear()"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>        
</ng-template>

<ng-template #contentRestMoneyForeachPlace let-modal let-c="close" let-d="dismiss">

    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold text-danger">Rest Money</h4>

        <button type="button" class="close" aria-label="Close" (click)="modalRefRestMoneyForeachPlace.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bold rest-money">{{ restInPocket }}</span>
                </div>
                <div class="col-8 font-weight-bold label-place">
                    <span class="text-primary font-weight-bold">: الجيب</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bold rest-money" >{{ restInWallet }}</span>
                </div>
                <div class="col-8 font-weight-bold label-place">
                    <span class="text-primary font-weight-bold">: المحفظة</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bold rest-money">{{ restInEnvelope }}</span>
                </div>
                <div class="col-8 font-weight-bold label-place">
                    <span class="text-primary font-weight-bold">: الظرف</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bold rest-money">{{ restInBox }}</span>
                </div>
                <div class="col-8 font-weight-bold label-place">
                    <span class="text-primary font-weight-bold">: الصندوق</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bold rest-money">{{ restInPosteAccount }}</span>
                </div>
                <div class="col-8 font-weight-bold label-place">
                    <span class="text-primary font-weight-bold">: الحساب البريدي</span>
                </div>
            </div>
        </div>
    </div>        
</ng-template>

<ng-template #contentDebt let-modal let-c="close" let-d="dismiss">

    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold text-danger">Debt</h4>

        <button type="button" class="close" aria-label="Close" (click)="modalRefDebt.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <button class="btn btn-warning" (click)="showDetInDebt(contentDetInDebt)">
                    <span class="font-weight-bold rest-money">{{ inDebt }}DT</span>
                </button>
            </div>
            <div class="col-6 font-weight-bold label-place">
                <span class="text-primary font-weight-bold">الدين المتخلد</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3">
                <button class="btn btn-warning" (click)="showDetOutDebt(contentDetOutDebt)">
                    <span class="font-weight-bold rest-money">{{ outDebt }}DT</span>
                </button>
            </div>
            <div class="col-6 font-weight-bold label-place">
                <span class="text-primary font-weight-bold">الدين المسال</span>
            </div>
        </div>
        <br>
    </div>
</ng-template>

<ng-template #contentDetInDebt let-modal let-c="close" let-d="dismiss">

    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold text-danger">Details</h4>

        <button type="button" class="close" aria-label="Close" (click)="modalRefDetInDebt.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-4" *ngFor="let detailInDebt of detailsInDebt">
                <div class="card bg-light" style="width: 18rem;margin-inline: auto;">
                    <div class="card-body text-dark">
                        <div class="row">
                            <div class="col-5">
                                <span class="text-primary font-weight-bold" style="font-size: 20px;">
                                    {{ detailInDebt.creditor }}
                                </span>
                            </div>
                            <div class="col-7 font-weight-bold text-success" style="font-size: 20px;text-align: center;">
                                {{ detailInDebt.financialDebt }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 font-weight-bold" style="font-size: 20px;text-align: right;">
                                {{ detailInDebt.note }}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>

    </div>
</ng-template>

<ng-template #contentDetOutDebt let-modal let-c="close" let-d="dismiss">

    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold text-danger">Details</h4>

        <button type="button" class="close" aria-label="Close" (click)="modalRefDetOutDebt.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-4" *ngFor="let detailOutDebt of detailsOutDebt">
                <div class="card bg-light" style="width: 18rem;margin-inline: auto;">
                    <div class="card-body text-dark">
                        <div class="row">
                            <div class="col-5">
                                <span class="text-primary font-weight-bold" style="font-size: 20px;">
                                    {{ detailOutDebt.debtor }}
                                </span>
                            </div>
                            <div class="col-7 font-weight-bold text-success" style="font-size: 20px;text-align: center;">
                                {{ detailOutDebt.financialDebt }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 font-weight-bold" style="font-size: 20px;text-align: right;">
                                {{ detailOutDebt.note }}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>

    </div>
</ng-template>