<h1 class="text-center text-danger font-weight-bold titleTextInterface">Debts</h1>
<div class="container mx-auto" style="margin-top: 40px;">
    <div class="row">
        <div class="col-md-4">
            <div class="row btnswrap justify-content-center">
                <button class="btn btn-success ml-2 mr-4" (click)="openModalSearch(contentModalSearch)"><i class="fa fa-search"></i></button>
                <button class="btn btn-info ml-1 mr-3 font-weight-bold" (click)="openModalRestMoneyForeachPlace(contentRestMoneyForeachPlace)">Rest</button>
                <button class="btn btn-dark ml-1 mr-3 font-weight-bold" (click)="openModalDebt(contentDebt)">Debt</button>
                <a *ngIf="user.roleAdd" (click)="newDebt()" class="btn btn-primary float-right"><i class="fa fa-plus"></i></a>  
            </div>              
        </div>          
    </div>

    <br *ngIf="checkPlace">

    <div *ngIf="checkPlace">
        <div style="display: flex;align-items: center;justify-content: center;" *ngIf="placeId == 1">
            <div class="row">
                <div class="col-6">
                    <span class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ restInPocket }}</span>
                </div>
                <div class="col-6 font-weight-bold">
                    <span class="text-primary" style="font-size: 18px;">: الجيب</span>
                </div>
            </div>
        </div>
    
        <div style="display: flex;align-items: center;justify-content: center;" *ngIf="placeId == 2"> 
            <div class="row">
                <div class="col-5">
                    <span class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ restInWallet }}</span>
                </div>
                <div class="col-7 font-weight-bold">
                    <span class="text-primary"style="font-size: 18px;">: المحفظة</span>
                </div>
            </div>
        </div>
    
        <div style="display: flex;align-items: center;justify-content: center;" *ngIf="placeId == 3">
            <div class="row">
                <div class="col-5">
                    <span class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ restInEnvelope }}</span>
                </div>
                <div class="col-7 font-weight-bold">
                    <span class="text-primary" style="font-size: 18px;">: الظرف</span>
                </div>
            </div>
        </div>
    
        <div style="display: flex;align-items: center;justify-content: center;" *ngIf="placeId == 4">
            <div class="row">
                <div class="col-5">
                    <span class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ restInBox }}</span>
                </div>
                <div class="col-7 font-weight-bold">
                    <span class="text-primary" style="font-size: 18px;">: الصندوق</span>
                </div>
            </div>
        </div>
    
        <div class="row" *ngIf="placeId == 5">
            <div class="col-md-4">
                <div class="card bg-light" style="width: 18rem;margin-inline: auto;">
                    <div class="card-body text-dark" style="text-align: center;">
                        <div class="row">
                            <div class="col-7">
                                <span *ngIf="totalInDebts" class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ totalInDebts }}</span>
                                <span *ngIf="!totalInDebts" class="font-weight-bold badge badge-warning" style="font-size: 18px;">0DT</span>
                            </div>
                            <div class="col-5 font-weight-bold">
                                <span class="text-primary" style="font-size: 18px;">:المتخلد</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-7">
                                <select [(ngModel)]="creditorName" name="creditorName" id="creditorName" class="form-control" (click)="getTotalInDebtsByCreditor()">
                                    <option *ngFor="let creditor of creditors" [value]="creditor">
                                        {{creditor}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-5 font-weight-bold">
                                <span class="text-primary" style="font-size: 18px;">:الدائنين</span>
                            </div>
                        </div>
                        <br *ngIf="creditorName">
                        <div class="row" *ngIf="creditorName">
                            <div class="col-7">
                                <span *ngIf="totalInDebtsByCreditor" class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ totalInDebtsByCreditor }}</span>
                                <span *ngIf="!totalInDebtsByCreditor" class="font-weight-bold badge badge-warning" style="font-size: 18px;">0DT</span>
                            </div>
                            <div class="col-5 font-weight-bold">
                                <span class="text-primary" style="font-size: 18px;">:الدين</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br *ngIf="placeId == 5">

        <div class="row" *ngIf="placeId == 5">
            <div class="col-md-4">
                <div class="card bg-light" style="width: 18rem;margin-inline: auto;">
                    <div class="card-body text-dark" style="text-align: center;">
                        <div class="row">
                            <div class="col-7">
                                <span *ngIf="totalOutDebts" class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ totalOutDebts }}</span>
                                <span *ngIf="!totalOutDebts" class="font-weight-bold badge badge-warning" style="font-size: 18px;">0DT</span>
                            </div>
                            <div class="col-5 font-weight-bold">
                                <span class="text-primary" style="font-size: 18px;">:المسال</span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-7">
                                <select [ngModel]="debtorName" (ngModelChange)="getTotalOutDebtsByDebtor($event)" name="debtorName" id="debtorName" class="form-control">
                                    <option *ngFor="let debtor of debtors" [value]="debtor">
                                        {{debtor}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-5 font-weight-bold">
                                <span class="text-primary" style="font-size: 18px;">:المدينين</span>
                            </div>
                        </div>
                        <br *ngIf="debtorName">
                        <div class="row" *ngIf="debtorName">
                            <div class="col-7">
                                <span *ngIf="totalOutDebtsByDebtor" class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ totalOutDebtsByDebtor }}</span>
                                <span *ngIf="!totalOutDebtsByDebtor" class="font-weight-bold badge badge-warning" style="font-size: 18px;">0DT</span>
                            </div>
                            <div class="col-5 font-weight-bold">
                                <span class="text-primary" style="font-size: 18px;">:الدين</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div style="display: flex;align-items: center;justify-content: center;" *ngIf="placeId == 6">
            <div class="row">
                <div class="col-5">
                    <span class="font-weight-bold badge badge-warning" style="font-size: 18px;">{{ restInPosteAccount }}</span>
                </div>
                <div class="col-7 font-weight-bold">
                    <span class="text-primary" style="font-size: 18px;">: الحساب البريدي</span>
                </div>
            </div>
        </div>
    </div>
    
    <br>

    <div class="row">
        <div class="col-md-4">
            <button
                *ngIf="!sortByDesc"
                class="btn btn-warning float-right" 
                style="margin-right: 6px;" 
                (click)="sortByRefDebtDesc()">
                <i class="fa fa-lg fa-sort-desc" aria-hidden="true"></i>
            </button>

            <button
                *ngIf="sortByDesc"
                class="btn btn-warning float-right" 
                style="margin-right: 6px;" 
                (click)="sortByRefDebtAsc()">
                <i class="fa fa-lg fa-sort-asc" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let debt of (filteredDebts | sortBy: 'key' | paginate: { itemsPerPage: 8, currentPage: p })">
            <div class="card bg-light" style="width: 18rem;margin-inline: auto;">
                <div class="card-body text-dark">
                    <div class="row">
                        <div class="col-5">
                            <span class="text-primary font-weight-bold">Date:</span>
                        </div>
                        <div class="col-7 font-weight-bold">
                            {{ debt.date | date:'dd/MM/yyyy' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <span class="text-primary font-weight-bold">Debtor:</span>
                        </div>
                        <div class="col-7 font-weight-bold">
                            {{ debt.debtor }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <span class="text-primary font-weight-bold">Creditor:</span>
                        </div>
                        <div class="col-7 font-weight-bold">
                            {{ debt.creditor }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <span class="text-primary font-weight-bold">Debt:</span>
                        </div>
                        <div class="col-7 font-weight-bold">
                            {{ debt.financialDebt }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <span class="text-primary font-weight-bold">Rest:</span>
                        </div>
                        <div class="col-7 font-weight-bold">
                            {{ debt.restMoney }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <span class="text-primary font-weight-bold">Place:</span>
                        </div>
                        <div class="col-7 font-weight-bold">
                            <span *ngIf="debt.placeId">{{ debt.place }}</span>
                            <span *ngIf="!debt.placeId">-</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <span class="text-primary font-weight-bold">Note:</span>
                        </div>
                        <div class="col-7 font-weight-bold">
                            {{ debt.note }}
                        </div>
                    </div><br>
                    <div class="row btnswrap justify-content-center">
                        <button 
                            *ngIf="user.roleUpdate" 
                            (click)="editDebt(debt)" 
                            class="btn btn-secondary ml-1 mr-3"
                            style="text-decoration: none;">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>     
                        <button 
                            *ngIf="user.roleDelete" 
                            type="button" 
                            (click)="deleteDebt(debt.key)" 
                            class="btn btn-danger"
                            style="text-decoration: none;">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>   
                </div>
            </div><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <pagination-controls (pageChange)="p = $event" responsive="true"></pagination-controls>
        </div>        
    </div>
</div>

<ng-template #contentModalSearch let-modal let-c="close" let-d="dismiss">

    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Search</h4>

        <button type="button" class="close" aria-label="Close" (click)="modalRefSearch.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <input [(ngModel)]="queryNote" type="text" class="form-control" placeholder="Search by note...">
                    <!-- <input [(ngModel)]="queryDate" type="date" class="form-control">           -->
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div *ngFor="let placeMoney of placesMoney">
                        <label>
                            <input type="radio" name="placeId" [(ngModel)]="placeId" id="placeId" 
                            [value]="placeMoney.id" style="height:25px; width:25px; vertical-align: middle;">
                            {{placeMoney.place}}
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row justify-content-center">
                <button class="btn btn-primary" (click)="getAllDebts()"><i class="fa fa-search"></i></button>
                <button *ngIf="queryNote || placeId" class="btn btn-danger" (click)="clear()"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>        
</ng-template>

<ng-template #contentRestMoneyForeachPlace let-modal let-c="close" let-d="dismiss">

    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold text-danger">Rest Money</h4>

        <button type="button" class="close" aria-label="Close" (click)="modalRefRestMoneyForeachPlace.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bold rest-money">{{ restInPocket }}</span>
                </div>
                <div class="col-8 font-weight-bold label-place">
                    <span class="text-primary font-weight-bold">: الجيب</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bold rest-money" >{{ restInWallet }}</span>
                </div>
                <div class="col-8 font-weight-bold label-place">
                    <span class="text-primary font-weight-bold">: المحفظة</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bold rest-money">{{ restInEnvelope }}</span>
                </div>
                <div class="col-8 font-weight-bold label-place">
                    <span class="text-primary font-weight-bold">: الظرف</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bold rest-money">{{ restInBox }}</span>
                </div>
                <div class="col-8 font-weight-bold label-place">
                    <span class="text-primary font-weight-bold">: الصندوق</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bold rest-money">{{ restInPosteAccount }}</span>
                </div>
                <div class="col-8 font-weight-bold label-place">
                    <span class="text-primary font-weight-bold">: الحساب البريدي</span>
                </div>
            </div>
        </div>
    </div>        
</ng-template>

<ng-template #contentDebt let-modal let-c="close" let-d="dismiss">

    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold text-danger">Debt</h4>

        <button type="button" class="close" aria-label="Close" (click)="modalRefDebt.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <button class="btn btn-warning" (click)="showDetInDebt(contentDetInDebt)">
                    <span *ngIf="totalInDebts" class="font-weight-bold rest-money">{{ totalInDebts }}</span>
                    <span *ngIf="!totalInDebts" class="font-weight-bold rest-money">0DT</span>
                </button>
            </div>
            <div class="col-6 font-weight-bold label-place">
                <span class="text-primary font-weight-bold">المتخلد</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <button class="btn btn-warning" (click)="showDetOutDebt(contentDetOutDebt)">
                    <span *ngIf="totalOutDebts" class="font-weight-bold rest-money">{{ totalOutDebts }}</span>
                    <span *ngIf="!totalOutDebts" class="font-weight-bold rest-money">0DT</span>
                </button>
            </div>
            <div class="col-6 font-weight-bold label-place">
                <span class="text-primary font-weight-bold">المسال</span>
            </div>
        </div>
        <br>
    </div>
</ng-template>

<ng-template #contentDetInDebt let-modal let-c="close" let-d="dismiss">

    <div class="modal-header text-center">
        <h4 *ngIf="totalInDebtsInModal" class="modal-title w-100 font-weight-bold text-danger">{{ totalInDebtsInModal }}</h4>
        <h4 *ngIf="!totalInDebtsInModal" class="modal-title w-100 font-weight-bold text-danger">0DT</h4>

        <button type="button" class="close" aria-label="Close" (click)="modalRefDetInDebt.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <label>
                        <input 
                            [(ngModel)]="toPayThisMonth" 
                            name="toPayThisMonth" 
                            id="toPayThisMonth" 
                            type="checkbox" 
                            class="form-check-input larger" 
                            (ngModelChange)="payThisMonth()"
                            style="margin-left: 185px;">
                        <span style="margin-left: 70px;">Pay this month</span>
                    </label>             
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>
                        <input 
                            [(ngModel)]="toPayNextMonth" 
                            name="toPayNextMonth" 
                            id="toPayNextMonth" 
                            type="checkbox" 
                            class="form-check-input larger" 
                            (ngModelChange)="payNextMonth()"
                            style="margin-left: 185px;">
                        <span style="margin-left: 70px;">Pay next month</span>
                    </label>             
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>
                        <input 
                            [(ngModel)]="notToPay" 
                            name="notToPay" 
                            id="notToPay" 
                            type="checkbox"
                            class="form-check-input larger" 
                            (ngModelChange)="notToBePay()"
                            style="margin-left: 185px;">
                        <span style="margin-left: 70px">Not To pay</span>
                    </label>             
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4">
                <button 
                    *ngIf="toPayThisMonth && detailsInDebt.length" 
                    (click)="deleteAll()" 
                    class="btn btn-danger font-weight-bold"
                    style="margin-left: 200px;">
                    Delete all
                </button> 
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" *ngFor="let detailInDebt of (detailsInDebt | sortBy: 'key' | paginate: { itemsPerPage: 8, currentPage: pageDetsInDebt })">
                <div class="card bg-light" style="width: 18rem;margin-inline: auto;">
                    <div class="card-body text-dark">
                        <div class="row">
                            <div class="col-12 text-primary font-weight-bold" style="font-size: 20px;text-align: center;">
                                {{ detailInDebt.creditor }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12 font-weight-bold text-success" style="font-size: 20px;text-align: center;" (click)="updateInDebtValue(detailInDebt)">
                                {{ detailInDebt.financialDebt }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12 font-weight-bold" style="font-size: 20px;text-align: center;">
                                {{ detailInDebt.note }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <button 
                                    type="button" 
                                    (click)="openModalChangeStatusInDebt(contentChangeStatusInDebt, detailInDebt)"
                                    class="btn btn-secondary"
                                    style="float: right;">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-6">
                                <button 
                                    *ngIf="user.roleDelete" 
                                    type="button" 
                                    (click)="deleteFromModalInDebts(detailInDebt.key)"
                                    class="btn btn-danger"
                                    style="float: left;">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <pagination-controls (pageChange)="pageDetsInDebt = $event" responsive="true"></pagination-controls>
            </div>        
        </div>

    </div>
</ng-template>

<ng-template #contentDetOutDebt let-modal let-c="close" let-d="dismiss">

    <div class="modal-header text-center">
        <h4 *ngIf="totalOutDebtsInModal" class="modal-title w-100 font-weight-bold text-danger">{{ totalOutDebtsInModal }}</h4>
        <h4 *ngIf="!totalOutDebtsInModal" class="modal-title w-100 font-weight-bold text-danger">0DT</h4>

        <button type="button" class="close" aria-label="Close" (click)="modalRefDetOutDebt.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <label>
                        <input 
                            [(ngModel)]="toGetThisMonth" 
                            name="toGetThisMonth" 
                            id="toGetThisMonth" 
                            type="checkbox" 
                            class="form-check-input larger" 
                            (ngModelChange)="getThisMonth()"
                            style="margin-left: 185px;">
                        <span style="margin-left: 70px;">Get this month</span>
                    </label>             
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>
                        <input 
                            [(ngModel)]="toGetNextMonth" 
                            name="toGetNextMonth" 
                            id="toGetNextMonth" 
                            type="checkbox" 
                            class="form-check-input larger" 
                            (ngModelChange)="getNextMonth()"
                            style="margin-left: 185px;">
                        <span style="margin-left: 70px;">Get next month</span>
                    </label>             
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>
                        <input 
                            [(ngModel)]="notToGet" 
                            name="notToGet" 
                            id="notToGet" 
                            type="checkbox"
                            class="form-check-input larger" 
                            (ngModelChange)="notToBeGet()"
                            style="margin-left: 185px;">
                        <span style="margin-left: 70px">Not to get</span>
                    </label>             
                </div>
            </div>
        </div>
                    
        <br>
        <div class="row">
            <div class="col-md-4" *ngFor="let detailOutDebt of (detailsOutDebt | sortBy: 'key' | paginate: { itemsPerPage: 8, currentPage: pageDetsOutDebt })">
                <div class="card bg-light" style="width: 18rem;margin-inline: auto;">
                    <div class="card-body text-dark">
                        <div class="row">
                            <div class="col-12 font-weight-bold text-primary" style="font-size: 20px;text-align: center;">
                                {{ detailOutDebt.debtor }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12 font-weight-bold text-success" style="font-size: 20px;text-align: center;" (click)="updateOutDebtValue(detailOutDebt)">
                                {{ detailOutDebt.financialDebt }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12 font-weight-bold" style="font-size: 20px;text-align: center;">
                                {{ detailOutDebt.note }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <button 
                                    type="button" 
                                    (click)="openModalChangeStatusOutDebt(contentChangeStatusOutDebt, detailOutDebt)"
                                    class="btn btn-secondary"
                                    style="float: right;">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-6">
                                <button 
                                    *ngIf="user.roleDelete" 
                                    type="button" 
                                    (click)="deleteFromModalOutDebts(detailOutDebt.key)"
                                    class="btn btn-danger"
                                    style="float: left;">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <pagination-controls (pageChange)="pageDetsOutDebt = $event" responsive="true"></pagination-controls>
            </div>        
        </div>

    </div>
</ng-template>

<ng-template #contentChangeStatusInDebt let-modal let-c="close" let-d="dismiss">

    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold text-danger">Select status</h4>

        <button type="button" class="close" aria-label="Close" (click)="modalRefChangeStatusInDebt.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="container">
            <div class="row" *ngIf="detailInDebt.toPayThisMonth">
                <div class="col-md-4">
                    <label>
                        <input 
                            [(ngModel)]="checkToPayNextMonth" 
                            name="toPayNextMonth" 
                            id="toPayNextMonth" 
                            type="checkbox" 
                            class="form-check-input larger"
                            (ngModelChange)="changeStatusToPayNextMonth()"
                            style="margin-left: 185px;">
                        <span style="margin-left: 65px;">Pay next month</span>
                    </label>             
                </div>
                <div class="col-md-4">
                    <label>
                        <input 
                            [(ngModel)]="checkNotToPay" 
                            name="notToPay" 
                            id="notToPay" 
                            type="checkbox"
                            class="form-check-input larger"
                            (ngModelChange)="changeStatusNotToPayForNow()"
                            style="margin-left: 185px;">
                        <span style="margin-left: 64px">Not payed</span>
                    </label>             
                </div>
            </div>
            <div class="row" *ngIf="detailInDebt.toPayNextMonth">
                <div class="col-md-4">
                    <label>
                        <input 
                            [(ngModel)]="checkToPayThisMonth" 
                            name="toPayThisMonth" 
                            id="toPayThisMonth" 
                            type="checkbox" 
                            class="form-check-input larger"
                            (ngModelChange)="changeStatusToPayThisMonth()"
                            style="margin-left: 185px;">
                        <span style="margin-left: 70px;">Pay this month</span>
                    </label>             
                </div>
                <div class="col-md-4">
                    <label>
                        <input 
                            [(ngModel)]="checkNotToPay" 
                            name="notToPay" 
                            id="notToPay" 
                            type="checkbox"
                            class="form-check-input larger"
                            (ngModelChange)="changeStatusNotToPayForNow()"
                            style="margin-left: 185px;">
                        <span style="margin-left: 70px">Not payed</span>
                    </label>             
                </div>
            </div>
            <div class="row" *ngIf="detailInDebt.notToPayForNow">
                <div class="col-md-4">
                    <label>
                        <input 
                            [(ngModel)]="checkToPayThisMonth" 
                            name="toPayThisMonth" 
                            id="toPayThisMonth" 
                            type="checkbox" 
                            class="form-check-input larger"
                            (ngModelChange)="changeStatusToPayThisMonth()"
                            style="margin-left: 185px;">
                        <span style="margin-left: 70px;">Pay this month</span>
                    </label>             
                </div>
                <div class="col-md-4">
                    <label>
                        <input 
                            [(ngModel)]="checkToPayNextMonth" 
                            name="toPayNextMonth" 
                            id="toPayNextMonth" 
                            type="checkbox" 
                            class="form-check-input larger"
                            (ngModelChange)="changeStatusToPayNextMonth()"
                            style="margin-left: 185px;">
                        <span style="margin-left: 70px;">Pay next month</span>
                    </label>             
                </div>
            </div>
        </div>
        
    </div>

</ng-template>

<ng-template #contentChangeStatusOutDebt let-modal let-c="close" let-d="dismiss">

    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold text-danger">Select status</h4>

        <button type="button" class="close" aria-label="Close" (click)="modalRefChangeStatusOutDebt.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row justify-content-center" *ngIf="detailOutDebt.toGetThisMonth">
            <div class="col-md-6">
                <label>
                    <input 
                        [(ngModel)]="checkToGetNextMonth" 
                        name="checkToGetNextMonth" 
                        id="checkToGetNextMonth" 
                        type="checkbox" 
                        class="form-check-input larger"
                        (ngModelChange)="changeStatusToGetNextMonth()"
                        style="margin-left: 185px;">
                    <span style="margin-left: 65px;">Get next month</span>
                </label>             
            </div>
            <div class="col-md-6">
                <label>
                    <input 
                        [(ngModel)]="checkNotToGet" 
                        name="checkNotToGet" 
                        id="checkNotToGet" 
                        type="checkbox"
                        class="form-check-input larger"
                        (ngModelChange)="changeStatusNotToGetForNow()"
                        style="margin-left: 185px;">
                    <span style="margin-left: 65px">Not to get</span>
                </label>             
            </div>
        </div>
        <div class="row justify-content-center" *ngIf="detailOutDebt.toGetNextMonth">
            <div class="col-md-6">
                <label>
                    <input 
                        [(ngModel)]="checkToGetThisMonth" 
                        name="checkToGetThisMonth" 
                        id="checkToGetThisMonth" 
                        type="checkbox" 
                        class="form-check-input larger"
                        (ngModelChange)="changeStatusToGetThisMonth()"
                        style="margin-left: 185px;">
                    <span style="margin-left: 70px;">Get this month</span>
                </label>             
            </div>
            <div class="col-md-6">
                <label>
                    <input 
                        [(ngModel)]="checkNotToGet" 
                        name="checkNotToGet" 
                        id="checkNotToGet" 
                        type="checkbox"
                        class="form-check-input larger"
                        (ngModelChange)="changeStatusNotToGetForNow()"
                        style="margin-left: 185px;">
                    <span style="margin-left: 70px">Not to get</span>
                </label>           
            </div>
        </div>
        <div class="row justify-content-center" *ngIf="detailOutDebt.notToGetForNow">
            <div class="col-md-6">
                <label>
                    <input 
                        [(ngModel)]="checkToGetThisMonth" 
                        name="checkToGetThisMonth" 
                        id="checkToGetThisMonth" 
                        type="checkbox" 
                        class="form-check-input larger"
                        (ngModelChange)="changeStatusToGetThisMonth()"
                        style="margin-left: 185px;">
                    <span style="margin-left: 70px;">Get this month</span>
                </label>            
            </div>
            <div class="col-md-6">
                <label>
                    <input 
                        [(ngModel)]="checkToGetNextMonth" 
                        name="checkToGetNextMonth" 
                        id="checkToGetNextMonth" 
                        type="checkbox" 
                        class="form-check-input larger"
                        (ngModelChange)="changeStatusToGetNextMonth()"
                        style="margin-left: 185px;">
                    <span style="margin-left: 70px;">Get next month</span>
                </label>              
            </div>
        </div>
    </div>

</ng-template>