
<span>
  <span class="text-application" style="font-size: x-large;">{{ note.contentNote }}</span><br *ngIf="note.remark">
  <span class="text-application" style="font-size: large;" *ngIf="note.remark">{{ note.remark }}</span>
</span>

<button mat-icon-button [matMenuTriggerFor]="contextMenu" [matMenuTriggerData]="{note:note}" style="float: right;">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #contextMenu="matMenu" xPosition="before">
  <ng-template matMenuContent let-note="note">

    <button
      type="button"
      mat-menu-item 
      (click)="editNote(note)"
      class="text-application">
      <mat-icon style="color: #9C27B0" aria-label="Edit">edit</mat-icon>
      <span>Edit</span>
    </button>

    <button
      type="button"
      mat-menu-item 
      (click)="allowDragTask()"
      class="text-application">
      <mat-icon style="color: #9C27B0" aria-label="Edit">edit</mat-icon>
      <span>Allow Drag</span>
    </button>

    <button
      *ngIf="note.urlFile && checkIsImage(note.urlFile)"
      type="button"
      mat-menu-item               
      (click)="viewPictureFile(note, showPicture)"
      class="text-application">
      <mat-icon>attach_file</mat-icon>                
      <span>Picture</span>
    </button>

    <button
      *ngIf="note.urlFile && checkIsPdf(note.urlFile)"
      type="button"
      mat-menu-item 
      (click)="viewOtherFile(note, showOtherFile)"
      class="text-application">
      <mat-icon>attach_file</mat-icon>                
      <span>PDF</span>
    </button>

    <button
      *ngIf="note.urlFile && checkIsExcel(note.urlFile)"
      type="button"
      mat-menu-item 
      (click)="viewOtherFile(note, showOtherFile)"
      class="text-application">
      <mat-icon>attach_file</mat-icon>                
      <span>Excel</span>
    </button>

    <button
      *ngIf="note.urlFile && checkIsTxt(note.urlFile)"
      type="button"
      mat-menu-item 
      (click)="viewOtherFile(note, showOtherFile)"
      class="text-application">
      <mat-icon>attach_file</mat-icon>                
      <span>Txt</span>
    </button>

    <button
      *ngIf="note.urlFile && checkIsWord(note.urlFile)"
      type="button"
      mat-menu-item 
      (click)="viewOtherFile(note, showOtherFile)"
      class="text-application">
      <mat-icon>attach_file</mat-icon>                
      <span>Word</span>
    </button>

    <button
      *ngIf="note.urlFile"
      type="button"
      mat-menu-item 
      (click)="downloadFile(note)"
      class="text-application">
      <mat-icon style="color: #2E7D32;">cloud_download</mat-icon>
      <span>Download</span>
    </button>

    <button
      *ngIf="note.contentNote"
      type="button"
      mat-menu-item 
      (click)="viewNoteOrRemark(note.contentNote)"
      class="text-application">
      <mat-icon style="color: black;">note</mat-icon>   
      <span>Note</span>
    </button>

    <button
      *ngIf="note.remark"
      type="button"
      mat-menu-item 
      (click)="viewNoteOrRemark(note.remark)"
      class="text-application">
      <mat-icon style="color: black;">note</mat-icon>   
      <span>Remark</span>
    </button>

    <button
      type="button"
      mat-menu-item 
      (click)="deleteNote(note.id)"
      class="text-application">
      <mat-icon style="color: #f44336;">delete</mat-icon>
      <span>Delete</span>
    </button>  

  </ng-template>
</mat-menu>

<ng-template #showPicture>

  <div mat-dialog-title class="dialog-title">
    <h2 class="text-application">{{ FileName }}</h2>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="row">
    <img *ngIf="pictureFile" [src]='pictureFile' class="pictureFileMobile">
  </div>       

</ng-template>

<ng-template #showOtherFile>

  <div mat-dialog-title class="dialog-title">
    <h2 class="text-application">{{ FileName }}</h2>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="row">        
    <ngx-doc-viewer
      *ngIf="urlFile" 
      [url]="urlFile" 
      viewer="google"
      class="otherFileMobile">
    </ngx-doc-viewer>
  </div>

</ng-template>