<div mat-dialog-title class="dialog-title">
    <h2 class="text-application">Animes
        <span *ngIf="currentStatusForAnime == 1">wait to sort</span>
        <span *ngIf="currentStatusForAnime == 2">not downloaded yet</span>
        <span *ngIf="currentStatusForAnime == 3">watched</span>
        <span *ngIf="currentStatusForAnime == 4">not watched yet</span>
        <span *ngIf="currentStatusForAnime == 5">to search about it</span>
    </h2>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="row">
    <div class="col-md-12">

        <mat-form-field style="width: 180px;">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="queryName" (keyup)="filterAnimes()" [(ngModel)]="queryName"/>
        </mat-form-field>

        <button 
            *ngIf="!sortByDesc && currentStatusForAnime == 2"
            type="button"  
            mat-mini-fab 
            color="primary" 
            (click)="sortByRefAnimeDesc()" 
            style="background: #2196F3;float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;

        <button 
            *ngIf="sortByDesc && currentStatusForAnime == 2"
            type="button"
            mat-mini-fab
            color="primary" 
            (click)="sortByRefAnimeAsc()" 
            style="background: #2196F3;float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;

    </div> 
</div>

<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef>Picture</th>
            <td mat-cell *matCellDef="let element"> 
                <img *ngIf="element.imageUrl" mat-card-md-image [src]="element.imageUrl" (click)="zoomPicture(element)">
                <img *ngIf="!element.imageUrl" mat-card-md-image src="/assets/pictures/NoImageAvailable.png" (click)="zoomPicture(element)">

                <span *ngIf="element.type == 'TV' && element.statusId !== 3">
                    <span *ngIf="element.currentEpisode && element.totalEpisodes" style="margin-left: 35px;">{{ element.currentEpisode }} / {{ element.totalEpisodes }}</span>
                    <span *ngIf="element.currentEpisode && !element.totalEpisodes" style="margin-left: 33px;">{{ element.currentEpisode }} / ?</span>
                    <span *ngIf="!element.currentEpisode && element.totalEpisodes" style="margin-left: 35px;">? / {{ element.totalEpisodes }}</span>
                    <span *ngIf="!element.currentEpisode && !element.totalEpisodes" style="margin-left: 40px;">? / ?</span>
                </span> 
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend">
                    <div><span>Name:</span></div>
                    <div><span style="cursor: pointer;" (click)="copyNameAnime(element.nameAnime)">{{ element.nameAnime }}</span></div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend">
                    <div><span>Type:</span></div>
                    <div>{{ element.type }}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="season">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend" *ngIf="element.season" [hidden]="element.type == 'Special'">
                    <div><span>Season:</span></div>
                    <div>{{ element.season }}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend">
                    <div><span>Note:</span></div>
                    <div>{{ element.note }}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="star">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{element:element}">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
        No results
    </div>

    <mat-paginator 
        [pageSizeOptions]="[8]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-anime="element">

        <button 
            *ngIf="dataUserConnected.roleUpdateAnime"  
            type="button" 
            mat-menu-item 
            (click)="editAnime(anime)">
            <mat-icon style="color: #9C27B0" aria-label="Edit">edit</mat-icon>
            <span>Edit</span>
        </button>

        <button mat-menu-item *ngIf="anime.statusId !== 3" [hidden]="anime.statusId == 4"> 
            <mat-icon *ngIf="anime.statusId == 1" style="color: #EF6C00;">remove_red_eye</mat-icon>
            <mat-icon *ngIf="anime.statusId == 2" style="color: #2E7D32;">cloud_download</mat-icon>
            <mat-icon *ngIf="anime.statusId == 5" style="color: #EF6C00;">search</mat-icon>
            <a href="{{ anime.path }}" target="_blank" style="text-decoration: none;">
              <span *ngIf="anime.statusId == 1" style="color: black !important;">Check</span>
              <span *ngIf="anime.statusId == 2" style="color: black !important;">Download</span>
              <span *ngIf="anime.statusId == 5" style="color: black !important;">Search</span>
            </a>  
        </button>

        <button
            *ngIf="dataUserConnected.roleDeleteAnime" 
            type="button"
            mat-menu-item 
            (click)="openDeleteAnimeModal(anime, contentDeleteAnime)" 
            class="text-application">
            <mat-icon style="color: #f44336;">delete</mat-icon>
            <span>Delete</span>
        </button>

	</ng-template>
</mat-menu>

<ng-template #contentDeleteAnime>

    <div mat-dialog-title class="dialog-title">
      <h2 class="text-application">Are you sure ?</h2>
    </div>
  
    <div mat-dialog-content>
        <div class="gridForDelete text-application">
            <div><span>Name:</span></div>
            <div>{{ animeToDelete.nameAnime }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Date:</span></div>
            <div>{{ animeToDelete.date | date:'dd/MM/yyyy' }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Status:</span></div>
            <div>{{ animeToDelete.status }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Note:</span></div>
            <div>{{ animeToDelete.note }}</div>
        </div> 
    </div>

    <br>

    <div class="row justify-content-center" mat-dialog-actions>
        <button 
            mat-button 
            type="button" 
            [mat-dialog-close]="1" 
            (click)="confirmDelete()" 
            style="background:rgb(221, 51, 51);color: white;" 
            class="text-application">
            Delete
        </button>

        <button 
            mat-button 
            type="button" 
            (click)="close()" 
            tabindex="-1" 
            style="background:#607D8B;color: white;" 
            class="text-application">
            Cancel
        </button>
    </div>
  
</ng-template>