.widhtInput {
    width: 70%;
}
.gridForSearch {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.btnNew{
    position: absolute;
    right: 110px;
}
.margLabel {
    margin-left: 140px;
}