.sizePicture {
    width: 150px;
}
th {
    text-align: center;
}
td {
    text-align: center;
    vertical-align: middle;
}
.widhtInput {
    width: 70%;
}
.margDivSearchAdd {
    margin-top: 150px;
}
.gridForSearch {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.btnNew{
    position: absolute;
    right: 110px;
}
.margLabel {
    margin-left: 140px;
}