<div class="row margDivSearchAdd">
    <div class="col-md-11">
        <p>
            <input
             #query
             (keyup)="filter(query.value)"
             type="text" 
             class="form-control widhtInput" 
             placeholder="Search by code...">
        </p>
    </div>
    <div class="col-md-1">
        <p>
            <a routerLink="/invoices/new" class="btn btn-primary">New</a>
        </p>
    </div> 
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Date</th>
                <th>Time</th>
                <th>Supplier</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of (filteredInvoices | sortBy: 'key' | paginate: { itemsPerPage: 8, currentPage: p })">
                <td>{{ invoice.code }}</td>
                <td>{{ invoice.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ invoice.time }}</td>
                <td>
                    <span *ngIf="invoice.supplierId">
                        {{ invoice.nameSupplier }}
                    </span>
                </td>
                <td>
                    <button [routerLink]="['/invoices', invoice.key]" class="btn btn-success">Edit</button>
                    <button type="button" (click)="delete(invoice.key)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
