<div class="container margForm">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
            <label for="productId">Product</label>
            <select #productId="ngModel" [(ngModel)]="stockIn.productId" name="productId" id="productId"
                class="form-control" required>
                <option value=""></option>
                <option *ngFor="let product of (products$ | async | sortBy: 'key')" [value]="product.key">
                    {{product.nameProduct}}
                </option>
            </select>
            <div class="alert alert-danger" *ngIf="productId.touched && productId.invalid">
                Product is required.
            </div>
        </div>
        <div class="form-group">
            <label for="quantity">Entered Quantity</label>
            <div class="input-group">
                <span class="input-group-text">Box</span>
                <input #quantity="ngModel" [(ngModel)]="stockIn.quantity" name="quantity" id="quantity" type="number"
                    class="form-control" required>
            </div>
            <div class="alert alert-danger" *ngIf="quantity.touched && quantity.invalid">
                Entered quantity is required.
            </div>
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input #date="ngModel" [(ngModel)]="stockIn.date" name="date" id="date" type="date" class="form-control">
        </div>
        <div class="form-group">
            <label for="time">Time</label>
            <input #time="ngModel" [(ngModel)]="stockIn.time" name="time" id="time" type="time" class="form-control">
        </div>
        <div class="form-group">
            <label for="note">Note</label>
            <input #note="ngModel" [(ngModel)]="stockIn.note" name="note" id="note" type="text" class="form-control">
        </div>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>&nbsp;
        <button class="btn btn-primary" [disabled]="f.invalid">Save</button>
    </form>
</div>