<h1 class="text-center text-warning titleTextInterface">Movies</h1>

<br>
<br>

<div class="row">
    <div class="col-md-4">
        <input #query (keyup)="filter(query.value)" type="text" class="form-control widhtInput" placeholder="Search by name...">
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-8">
                <input [(ngModel)]="queryDate" type="date" class="form-control widhtInput">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" (click)="filterByDate()">Search</button>
                <button *ngIf="queryDate" class="btn btn-danger" (click)="clear()">Clear</button>
            </div>
        </div>     
    </div>
    <div class="col-md-3">
        <select [(ngModel)]="statusId" name="statusId" id="statusId" class="form-control" (click)="filetrByStatus()">
            <option value=""></option>
            <option *ngFor="let statusMovie of statusMovies" [value]="statusMovie.id">
                {{statusMovie.status}}
            </option>
        </select>
    </div>
    <div class="col-md-1">
        <a *ngIf="user.roleAdd" routerLink="/movies/new" class="btn btn-primary float-right">New</a>
    </div>
</div>

<br>

<div class="row">
    <table class="table table-striped">
        <thead class="colorHeaderTable">
            <tr>
                <th>Name</th>
                <th>Date Creation</th>
                <th>Time Creation</th>
                <th>Status</th>
                <!-- <th>Note</th> -->
                <th>Picture</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let movie of (filteredMovies | sortBy: 'key' | paginate: { itemsPerPage: 8, currentPage: p })">
                <td>{{ movie.nameMovie }}</td>
                <td>{{ movie.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ movie.time }}</td>
                <td>
                    <span *ngIf="movie.statusId">{{ movie.status }}</span>
                    <span *ngIf="!movie.statusId">-</span>
                </td>
                <!-- <td>{{ movie.note }}</td> -->
                <td>
                    <show-movie-picture [movie]="movie"></show-movie-picture>
                </td>
                <td>
                    <button *ngIf="user.roleUpdate" [routerLink]="['/movies', movie.key]"
                        class="btn btn-success">Edit</button>
                    <button *ngIf="user.roleDelete" type="button" (click)="delete(movie.key)"
                        class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>