<h1 class="titleTextInterface text-application">Movies</h1>

<br>
<br>

<div class="row">
    <div class="col-md-4">
        <mat-form-field class="widhtInput">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="queryName" (keyup)="getAllMovies()" [(ngModel)]="queryName"/>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field class="widhtInput">
            <mat-label>Note</mat-label>
            <input matInput type="text" name="queryNote" (keyup)="getAllMovies()" [(ngModel)]="queryNote"/>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field style="width: 285px;">
            <mat-label>Status</mat-label>
			<mat-select name="statusMovie" [(ngModel)]="statusId" (selectionChange)="getAllMovies()">
                <mat-option value=""></mat-option>
				<mat-option *ngFor="let statusMovie of statusMovies" [value]="statusMovie.id">
                    {{statusMovie.status}}
				</mat-option>
			</mat-select>
		</mat-form-field>
    </div>
</div>

<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef style="width: 400px;">Picture</th>
            <td mat-cell *matCellDef="let element" style="width: 400px;"><show-movie-picture [movie]="element"></show-movie-picture></td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef>Details</th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend">
                    <div><span>Name:</span></div>
                    <div><span style="cursor: pointer;" (click)="copyNameMovie(element.nameMovie)">{{ element.nameMovie }}</span></div>
                </div>
                <br>
                <div class="gridForLegend">
                    <div><span>Date:</span></div>
                    <div>{{ element.date | date:'dd/MM/yyyy' }}</div>
                </div>
                <br>
                <div class="gridForLegend">
                    <div><span>Status:</span></div>
                    <div>{{ element.status }}</div>
                </div>
                <br>
                <div class="gridForLegend">
                    <div><span>Note:</span></div>
                    <div>{{ element.note }}</div>
                </div> 
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef class="btns-add-sort">
                <button type="button" mat-icon-button color="primary" (click)="newMovie()">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>

                <button type="button" *ngIf="!sortByDesc" mat-icon-button color="primary" (click)="sortByRefMovieDesc()">
                    <mat-icon aria-label="Example icon-button with a heart icon">sort</mat-icon>
                </button>

                <button type="button" *ngIf="sortByDesc" mat-icon-button color="primary" (click)="sortByRefMovieAsc()">
                    <mat-icon aria-label="Example icon-button with a heart icon">sort</mat-icon>
                </button>
            </mat-header-cell>
    
            <mat-cell *matCellDef="let row; let i=index;" class="btns-edit-link-delete">
                <button type="button" mat-icon-button color="primary" (click)="editMovie(row)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>

                <a 
                    *ngIf="row.path && (row.statusId == 1 || row.statusId == 2)" 
                    mat-icon-button 
                    color="accent" 
                    href="{{ row.path }}" 
                    target="_blank">
                    <mat-icon aria-label="Link">link</mat-icon>
                </a>
        
                <button 
                    *ngIf="user.roleDeleteMovie" 
                    type="button" 
                    mat-icon-button 
                    color="warn" 
                    (click)="deleteMovie(row.key)" 
                    [hidden]="row.statusId == 3">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
        No results
    </div>
    
    <mat-paginator 
        [pageSizeOptions]="[8]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>