<h1 class="text-center text-warning titleTextInterface">Animes</h1>
<div class="container mx-auto" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-4">
            <a *ngIf="user.roleAdd" (click)="newAnime()" class="btn btn-primary float-right">New</a>        
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search by name...">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <input [(ngModel)]="queryDate" type="date" class="form-control">
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" (click)="filterByDate()">Search</button>
                    <button *ngIf="queryDate" class="btn btn-danger" (click)="clear()">Clear</button>
                </div>
            </div>     
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <select [(ngModel)]="statusId" name="statusId" id="statusId" class="form-control"
            (ngModelChange)="filetrByStatus($event)" [ngModelOptions]="{standalone: true}">
                <option value=""></option>
                <option *ngFor="let statusAnime of statusAnimes" [value]="statusAnime.id">
                    {{statusAnime.status}}
                </option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4" *ngFor="let anime of (filteredAnimes | sortBy: 'key')">
            <div class="card bg-white" style="width: 18rem;margin-inline: auto;">
                <show-anime-picture [anime]="anime" [isGrid]="isGrid"></show-anime-picture>
                <div class="card-body text-dark">
                    <h5 class="card-title text-primary font-weight-bold text-center">{{ anime.nameAnime }}</h5>
                    <h6 class="card-subtitle mb-2 mt-2">Date Creation:&nbsp;{{ anime.date | date:'dd/MM/yyyy' }}</h6>
                    <h6 class="card-subtitle mb-2 mt-2">Time Creation:&nbsp;{{ anime.time }}</h6>
                    <h6 *ngIf="anime.statusId" class="card-subtitle mb-2 mt-2">
                        Status:&nbsp;{{ anime.status }}
                    </h6>
                    <h6 *ngIf="!anime.statusId" class="card-subtitle mb-2 mt-2">
                        Status:&nbsp;-
                    </h6>
                    <h6 class="card-subtitle mb-2 mt-2">Note:&nbsp;{{ anime.note }}</h6>
                    <button *ngIf="user.roleUpdate" (click)="editAnime(anime)" class="btn btn-success ml-5 mr-2"
                        style="text-decoration: none;">
                        Edit
                    </button>
                    <button *ngIf="user.roleDelete" type="button" (click)="delete(anime.key)" class="btn btn-danger"
                        style="text-decoration: none;">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>