<h1 class="text-center text-danger font-weight-bold titleTextInterface">Animes</h1>
<div class="container mx-auto" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-4">
            <div style="width: 18rem;margin-inline: auto;">
                <button class="btn btn-success font-weight-bold" (click)="openModalSearch(contentModalSearch)">Search</button>
                <a *ngIf="user.roleAdd" (click)="newAnime()" class="btn btn-primary font-weight-bold float-right">New</a>  
            </div> 
        </div>          
    </div>
    
    <br>
    <div class="row">
        <div class="col-md-4" *ngFor="let anime of (filteredAnimes | sortBy: 'key' | paginate: { itemsPerPage: 8, currentPage: p })">
            <div class="card bg-white" style="width: 18rem;margin-inline: auto;">
                <show-anime-picture [anime]="anime" [isGrid]="isGrid"></show-anime-picture>
                <div class="card-body text-dark">
                    <h5 class="card-title text-success font-weight-bold text-center">{{ anime.nameAnime }}</h5>
                    <div class="row">
                        <div class="col-4">
                            <span class="text-primary font-weight-bold">Date:</span>
                        </div>
                        <div class="col-8 font-weight-bold">
                            {{ anime.date | date:'dd/MM/yyyy' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span class="text-primary font-weight-bold">Time:</span>
                        </div>
                        <div class="col-8 font-weight-bold">
                            {{ anime.time }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span class="text-primary font-weight-bold">Status:</span>
                        </div>
                        <div class="col-8 font-weight-bold">
                            <span *ngIf="anime.statusId">{{ anime.status }}</span>
                            <span *ngIf="!anime.statusId">-</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span class="text-primary font-weight-bold">Note:</span>
                        </div>
                        <div class="col-8 font-weight-bold">
                            {{ anime.note }}
                        </div>
                    </div><br>
                    <div class="row btnswrap justify-content-center">
                        <button 
                            *ngIf="user.roleUpdate" 
                            (click)="editAnime(anime)" 
                            class="btn btn-secondary ml-1 mr-3 font-weight-bold"
                            style="text-decoration: none;"
                            [hidden]="anime.statusId == 3">
                            Edit
                        </button>
                        <a 
                            *ngIf="anime.path && (anime.statusId == 1 || anime.statusId == 2)" 
                            href="{{ anime.path }}" 
                            target="_blank" 
                            class="btn btn-warning ml-1 mr-4 font-weight-bold">
                            Path
                        </a>      
                        <button 
                            *ngIf="user.roleDelete" 
                            type="button" 
                            (click)="delete(anime.key)" 
                            class="btn btn-danger font-weight-bold"
                            style="text-decoration: none;"
                            [hidden]="anime.statusId == 3">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <pagination-controls (pageChange)="p = $event" responsive="true"></pagination-controls>
        </div>        
    </div>
</div>

<ng-template #contentModalSearch let-modal let-c="close" let-d="dismiss">

    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Search</h4>

        <button type="button" class="close" aria-label="Close" (click)="modalRefSearch.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <input [(ngModel)]="queryName" type="text" class="form-control" placeholder="Search by name...">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <input [(ngModel)]="queryNote" type="text" class="form-control" placeholder="Search by note...">
                    <!-- <input [(ngModel)]="queryDate" type="date" class="form-control">           -->
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div *ngFor="let statusAnime of statusAnimes">
                        <label>
                            <input type="radio" name="statusId" [(ngModel)]="statusId" id="statusId" 
                            [value]="statusAnime.id" style="height:25px; width:25px; vertical-align: middle;">
                            {{statusAnime.status}}
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <button class="btn btn-primary" (click)="getAllAnimes()"><i class="fa fa-search"></i></button>
                <button *ngIf="queryName || queryNote || statusId" class="btn btn-danger" (click)="clear()"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>        
</ng-template>