<div class="row margDivSearchAdd">
    <div class="col-md-11">
        <p>
            <input
             #query
             (keyup)="filter(query.value)"
             type="text" 
             class="form-control widhtInput" 
             placeholder="Search by name...">
        </p>
    </div>
    <div class="col-md-1">
        <p>
            <a routerLink="/suppliers/new" class="btn btn-primary">New</a>
        </p>
    </div> 
</div>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Phone</th>
                <th>Mobile</th>
                <th>Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supplier of (filteredSuppliers | sortBy: 'key'); let i=index;">
                <td>{{ i+1 }}</td>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ supplier.time }}</td>
                <td>{{ supplier.phone }}</td>
                <td>{{ supplier.mobile }}</td>
                <td>{{ supplier.address }}</td>
                <td>
                    <button [routerLink]="['/suppliers', supplier.key]" class="btn btn-success">Edit</button>
                    <button type="button" (click)="delete(supplier.key)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
