<h1 class="text-center text-warning titleTextInterface">Suppliers</h1>

<div class="row margDivSearchAdd">
    <div class="col-md-11">
        <p>
            <input #query (keyup)="filter(query.value)" type="text" class="form-control widhtInput"
                placeholder="Search by name...">
        </p>
    </div>
    <div class="col-md-1">
        <p *ngIf="user.roleAdd">
            <a routerLink="/suppliers/new" class="btn btn-primary">New</a>
        </p>
    </div>
</div>

<div class="row">
    <table class="table table-striped">
        <thead class="colorHeaderTable">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Phone</th>
                <th>Mobile</th>
                <th>Address</th>
                <th>Note</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let supplier of (filteredSuppliers | sortBy: 'key' | paginate: { itemsPerPage: 8, currentPage: p })">
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ supplier.time }}</td>
                <td>{{ supplier.phone }}</td>
                <td>{{ supplier.mobile }}</td>
                <td>{{ supplier.address }}</td>
                <td>{{ supplier.note }}</td>
                <td>
                    <button type="button" class="btn btn-info " (click)="openListInvoices(supplier)">
                        List Invoices&nbsp;<span class="badge badge-light">{{ supplier.nbrInvoicesForEachSupplier | async }}</span>
                    </button>
                </td>
                <td>
                    <button *ngIf="user.roleUpdate" [routerLink]="['/suppliers', supplier.key]"
                        class="btn btn-success">Edit</button>
                    <button *ngIf="user.roleDelete" type="button" (click)="delete(supplier.key)"
                        class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>