<div class="row">
    <p style="margin-top: 150px;">
        <a routerLink="/suppliers/new" class="btn btn-primary">New</a>
    </p>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Phone</th>
                <th>Mobile</th>
                <th>Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supplier of (suppliers$ | async | sortBy: 'key')">
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ supplier.time }}</td>
                <td>{{ supplier.phone }}</td>
                <td>{{ supplier.mobile }}</td>
                <td>{{ supplier.address }}</td>
                <td>
                    <a [routerLink]="['/suppliers', supplier.key]">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
