<div mat-dialog-title class="dialog-title">
    <h2 class="text-application">Expirations</h2>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="row">
    <div class="col-md-4">
        <mat-form-field class="widhtInput text-application">
            <mat-label>Content</mat-label>
            <input matInput type="text" name="content" (keyup)="filterByContent()" [(ngModel)]="content"/>
        </mat-form-field>
    </div>
</div>

<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend">
                    <div><span>Content:</span></div>
                    <div>{{ element.contentName }}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend">
                    <div><span>Cost:</span></div>
                    <div>
                        <span *ngIf="element.cost">{{ element.cost }}</span>
                        <span *ngIf="!element.cost">-</span>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend">
                    <div><span>Start:</span></div>
                    <div>{{ element.dateStart | date:'dd/MM/yyyy' }}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="expiration">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend">
                    <div><span>Exp:</span></div>
                    <div>{{ element.dateExpiration | date:'dd/MM/yyyy' }}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend">
                    <div><span>Dur:</span></div>
                    <div>{{ element.duration }}</div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="rest">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend">
                    <div><span>Rest:</span></div>
                    <div>
                        <span *ngIf="element.restdays">{{ element.restdays }}</span>
                        <span *ngIf="!element.restdays">-</span>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend">
                    <div><span>Status:</span></div>
                    <div>
                        <span *ngIf="element.isExpired" style="color: red;">Expired</span>
                        <span *ngIf="!element.isExpired" style="color: green;">Unexpired</span>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <div class="gridForLegend">
                    <div><span>Note:</span></div>
                    <div>
                        <span *ngIf="element.note">{{ element.note }}</span>
                        <span *ngIf="!element.note">-</span>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="no-results text-application" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
        No results
    </div>

    <mat-paginator 
        [pageSizeOptions]="[8]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>