<div mat-dialog-title class="dialog-title">
    <h2 class="text-application">Expirations</h2>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="row">
    <div class="col-md-4">
        <mat-form-field class="widhtInput text-application">
            <mat-label>Content</mat-label>
            <input matInput type="text" name="content" (keyup)="filterByContent()" [(ngModel)]="content"/>
        </mat-form-field>
    </div>
</div>

<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white; width: 200px;">Content</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center;width: 200px;">{{ element.contentName }}</td>
        </ng-container>

        <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;  width: 150px;">Cost</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center;  width: 150px;">
                <span *ngIf="element.cost">{{ element.cost }}</span>
                <span *ngIf="!element.cost">-</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white; width: 150px;">Date</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center;width: 150px;">
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    Start:&nbsp;{{ element.dateStart | date:'dd/MM/yyyy' }}<br><br>
                    Exp:&nbsp;{{ element.dateExpiration | date:'dd/MM/yyyy' }}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="diffdays">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white; width: 300px;">Difference</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center; width: 300px;">
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    Duration:&nbsp;{{ element.duration }}<br><br>
                    <span *ngIf="element.isExpired">Passed:&nbsp;{{ element.restdays }}</span>
                    <span *ngIf="!element.isExpired">Rest:&nbsp;{{ element.restdays }}</span><br><br>
                    Status:&nbsp;
                    <span *ngIf="element.isExpired" style="color: red;">Expired</span>
                    <span *ngIf="!element.isExpired" style="color: green;">Unexpired</span>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="note">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="color: white;">Note</th>
            <td mat-cell *matCellDef="let element" class="text-application" style="text-align: center;">
                <span *ngIf="element.note">{{ element.note }}</span>
                <span *ngIf="!element.note">-</span>
            </td>
        </ng-container>
    
        <tr mat-header-row style="background: #2196F3;" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="border-bottom: 1px solid black;" *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="no-results text-application" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
        No results
    </div>
    
    <mat-paginator 
        [pageSizeOptions]="[8]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>