.serie-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  border-radius: 5px;
}

.card {
  border: 1px solid rgb(0, 0, 0);
}

.style-button{
  min-width: unset!important;
  display: table; 
  margin: 0 auto;
}

::ng-deep .my-menu {
  width: 100%;
}

.dotted-border {
  border-left: 2px solid rgb(129, 129, 129);
  padding-left: 10px;
}

.gridForLegend {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: initial;
}

.center-name-serie{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-btn{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}