<h1 class="text-center text-warning titleTextInterface">Products</h1>
<div style="justify-content: center;">
    <button routerLink="/products-for-grid" class="btn btn-secondary btnGrid">Version Grid</button>
</div>

<div class="gridForSearch margDivSearchAdd">
    <div>
        <p>
            <input #query (keyup)="filter(query.value)" type="text" class="form-control widhtInput"
                placeholder="Search by name...">
        </p>
        <p>
            <input [(ngModel)]="queryDate" type="date" class="form-control widhtInput">
            <button class="btn btn-primary" (click)="filterByDate()">Search</button>
            <button *ngIf="queryDate" class="btn btn-danger" (click)="clear()">Clear</button>
        </p>
    </div>
    <div>
        <label for="categoryId" class="margLabel">Filter by category</label>
    </div>
    <div>
        <select [(ngModel)]="categoryId" name="categoryId" id="categoryId" class="form-control"
            (click)="filetrByCategory()">
            <option value=""></option>
            <option *ngFor="let c of (categories$ | async | sortBy: 'key')" [value]="c.key">
                {{c.name}}
            </option>
        </select>
    </div>
    <div>
        <a *ngIf="user.roleAdd" routerLink="/products/new" class="btn btn-primary btnNew">New</a>
    </div>
</div>




<div class="row">
    <table class="table table-striped">
        <thead class="colorHeaderTable">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Date</th>
                <th>Time</th>
                <th>Category</th>
                <th>Note</th>
                <th>Picture</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let product of (filteredProducts | sortBy: 'key' | paginate: { itemsPerPage: 8, currentPage: p })">
                <td>{{ product.nameProduct }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ product.time }}</td>
                <td>
                    <span *ngIf="product.categoryId">
                        {{ product.nameCategory }}
                    </span>
                </td>
                <td>{{ product.note }}</td>
                <td>
                    <show-product-picture [product]="product"></show-product-picture>
                </td>
                <td>
                    <button *ngIf="user.roleUpdate" [routerLink]="['/products', product.key]"
                        class="btn btn-success">Edit</button>
                    <button *ngIf="user.roleDelete" type="button" (click)="delete(product.key)"
                        class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>