<span>{{ fileUpload.name }}</span>

<div [ngClass]="isMobile ? 'btnswrapForMobile' : 'btnswrap'">  
  <ng-container *ngIf="!checkIsImage(fileUpload.name)">
    <button 
        (click)="viewOtherFileUpload(fileUpload, showOtherFile)"
        class="btn btn-success font-weight-bold" >
        View
    </button>&nbsp;
  </ng-container>

  <ng-container *ngIf="checkIsImage(fileUpload.name)">
    <button
        (click)="viewFilePictureUpload(fileUpload, showPicture)"
        class="btn btn-success font-weight-bold" >
        View
    </button>&nbsp;
  </ng-container>
  
  <a 
    *ngIf="fileUpload.url" 
    href="{{ fileUpload.url }}" 
    target="_blank" 
    class="btn btn-warning font-weight-bold">
    Download
  </a>&nbsp;
                                     
  <button 
    (click)="deleteFileUpload(fileUpload)"
    class="btn btn-danger font-weight-bold" >
    Delete
  </button>               
</div>

<ng-template #showOtherFile let-modal let-c="close" let-d="dismiss">

  <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">{{ FileName }}</h4>

      <button type="button" class="close" aria-label="Close" (click)="modalRefOtherFile.close()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body">
      <div class="container">
          <div class="row">
            <ngx-doc-viewer 
              [url]="urlFile" 
              viewer="google" 
              [ngClass]="isMobile ? 'otherFileMobile' : 'otherFile'">
          </ngx-doc-viewer>
          </div>  
      </div>
  </div>        
</ng-template>

<ng-template #showPicture let-modal let-c="close" let-d="dismiss">

  <div class="modal-header text-center">
    <h4 class="modal-title w-100 font-weight-bold">{{ FileName }}</h4>

    <button type="button" class="close" aria-label="Close" (click)="modalRefPictureFile.close()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
      <img [src]='pictureFile' [ngClass]="isMobile ? 'pictureFileMobile' : 'pictureFile'">
  </div>
</ng-template>