<h1 class="text-center text-danger font-weight-bold titleTextInterface text-application">Series</h1>
<div class="container mx-auto" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-4">
            <div style="width: 18rem;margin-inline: auto;">
                <button class="btn btn-success" (click)="openModalSearch(contentModalSearch)"><i class="fa fa-search" aria-hidden="true"></i></button>
                <a *ngIf="user.roleAddSerie" (click)="newSerie()" class="btn btn-primary float-right"><i class="fa fa-plus" aria-hidden="true"></i></a>  
            </div> 
        </div>          
    </div>

    <br>
    <div class="row text-application">
        <div class="col-md-4" *ngFor="let serie of (filteredSeries | sortBy: 'key' | paginate: { itemsPerPage: 8, currentPage: p })">
            <div class="card bg-white" style="width: 18rem;margin-inline: auto;">
                <show-serie-picture [serie]="serie" [isGrid]="isGrid"></show-serie-picture>
                <div class="card-body text-dark">
                    <h5 class="card-title text-success font-weight-bold text-center">{{ serie.nameSerie }}</h5>
                    <div class="row">
                        <div class="col-4">
                            <span class="text-primary font-weight-bold">Date:</span>
                        </div>
                        <div class="col-8 font-weight-bold">
                            {{ serie.date | date:'dd/MM/yyyy' }}
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-4">
                            <span class="text-primary font-weight-bold">Time:</span>
                        </div>
                        <div class="col-8 font-weight-bold">
                            {{ serie.time }}
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-4">
                            <span class="text-primary font-weight-bold">Status:</span>
                        </div>
                        <div class="col-8 font-weight-bold">
                            <span *ngIf="serie.statusId">{{ serie.status }}</span>
                            <span *ngIf="!serie.statusId">-</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span class="text-primary font-weight-bold">Note:</span>
                        </div>
                        <div class="col-8 font-weight-bold">
                            {{ serie.note }}
                        </div>
                    </div><br>
                    <div class="row btnswrap justify-content-center">
                        <button 
                            *ngIf="user.roleUpdateSerie" 
                            (click)="editSerie(serie)" 
                            class="btn btn-secondary ml-1 mr-3"
                            style="text-decoration: none;"
                            [hidden]="serie.statusId == 3">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <a 
                            *ngIf="serie.path && (serie.statusId == 1 || serie.statusId == 2)" 
                            href="{{ serie.path }}" 
                            target="_blank" 
                            class="btn btn-warning ml-1 mr-4">
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </a>      
                        <button 
                            *ngIf="user.roleDeleteSerie" 
                            type="button" 
                            (click)="deleteSerie(serie.key)" 
                            class="btn btn-danger"
                            style="text-decoration: none;"
                            [hidden]="serie.statusId == 3">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>   
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <pagination-controls (pageChange)="p = $event" responsive="true"></pagination-controls>
        </div>        
    </div>
</div>

<ng-template #contentModalSearch let-modal let-c="close" let-d="dismiss">

    <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold text-application">Search</h4>

        <button type="button" class="close" aria-label="Close" (click)="modalRefSearch.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="display: table;">
                    <div style="display: table-cell; width: 100%;">
                        <input [(ngModel)]="queryName" type="text" class="form-control text-application" placeholder="Search by name...">
                    </div>
                    <button class="btn btn-primary" (click)="getAllSeries()" style="margin-top: -3px;"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4" style="display: table;">
                    <div style="display: table-cell; width: 100%;">
                        <input [(ngModel)]="queryNote" type="text" class="form-control text-application" placeholder="Search by note...">
                    </div>
                    <button class="btn btn-primary" (click)="getAllSeries()" style="margin-top: -3px;"><i class="fa fa-search"></i></button>
                    <!-- <input [(ngModel)]="queryDate" type="date" class="form-control">           -->
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <select [ngModel]="statusId" (ngModelChange)="getAllSeries($event)" name="statusId" id="statusId" class="form-control">
                        <option *ngFor="let statusSerie of statusSeries" [value]="statusSerie.id">
                            {{statusSerie.status}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>        
</ng-template>