<h1 class="titleTextInterface text-application">Series</h1>

<div class="row">
    <div class="col-md-12">
        <button
            *ngIf="dataUserConnected.roleAddSerie"
            type="button" 
            (click)="newSerie()" 
            mat-mini-fab 
            color="primary" 
            style="float: right;">
            <mat-icon style="color: white;">add</mat-icon>
        </button>

        <button 
            *ngIf="!sortByDesc"
            type="button"  
            mat-mini-fab 
            color="primary" 
            (click)="sortByRefSerieDesc()" 
            style="float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;

        <button 
            *ngIf="sortByDesc"
            type="button"
            mat-mini-fab
            color="primary" 
            (click)="sortByRefSerieAsc()" 
            style="float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;
    </div> 
</div>

<br>
 
<div class="row">
    <div class="col-md-4">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" name="queryName" (keyup)="getAllSeries()" [(ngModel)]="queryName"/>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field>
            <mat-label>Note</mat-label>
            <input matInput type="text" name="queryNote" (keyup)="getAllSeries()" [(ngModel)]="queryNote"/>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select name="statusId" [(ngModel)]="statusId" (selectionChange)="getAllSeries()">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let statusSerie of statusSeries" [value]="statusSerie.id">
                    {{statusSerie.status}}
				</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<br>
  
<div class="example-container mat-elevation-z8">
    <div class="example-table-container">
        <table mat-table [dataSource]="dataSource">
  
            <ng-container matColumnDef="picture">
                <th mat-header-cell *matHeaderCellDef>Picture</th>
                <td mat-cell *matCellDef="let element"> 
                    <img *ngIf="element.imageUrl" mat-card-md-image [src]="element.imageUrl" (click)="zoomPicture(element)">
                    <img *ngIf="!element.imageUrl" mat-card-md-image src="/assets/pictures/NoImageAvailable.png" (click)="zoomPicture(element)">
                    <span  style="margin-left: 50px;">2h 9m</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="gridForLegend">
                        <div><span>Name:</span></div>
                        <div><span style="cursor: pointer;" (click)="copyNameSerie(element.nameSerie)">{{ element.nameSerie }}</span></div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="gridForLegend">
                        <div><span>Date:</span></div>
                        <div>{{ element.date | date:'dd/MM/yyyy' }}</div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="gridForLegend">
                        <div><span>Status:</span></div>
                        <div>{{ element.status }}</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="gridForLegend">
                        <div><span>Note:</span></div>
                        <div>{{ element.note }}</div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="star">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{element:element}">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
            No results
        </div>
    
        <mat-paginator 
            [pageSizeOptions]="[8]"
            showFirstLastButtons 
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>
  
<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-serie="element">

        <button
            *ngIf="dataUserConnected.roleUpdateSerie" 
            type="button"
            (click)="editSerie(serie)"  
            mat-menu-item>
            <mat-icon aria-label="Edit" style="color: #3f51b5;">edit</mat-icon>
            <span>Edit</span>
        </button>

        <button
            type="button"
            *ngIf="serie.path && (serie.statusId == 1 || serie.statusId == 2)"  mat-menu-item>
            <mat-icon style="color: #ff4081;">remove_red_eye</mat-icon>
            <a href="{{ serie.path }}" target="_blank">
                <span style="color: black !important;">Watch</span>
            </a>  
        </button>

        <button 
            type="button"
            *ngIf="dataUserConnected.roleDeleteSerie" mat-menu-item (click)="deleteSerie(serie.key)" [hidden]="serie.statusId == 3">
            <mat-icon style="color: #f44336;">delete</mat-icon>
            <span>Delete</span>
        </button>

    </ng-template>
</mat-menu>