<h1 class="titleTextInterface text-application">Users</h1>

<br>
<br>

<div class="row">
    <div class="col-md-4">
        <mat-form-field class="widhtInput">
            <mat-label>Email</mat-label>
            <input matInput type="text" name="queryEmail" (keyup)="getAllUsers()" [(ngModel)]="queryEmail"/>
        </mat-form-field>
    </div>
</div>

<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="password">
            <th mat-header-cell *matHeaderCellDef>Password</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.password }}</td>
        </ng-container>

        <ng-container matColumnDef="movies">
            <th mat-header-cell *matHeaderCellDef>Movies</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleMovies" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="animes">
            <th mat-header-cell *matHeaderCellDef>Animes</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleAnimes" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>        
        </ng-container>

        <ng-container matColumnDef="series">
            <th mat-header-cell *matHeaderCellDef>Series</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleSeries" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>        
        </ng-container>

        <ng-container matColumnDef="files">
            <th mat-header-cell *matHeaderCellDef>Files</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleFiles" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>        
        </ng-container>

        <ng-container matColumnDef="debts">
            <th mat-header-cell *matHeaderCellDef>Debts</th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
                <mat-checkbox [(ngModel)]="element.roleDebts" (ngModelChange)="changeRoleStatus(element)"></mat-checkbox>
            </td>        
        </ng-container>
        
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
    
            <mat-cell *matCellDef="let row; let i=index;" class="btns-roles-delete">
                <button
                    *ngIf="row.roleMovies || row.roleAnimes || row.roleSeries || row.roleFiles || row.roleDebts"
                    type="button"
                    mat-icon-button 
                    color="primary"
                    (click)="openModalPrivileges(row)">
                    <mat-icon aria-label="Edit">edit</mat-icon>
                </button>
                <button
                    type="button"
                    mat-icon-button 
                    color="warn"
                    (click)="deleteUser(row.key)">
                    <mat-icon aria-label="Delete">delete</mat-icon>
                </button>  
            </mat-cell>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="border-bottom: 1px solid black;" *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
        No results
    </div>
    
    <mat-paginator 
        [pageSizeOptions]="[8]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>