input.larger {
    width: 25px;
    height: 25px;
}

.btns-roles-delete {
    display: grid;
    grid-column: auto;
    justify-content: center;
    align-content: center;
    gap: 4px;
}

.widhtInput {
    width: 90%;
}

.no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 20px;
}

.mat-header-cell {
    font-size: 20px;
    min-height: 48px;
    text-align: center;
}

.mat-cell {
    font-size: 20px;
    min-height: 48px;
    border-bottom-style: none;
}

.gridForDelete {
    display: grid;
    grid-template-columns: 80px 400px;
    width: 250px;
    font-size: 18px;
}

.mat-card-md-image {
    width: 145px;
    height: 200px;
    border-radius: 10px;
}

.gridForLegend {
    display: grid;
    grid-template-columns: 80px 250px;
    width: 250px;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}