.widhtInput {
    width: 90%;
}
  
.no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 20px;
}
  
.serie-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 5px;
}
    
.settings-card {
    height: 350px;
    width: 350px;
}
  
.settings-card-new-update-serie {
    height: 600px;
    width: 350px;
}
  
.grid-list-new-edit {
    width: 90%;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.aligned-with-text{
    position: absolute;
    margin-top: 5px;
    cursor: pointer;
}