.widhtInput {
    width: 90%;
}

.btnswrap {
    display: grid;
    grid-column: auto;
    justify-content: center;
    align-content: center;
    gap: 4px;
}

.rest-money {
    float: right;
    font-size: 20px;
}

.label-place {
    display: flex; 
    justify-content: flex-start;
    font-size: 20px;
}

::ng-deep .detailsDebtModalClass .modal-dialog {
    max-width: 50% !important;
    width: 50% !important;
}

.debtModalClass .modal-dialog {
    max-width: 10px !important;
}

.restModalClass .modal-dialog {
    max-width: 10px !important;
}

input.larger {
    width: 25px;
    height: 25px;
    margin-left: 180px;
}

.statusInDebtModalClass .modal-dialog {
    max-width: 10px !important;
}

.statusOutDebtModalClass .modal-dialog {
    max-width: 10px !important;
}

.iconSort {
    cursor: pointer;
}
  