.widhtInput {
    width: 90%;
}

.btns-add-sort {
    justify-content: center;
    align-content: center;
    gap: 4px;
}

.btns-edit-delete {
    display: grid;
    grid-column: auto;
    justify-content: center;
    align-content: center;
    gap: 4px;
    margin-top: 75px;
}

.no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style: italic;
}

.mat-header-cell {
    font-size: 20px;
    min-height: 48px;
    text-align: center;
}

.mat-cell {
    font-size: 20px;
    min-height: 48px;
    border-bottom-style: none;
}

.gridForLegend {
    display: grid;
    grid-template-columns: 80px 250px;
    width: 250px;
    margin: auto;
}

.mat-progress-spinner {
    display: block;
    position: relative;
    overflow: hidden;
    margin-left: 325px;
}