<div mat-dialog-title class="dialog-title">
    <h2 class="text-application">Series
        <span *ngIf="currentStatusForSerie == 1">wait to sort</span>
        <span *ngIf="currentStatusForSerie == 2">not downloaded yet</span>
        <span *ngIf="currentStatusForSerie == 3">watched</span>
        <span *ngIf="currentStatusForSerie == 4">not watched yet</span>
        <span *ngIf="currentStatusForSerie == 5">to search about it</span>
    </h2>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="row">
    <div class="col-md-4">
        <mat-form-field class="widhtInput text-application">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="queryName" (input)="filterSeries()" [(ngModel)]="queryName"/>
        </mat-form-field>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <button 
            *ngIf="!sortByDesc && currentStatusForSerie == 2"
            type="button"  
            mat-mini-fab 
            color="primary" 
            (click)="sortByRefSerieDesc()" 
            style="background: #2196F3;float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;

        <button 
            *ngIf="sortByDesc && currentStatusForSerie == 2"
            type="button"
            mat-mini-fab
            color="primary" 
            (click)="sortByRefSerieAsc()" 
            style="background: #2196F3;float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;
    </div>   
</div>

<br>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="picture">
            <th mat-header-cell *matHeaderCellDef>Picture</th>
            <td mat-cell *matCellDef="let element"> 
                <img *ngIf="element.imageUrl" mat-card-md-image [src]="element.imageUrl">
                <img *ngIf="!element.imageUrl" mat-card-md-image src="/assets/pictures/NoImageAvailable.png">
            </td>
        </ng-container>

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class="text-application" style="width: 400px;">Details</th>
            <td mat-cell *matCellDef="let element" (contextmenu)="onContextMenu($event, element)">
                <div class="gridForLegend text-application">
                    <div><span>Name:</span></div>
                    <div>
                        <span style="cursor: pointer;" (click)="copyNameSerie(element.nameSerie)">{{ element.nameSerie }}</span>
                        &nbsp;
                        <span *ngIf="element.year">({{ element.year }})</span>
                        <span *ngIf="!element.year">?</span>
                    </div>
                </div>
                <br>
                <div class="gridForLegend text-application">
                    <div><span>Season:</span></div>
                    <div>
                        <span *ngIf="element.season">{{ element.season }}</span>
                        <span *ngIf="!element.season">?</span>
                    </div>
                </div>
                <br>
                <div class="gridForLegend text-application">
                    <div><span>Eps:</span></div>
                    <div>
                        <span *ngIf="element.currentEpisode && element.totalEpisodes">{{ element.currentEpisode }} / {{ element.totalEpisodes }} ep</span>
                        <span *ngIf="element.currentEpisode && !element.totalEpisodes">{{ element.currentEpisode }} / ? ep</span>
                        <span *ngIf="!element.currentEpisode && element.totalEpisodes">? / {{ element.totalEpisodes }} ep</span>
                        <span *ngIf="!element.currentEpisode && !element.totalEpisodes">? / ? ep</span>
                    </div>
                </div>
                <br>
                <div class="gridForLegend text-application">
                    <div><span>Note:</span></div>
                    <div>{{ element.note }}</div>
                </div> 
            </td>
        </ng-container>
    
        <tr mat-header-row style="background: #2196F3;" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="border-bottom: 1px solid black;" *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <div class="no-results text-application" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
        No results
    </div>
    
    <mat-paginator 
        [pageSizeOptions]="[8]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<div style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-serie="serie">
        <button 
            *ngIf="dataUserConnected.roleUpdateSerie"  
            type="button" 
            mat-menu-item 
            (click)="editSerie(serie)">
            <mat-icon style="color: #9C27B0" aria-label="Edit">edit</mat-icon>
            <span>Edit</span>
        </button>

		<button mat-menu-item *ngIf="serie.statusId !== 3" [hidden]="serie.statusId == 4"> 
            <mat-icon *ngIf="serie.statusId == 1" style="color: #EF6C00;">remove_red_eye</mat-icon>
            <mat-icon *ngIf="serie.statusId == 2" style="color: #2E7D32;">cloud_download</mat-icon>
            <mat-icon *ngIf="serie.statusId == 5" style="color: #EF6C00;">search</mat-icon>
            <a href="{{ serie.path }}" target="_blank" style="text-decoration: none;">
              <span *ngIf="serie.statusId == 1" style="color: black !important;">Check</span>
              <span *ngIf="serie.statusId == 2" style="color: black !important;">Download</span>
              <span *ngIf="serie.statusId == 5" style="color: black !important;">Search</span>
            </a>  
        </button>

        <button
            *ngIf="dataUserConnected.roleDeleteSerie" 
            type="button"
            mat-menu-item 
            (click)="openDeleteSerieModal(serie, contentDeleteSerie)" 
            class="text-application">
            <mat-icon style="color: #f44336;">delete</mat-icon>
            <span>Delete</span>
        </button>
	</ng-template>
</mat-menu>

<ng-template #contentDeleteSerie>

    <div mat-dialog-title class="dialog-title">
      <h2 class="text-application">Are you sure ?</h2>
    </div>
  
    <div mat-dialog-content>
        <div class="gridForDelete text-application">
            <div><span>Name:</span></div>
            <div>{{ serieToDelete.nameSerie }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Date:</span></div>
            <div>{{ serieToDelete.date | date:'dd/MM/yyyy' }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Status:</span></div>
            <div>{{ serieToDelete.status }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Note:</span></div>
            <div>{{ serieToDelete.note }}</div>
        </div> 
    </div>

    <br>

    <div class="row justify-content-center" mat-dialog-actions>
        <button 
            mat-button 
            type="button" 
            [mat-dialog-close]="1" 
            (click)="confirmDelete()" 
            style="background:rgb(221, 51, 51);color: white;" 
            class="text-application">
            Delete
        </button>

        <button 
            mat-button 
            type="button" 
            (click)="close()" 
            tabindex="-1" 
            style="background:#607D8B;color: white;" 
            class="text-application">
            Cancel
        </button>
    </div>
  
</ng-template>