.my-flex-card > div > div.card {
    height: calc(100% - 15px);
    margin-bottom: 15px;
    border: 1px solid #222;
    cursor: pointer;
}

.imageTypeFile {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.btnswrap {
    display: flex;
    flex-direction: row;
    row-gap: 5px;
}