.imageTypeFile {
  height: 90%;
  width: 100%;
  background-size: cover;
}

.imageTypeFileMobile {
  height: 75%;
  width: 100%;
  background-size: cover;
}

.settings-card {
  height: 270px;
  width: 360px;
}

.mat-card {
  padding: 16px;
  padding-top: 12px;
}

.widhtInput {
  width: 200px;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 20px;
}

table {
  width: 100%;
}
   
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.dialog-responsive {
  width: 40%;
}

@media only screen and (max-width: 760px) {
  .dialog-responsive {
      width: 100%;
  }
}

.mat-divider {
  border-top-color: black;
}

.nav-list .mat-list-item-content { 
	justify-content: flex-end; 
}