<div class="modal-header text-center">
    <h4 class="modal-title w-100" *ngIf="!debt.key">New Debt</h4>
    <h4 class="modal-title w-100" *ngIf="debt.key">Edit Debt</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.close()">
        <span aria-hidden="true">&times;</span>
    </button> 
</div>


<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form #f="ngForm" (ngSubmit)="save(f.value)">
                    <div class="form-group" hidden>
                        <label for="numRow">N°</label>
                        <input #numRow="ngModel" [(ngModel)]="debt.numRow" name="numRow" id="numRow" type="number"
                            class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input #date="ngModel" [(ngModel)]="debt.date" name="date" id="date" type="date"
                            class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="debtor">Debtor</label>
                        <input #debtor="ngModel" [(ngModel)]="debt.debtor" name="debtor" id="debtor" type="text"
                            class="form-control" required>
                        <div class="alert alert-danger" *ngIf="debtor.touched && debtor.invalid">
                            Debtor is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="creditor">Creditor</label>
                        <input #creditor="ngModel" [(ngModel)]="debt.creditor" name="creditor" id="creditor" type="text"
                            class="form-control" required>
                        <div class="alert alert-danger" *ngIf="creditor.touched && creditor.invalid">
                            Creditor is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="financialDebt">Financial Debt</label>
                        <input #financialDebt="ngModel" [(ngModel)]="debt.financialDebt" name="financialDebt" id="financialDebt" type="text"
                            class="form-control" required>
                        <div class="alert alert-danger" *ngIf="financialDebt.touched && financialDebt.invalid">
                            Financial Debt is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="restMoney">Rest Money</label>
                        <input #restMoney="ngModel" [(ngModel)]="debt.restMoney" name="restMoney" id="restMoney" type="text"
                            class="form-control" required>
                        <div class="alert alert-danger" *ngIf="restMoney.touched && restMoney.invalid">
                            Rest Money is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="placeId">Place</label>
                        <select #placeId="ngModel" [(ngModel)]="debt.placeId" name="placeId" id="placeId"
                            class="form-control" required>
                            <option *ngFor="let placeMoney of placesMoney" [value]="placeMoney.id">
                                {{placeMoney.place}}
                            </option>
                        </select>
                        <div class="alert alert-danger" *ngIf="placeId.touched && placeId.invalid">
                            Status is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="note">Note</label>
                        <textarea #note="ngModel" [(ngModel)]="debt.note" name="note" id="note" type="text" class="form-control"></textarea>
                    </div>
                    <div class="row justify-content-center">
                        <button class="btn btn-primary" [disabled]="f.invalid">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

