/* You can add global styles to this file, and also import other style files */

table {
  width: 100%;
}

.table thead th {
  text-align: center;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.table tbody td {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.titleTextInterface {
  padding-top: 20px;
  font-weight: bold;
  color: #dc3545;
}

.text-application {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dialog-title {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  color: #dc3545 !important;
}

.pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  display:flex;
  justify-content:center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}