/* You can add global styles to this file, and also import other style files */

.margForm {
  margin-top: 150px;
}

.pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  display:flex;
  justify-content:center;
  font-family: sans-serif;
}

.table thead th {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
}

.table tbody td {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
}

.margDivSearchAdd {
  margin-top: 80px;
}

.colorHeaderTable {
  background-color:#097707;
  color: white;
}

.titleTextInterface {
  padding-top: 60px;
}