/* You can add global styles to this file, and also import other style files */

.margForm {
  margin-top: 150px;
}

.pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  display:flex;
  justify-content:center;
}

.table thead th {
  text-align: center;
}
.table tbody td {
  text-align: center;
  vertical-align: middle;
}
.margDivSearchAdd {
  margin-top: 80px;
}
.colorHeaderTable {
  background-color:rgb(91, 89, 241);
  color: white;
}
.titleTextInterface {
  padding-top: 60px;
}