<h1 class="text-center text-warning titleTextInterface">Products</h1>
<div class="container mx-auto" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of (filteredProducts | sortBy: 'key')">
            <div class="card bg-white" style="width: 18rem;">
                <show-product-picture [product]="product" [isGrid]="isGrid"></show-product-picture>
                <div class="card-body text-dark">
                    <h5 class="card-title text-primary font-weight-bold text-center">{{ product.nameProduct }}</h5>
                    <h6 class="card-subtitle mb-2 mt-2">Price:&nbsp;{{ product.price }}</h6>
                    <h6 class="card-subtitle mb-2 mt-2">Date:&nbsp;{{ product.date | date:'dd/MM/yyyy' }}</h6>
                    <h6 class="card-subtitle mb-2 mt-2">Time:&nbsp;{{ product.time }}</h6>
                    <h6 *ngIf="product.categoryId" class="card-subtitle mb-2 mt-2">
                        Category:&nbsp;{{ product.nameCategory }}
                    </h6>
                    <h6 class="card-subtitle mb-2 mt-2">Note:&nbsp;{{ product.note }}</h6>
                    <button *ngIf="user.roleUpdate" [routerLink]="['/products', product.key]" class="btn btn-success ml-5 mr-2"
                        style="text-decoration: none;">
                        Edit
                    </button>
                    <button *ngIf="user.roleDelete" type="button" (click)="delete(product.key)" class="btn btn-danger"
                        style="text-decoration: none;">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>