<h1 class="text-center text-warning titleTextInterface">Stock In</h1>

<div class="row margDivSearchAdd">
    <div class="col-md-11">
        <p>
            <input #query (keyup)="filter(query.value)" type="text" class="form-control widhtInput"
                placeholder="Search by product...">
        </p>
        <p>
            <input [(ngModel)]="queryDate" type="date" class="form-control widhtInput">
            <button class="btn btn-primary" (click)="filterByDate()">Search</button>
            <button *ngIf="queryDate" class="btn btn-danger" (click)="clear()">Clear</button>
        </p>
    </div>
    <div class="col-md-1">
        <p *ngIf="user.roleAdd">
            <a routerLink="/stock-in/new" class="btn btn-primary">New</a>
        </p>
    </div>
</div>

<div class="row">
    <table class="table table-striped">
        <thead class="colorHeaderTable">
            <tr>
                <th>Product</th>
                <th>Entered Quantity(box)</th>
                <th>Date</th>
                <th>Time</th>
                <th>Note</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let stockInProduct of (filteredStockInProducts | sortBy: 'key' | paginate: { itemsPerPage: 8, currentPage: p })">
                <td>{{ stockInProduct.productName }}</td>
                <td>{{ stockInProduct.quantity }}</td>
                <td>{{ stockInProduct.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ stockInProduct.time }}</td>
                <td>{{ stockInProduct.note }}</td>
                <td>
                    <button *ngIf="user.roleUpdate" [routerLink]="['/stock-in', stockInProduct.key]"
                        class="btn btn-success">Edit</button>
                    <button *ngIf="user.roleDelete" type="button" (click)="delete(stockInProduct.key)"
                        class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>