.sizePicture {
    width: 150px;
}
th {
    text-align: center;
}
td {
    text-align: center;
    vertical-align: middle;
}
.widhtInput {
    width: 30%;
}
.margDivSearchAdd {
    margin-top: 150px;
}