<div class="row">
    <p style="margin-top: 150px;">
        <a routerLink="/stock-in/new" class="btn btn-primary">New</a>
    </p>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>N°</th>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stockInProduct of (stockInProducts$ | async | sortBy: 'key'); let i=index;">
                <td>{{ i+1 }}</td>
                <td>{{ stockInProduct.name }}</td>
                <td>{{ stockInProduct.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ stockInProduct.time }}</td>
                <td>{{ stockInProduct.description }}</td>
                <td>
                    <a [routerLink]="['/stock-in', stockInProduct.key]">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
