<img *ngIf="serie.imageUrl && !isGrid" class="sizePicture" [src]="serie.imageUrl"
    (click)="showSerieImage(contentSeriePicture)">

<img *ngIf="serie.imageUrl && isGrid" [src]="serie.imageUrl" class="card-img-top sizePictureForGrid"
    (click)="showSerieImage(contentSeriePicture)">

<img *ngIf="!serie.imageUrl && !isGrid" src="/assets/pictures/NoImageAvailable.png" class="sizePicture"
(click)="showSerieImage(contentSeriePicture)">

<img *ngIf="!serie.imageUrl && isGrid" src="/assets/pictures/NoImageAvailable.png" class="card-img-top sizePictureForGrid"
(click)="showSerieImage(contentSeriePicture)">

<ng-template #contentSeriePicture let-modal let-c="close" let-d="dismiss">
    <div class="modal-header text-center">
        <h4 class="modal-title w-100">Serie Picture Preview</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button> 
    </div>
    <div class="modal-body">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <img *ngIf="pictureSerie" [src]="pictureSerie" style="width: 100%;">
                <img *ngIf="!pictureSerie" src="/assets/pictures/NoImageAvailable.png" style="width: 100%;">
            </div>
        </div>

        <br>
        <input type="file" name="file" (input)="onFileChanged($event)" class="form-control"
            accept=".jpeg,.jpg,.png,.svg" />
        <br>
        <div *ngIf="progressValue | async as val">
            <progress type="warning" [value]="val" class="styleProgress" max="100"></progress>
            <br />
            <span *ngIf="val<100" class="progressIncomplete">{{ val | number}}% </span>
            <span *ngIf="val == 100" class="progressComplete">Completed !</span>
        </div>
    </div>
</ng-template>