.style-picture {
    width: 300px;
    height: 435px;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
    margin-left: -6px;
}

.example-card {
    border-radius: 20px;
    width: 324px;
    height: 463px;
    border: 1px solid #c5c5c5;
    margin-top: 20px;
    margin-left: 20px;
}

.mat-card-image:first-child {
    margin-top: -3px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.example-card-mobile {
    border-radius: 20px;
    border: 1px solid #c5c5c5;
    margin-left: -8px;
    width: 318px;
}

.style-picture-mobile {
    width: 297px;
    height: 435px;
    background-size: cover;
    border-radius: 20px;
    margin: auto;
    margin-left: -6px;
}