<h1 class="text-center text-warning titleTextInterface">Movies</h1>
<div class="container mx-auto" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-4">
            <a *ngIf="user.roleAdd" (click)="newMovie()" class="btn btn-primary float-right">New</a>        
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search by name...">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <input [(ngModel)]="queryDate" type="date" class="form-control">
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary" (click)="filterByDate()">Search</button>
                    <button *ngIf="queryDate" class="btn btn-danger" (click)="clear()">Clear</button>
                </div>
            </div>     
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4"> 
        <select [(ngModel)]="statusId" name="statusId" id="statusId" class="form-control" ng-click="filetrByStatus()">
            <option value=""></option>
            <option *ngFor="let statusMovie of statusMovies" [value]="statusMovie.id">
                {{statusMovie.status}}
            </option>
        </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4" *ngFor="let movie of (filteredMovies | sortBy: 'key')">
            <div class="card bg-white" style="width: 18rem;margin-inline: auto;">
                <show-movie-picture [movie]="movie" [isGrid]="isGrid"></show-movie-picture>
                <div class="card-body text-dark">
                    <h5 class="card-title text-primary font-weight-bold text-center">{{ movie.nameMovie }}</h5>
                    <h6 class="card-subtitle mb-2 mt-2">Date Creation:&nbsp;{{ movie.date | date:'dd/MM/yyyy' }}</h6>
                    <h6 class="card-subtitle mb-2 mt-2">Time Creation:&nbsp;{{ movie.time }}</h6>
                    <h6 *ngIf="movie.statusId" class="card-subtitle mb-2 mt-2">
                        Status:&nbsp;{{ movie.status }}
                    </h6>
                    <h6 *ngIf="!movie.statusId" class="card-subtitle mb-2 mt-2">
                        Status:&nbsp;-
                    </h6>
                    <h6 class="card-subtitle mb-2 mt-2">Note:&nbsp;{{ movie.note }}</h6>
                    <button *ngIf="user.roleUpdate" (click)="editMovie(movie)" class="btn btn-success ml-5 mr-2"
                        style="text-decoration: none;">
                        Edit
                    </button>
                    <button *ngIf="user.roleDelete" type="button" (click)="delete(movie.key)" class="btn btn-danger"
                        style="text-decoration: none;">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>