<h1 class="titleTextInterface text-application">Movies</h1>

<div class="row">
    <div class="col-md-12">
        <button 
            *ngIf="dataUserConnected.roleAddMovie" 
            type="button" 
            (click)="newMovie()" 
            mat-mini-fab 
            style="background: #2196F3;float: right;">
            <mat-icon style="color: white;">add</mat-icon>
        </button>

        <button 
            *ngIf="!sortByDesc"
            type="button"  
            mat-mini-fab 
            color="primary" 
            (click)="sortByRefMovieDesc()" 
            style="background: #2196F3;float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;

        <button 
            *ngIf="sortByDesc"
            type="button"
            mat-mini-fab
            color="primary" 
            (click)="sortByRefMovieAsc()" 
            style="background: #2196F3;float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;
    </div> 
</div>

<br>
 
<div class="row">
    <div class="col-md-4">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" name="queryName" (keyup)="getAllMovies()" [(ngModel)]="queryName"/>
        </mat-form-field>
    </div>
    <!-- <div class="col-md-4">
        <mat-form-field>
            <mat-label>Note</mat-label>
            <input matInput type="text" name="queryNote" (keyup)="getAllMovies()" [(ngModel)]="queryNote"/>
        </mat-form-field>
    </div> -->
    <div class="col-md-4">
        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select name="statusMovie" [(ngModel)]="statusId" (selectionChange)="getAllMovies()">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let statusMovie of statusMovies" [value]="statusMovie.id">
                    {{statusMovie.status}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<br>
  
<div class="example-container mat-elevation-z8">
    <div class="example-table-container">
        <table mat-table [dataSource]="dataSource">
  
            <ng-container matColumnDef="picture">
                <th mat-header-cell *matHeaderCellDef>Picture</th>
                <td mat-cell *matCellDef="let element"> 
                    <img *ngIf="element.imageUrl" mat-card-md-image [src]="element.imageUrl" (click)="zoomPicture(element)">
                    <img *ngIf="!element.imageUrl" mat-card-md-image src="/assets/pictures/NoImageAvailable.png" (click)="zoomPicture(element)">

                   <span *ngIf="!element.part" [ngStyle]="{'margin-left': element.year ? '35px' : '50px'}">
                    <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;
                    <span *ngIf="element.year">{{ element.year }}</span>
                    <span *ngIf="!element.year">?</span>
                </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="gridForLegend">
                        <div><span>Name:</span></div>
                        <div><span style="cursor: pointer;" (click)="copyNameMovie(element.nameMovie)">{{ element.nameMovie }}</span></div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="gridForLegend" *ngIf="!element.part">
                        <div><span>Status:</span></div>
                        <div>{{ element.status }}</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="gridForLegend" *ngIf="!element.part">
                        <div><span>Note:</span></div>
                        <div>{{ element.note }}</div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="star">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{element:element}">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <div class="no-results" [style.display]="dataSource.data.length == 0 ? '' : 'none'">
            No results
        </div>
    
        <mat-paginator 
            [pageSizeOptions]="[8]"
            showFirstLastButtons 
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-movie="element">

        <button
            *ngIf="dataUserConnected.roleUpdateMovie && !movie.part" 
            type="button"
            (click)="editMovie(movie)"
            mat-menu-item>
            <mat-icon aria-label="Edit" style="color: #9C27B0;">edit</mat-icon>
            <span>Edit</span>
        </button>

        <button 
            *ngIf="movie.part"  
            type="button" 
            mat-menu-item 
            (click)="viewParts(movie, contentPartsList)">
            <mat-icon style="color: #0935c5">list</mat-icon>
            <span>Parts</span>
        </button>

        <button mat-menu-item *ngIf="movie.statusId !== 3 && !movie.part" [hidden]="movie.statusId == 4"> 
            <mat-icon *ngIf="movie.statusId == 1" style="color: #EF6C00;">remove_red_eye</mat-icon>
            <mat-icon *ngIf="movie.statusId == 2" style="color: #2E7D32;">cloud_download</mat-icon>
            <mat-icon *ngIf="movie.statusId == 5" style="color: #EF6C00;">search</mat-icon>
            <a href="{{ movie.path }}" target="_blank" style="text-decoration: none;">
            <span *ngIf="movie.statusId == 1" style="color: black !important;">Check</span>
            <span *ngIf="movie.statusId == 2" style="color: black !important;">Download</span>
            <span *ngIf="movie.statusId == 5" style="color: black !important;">Search</span>
            </a>  
        </button>

        <button
            *ngIf="dataUserConnected.roleDeleteMovie && !movie.part" 
            type="button"
            mat-menu-item 
            (click)="openDeleteMovieModal(movie, contentDeleteMovie)" 
            class="text-application">
            <mat-icon style="color: #f44336;">delete</mat-icon>
            <span>Delete</span>
        </button>

    </ng-template>
</mat-menu>

<ng-template #contentDeleteMovie>

    <div mat-dialog-title class="dialog-title">
      <h2 class="text-application">Are you sure ?</h2>
    </div>
  
    <div mat-dialog-content>
        <div class="gridForDelete text-application">
            <div><span>Name:</span></div>
            <div>{{ movieToDelete.nameMovie }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Date:</span></div>
            <div>{{ movieToDelete.date | date:'dd/MM/yyyy' }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Status:</span></div>
            <div>{{ movieToDelete.status }}</div>
        </div>
        <br>
        <div class="gridForDelete text-application">
            <div><span>Note:</span></div>
            <div>{{ movieToDelete.note }}</div>
        </div> 
    </div>

    <br>

    <div class="row justify-content-center" mat-dialog-actions>
        <button 
            mat-button 
            type="button" 
            [mat-dialog-close]="1" 
            (click)="confirmDelete()" 
            style="background:rgb(221, 51, 51);color: white;" 
            class="text-application">
            Delete
        </button>

        <button 
            mat-button 
            type="button" 
            (click)="close()" 
            tabindex="-1" 
            style="background:#607D8B;color: white;" 
            class="text-application">
            Cancel
        </button>
    </div>
  
</ng-template>

<ng-template #contentPartsList>

    <list-parts-mobile 
        [listPartsByCurrentName]="listPartsByCurrentName" 
        [currentName]="currentName" 
        [dataUserConnected]="dataUserConnected"
        [allMovies]="allMovies">
    </list-parts-mobile>
    
</ng-template>