.header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
  }
  
  .row{
    margin-top: 10px;
  }
  
  .image {
    width: 100%
  }
  .styleDiv {
    border-radius: 30px;
    height: 200px;
  }
  .picture {
    border-radius: 30px;
    height: 150px;
    width: 200px;
  }