.no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 20px;
}

.mat-header-cell {
    font-size: 20px;
    min-height: 48px;
    text-align: center;
}

.mat-cell {
    font-size: 20px;
    min-height: 48px;
    border-bottom-style: none;
}

.gridForLegend {
    display: grid;
    grid-template-columns: 80px 250px;
    width: 250px;
    margin: auto;
}

td.mat-column-star {
    width: 20px;
    padding-right: 8px !important;
}

::ng-deep .my-menu {
    width: 100%;
}

.style-button{
    min-width: unset!important;
    display: table; 
    margin: 0 auto;
}