<div class="container margForm">
    <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
            <label for="name">Name</label>
            <input #name="ngModel" [(ngModel)]="category.name" name="name" id="name" type="text" class="form-control"
                required [minlength]="3">
            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                <div *ngIf="name.errors.required">Name is required.</div>
                <div *ngIf="name.errors?.minlength">Name should contain at least 3 characters or higher.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input #date="ngModel" [(ngModel)]="category.date" name="date" id="date" type="date" class="form-control">
        </div>
        <div class="form-group">
            <label for="time">Time</label>
            <input #time="ngModel" [(ngModel)]="category.time" name="time" id="time" type="time" class="form-control">
        </div>
        <div class="form-group">
            <label for="note">Note</label>
            <input #note="ngModel" [(ngModel)]="category.note" name="note" id="note" type="text" class="form-control">
        </div>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>&nbsp;
        <button class="btn btn-primary" [disabled]="f.invalid">Save</button>
    </form>
</div>