<h1 *ngIf="!getDetailsMovie && !clickNewMovie" class="titleTextInterface text-application">Movies</h1>

<h1 *ngIf="getDetailsMovie && !clickNewMovie" class="titleTextInterface text-application">
    <mat-icon *ngIf="getDetailsMovie && !clickNewMovie" (click)="getAllMovies()" style="vertical-align: text-bottom;cursor: pointer;">home</mat-icon>
    &nbsp;
    <span *ngIf="selectedMovie.fullNameMovie" (click)="copyText(selectedMovie.fullNameMovie)" style="cursor: pointer;">{{ selectedMovie.fullNameMovie }}</span>
    <span *ngIf="!selectedMovie.fullNameMovie" (click)="copyText(selectedMovie.nameMovie)" style="cursor: pointer;">{{ selectedMovie.nameMovie }}</span>
</h1>

<h1 *ngIf="!getDetailsMovie && clickNewMovie" class="titleTextInterface text-application">New movie</h1>

<br>

<div class="row" *ngIf="!getDetailsMovie && !clickNewMovie">
    <div class="col-md-4">
        <mat-form-field class="widhtInput text-application">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="movieName" (keyup)="getAllMovies()" [(ngModel)]="movieName"/>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field class="text-application" style="width: 285px;">
            <mat-label>Status</mat-label>
            <mat-select name="statusId" [(ngModel)]="statusId" (selectionChange)="getAllMovies()">
                <mat-option value=""></mat-option>
                <mat-option *ngFor="let statusMovie of statusMovies" [value]="statusMovie.id">
                    <span class="text-application">{{statusMovie.status}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <button 
            *ngIf="dataUserConnected.roleAddMovie" 
            type="button" 
            (click)="addNewMovie()" 
            mat-mini-fab 
            style="background: #2196F3;float: right;">
            <mat-icon style="color: white;">add</mat-icon>
        </button>

        <button 
            *ngIf="!sortByDesc"
            type="button"  
            mat-mini-fab 
            color="primary" 
            (click)="sortByRefMovieDesc()" 
            style="background: #2196F3;float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;

        <button 
            *ngIf="sortByDesc"
            type="button"
            mat-mini-fab
            color="primary" 
            (click)="sortByRefMovieAsc()" 
            style="background: #2196F3;float: right;margin-right: 10px;">
            <mat-icon style="color: white;" aria-label="Example icon-button with a heart icon">sort</mat-icon>
        </button>&nbsp;&nbsp;
    </div>     
</div>

<br *ngIf="!getDetailsMovie && !clickNewMovie">

<mat-grid-list *ngIf="pagedList.length !== 0 && pagedList.length == 1 && !getDetailsMovie && !clickNewMovie" cols=1 #grid rowHeight="350px" gutterSize="15px">
    <mat-grid-tile *ngFor="let movie of pagedList">
        <mat-card class="settings-card" style="cursor: pointer;border: 1px solid;" (click)="showDetailsMovie(movie)">       
            <img *ngIf="movie.imageUrl" [src]="movie.imageUrl" class="movie-image">
            <img *ngIf="!movie.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="movie-image">              
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="pagedList.length !== 0 && pagedList.length == 2 && !getDetailsMovie && !clickNewMovie" cols=2 #grid rowHeight="350px" gutterSize="15px">
    <mat-grid-tile *ngFor="let movie of pagedList">
        <mat-card class="settings-card" style="cursor: pointer;border: 1px solid;" (click)="showDetailsMovie(movie)">       
            <img *ngIf="movie.imageUrl" [src]="movie.imageUrl" class="movie-image">
            <img *ngIf="!movie.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="movie-image">              
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="pagedList.length !== 0 && pagedList.length > 2 && !getDetailsMovie && !clickNewMovie" cols=3 #grid rowHeight="350px" gutterSize="15px">
    <mat-grid-tile *ngFor="let movie of pagedList">
        <mat-card class="settings-card" style="cursor: pointer;border: 1px solid;" (click)="showDetailsMovie(movie)">       
            <img *ngIf="movie.imageUrl" [src]="movie.imageUrl" class="movie-image">
            <img *ngIf="!movie.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="movie-image">              
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div *ngIf="pagedList.length == 0 && !getDetailsMovie && !clickNewMovie" class="row justify-content-center no-results text-application">
    No results
</div>

<div *ngIf="!getDetailsMovie && !clickNewMovie" class="row mat-paginator">
   <mat-paginator 
       [length]="length"
       [pageSize]="pageSize"
       [pageSizeOptions]="pageSizeOptions"
       showFirstLastButtons
       (page)="OnPageChange($event)">
   </mat-paginator>
</div>

<mat-grid-list *ngIf="getDetailsMovie && !clickNewMovie" cols=2 #grid [rowHeight]="editButtonClick ? '550px' : '350px'" gutterSize="15px" class="grid-list-new-edit">
    <mat-grid-tile>
        <mat-card class="settings-card-new-update-movie" style="cursor: pointer;border: 1px solid;" [ngStyle]="{'height': editButtonClick ? '550px' : '350px'}">       
            <img *ngIf="selectedMovie.imageUrl" [src]="selectedMovie.imageUrl" class="movie-image" (click)="selectImage.click()">
            <img *ngIf="!selectedMovie.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="movie-image" (click)="selectImage.click()"> 
            <input type="file" name="file" (change)="uploadPictureForEditMovie($event)" style="display: none" accept=".jpeg,.jpg,.png,.svg" #selectImage>   
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="settings-card-new-update-movie" style="cursor: pointer;border: 1px solid;" [ngStyle]="{'height': editButtonClick ? '550px' : '350px'}">       
            <mat-grid-list cols="12" rowHeight="50px" class="text-application">

                <mat-grid-tile colspan="3" *ngIf="editButtonClick">Name</mat-grid-tile>
                <mat-grid-tile colspan="9" *ngIf="editButtonClick">
                    <mat-form-field color="accent">
                        <input matInput #input type="text" [(ngModel)]="selectedMovie.nameMovie" name="nameMovie" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3" *ngIf="editButtonClick">Title</mat-grid-tile>
                <mat-grid-tile colspan="9" *ngIf="editButtonClick">
                    <mat-form-field color="accent">
                        <input matInput #input type="text" [(ngModel)]="selectedMovie.fullNameMovie" name="fullNameMovie" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3" *ngIf="editButtonClick">First</mat-grid-tile>
                <mat-grid-tile colspan="9" *ngIf="editButtonClick">
                    <mat-checkbox name="isFirst" [(ngModel)]="selectedMovie.isFirst" class="mat-checkbox-layout"></mat-checkbox>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Year</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick">
                        <span *ngIf="selectedMovie.year">{{ selectedMovie.year }}</span>
                        <span *ngIf="!selectedMovie.year">?</span>
                    </span>

                    <mat-form-field *ngIf="editButtonClick" color="accent">
                        <input matInput #input type="number" [(ngModel)]="selectedMovie.year" name="year" class="text-application">
                    </mat-form-field>              
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Status</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick">{{ selectedMovie.status }}</span>

                    <mat-form-field *ngIf="editButtonClick" color="accent">
                        <mat-select [(ngModel)]="selectedMovie.statusId" name="statusId" class="text-application">
                          <mat-option value=""></mat-option>
                          <mat-option *ngFor="let statusMovie of allStatusMovies" [value]="statusMovie.id">
                            <span class="text-application">{{statusMovie.status}}</span>
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Part</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick">
                        <span *ngIf="selectedMovie.part">{{ selectedMovie.part }}</span>
                        <span *ngIf="!selectedMovie.part"><mat-icon style="color: red;">cancel</mat-icon></span>
                    </span>
                    
                    <mat-form-field *ngIf="editButtonClick" color="accent">
                        <input matInput #input type="number" [(ngModel)]="selectedMovie.part" name="part" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3" *ngIf="editButtonClick">Priority</mat-grid-tile>
                <mat-grid-tile colspan="9" *ngIf="editButtonClick">
                    <mat-form-field color="accent">
                        <input matInput #input type="number" [(ngModel)]="selectedMovie.priority" name="priority" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Path</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick">                      
                        <span *ngIf="selectedMovie.path">
                            <i class="fa fa-lg fa-copy" (click)="copyText(selectedMovie.path)" style="cursor: pointer;"></i>                            
                        </span>
                        <span *ngIf="!selectedMovie.path"><mat-icon style="color: red;">cancel</mat-icon></span>
                    </span>
                    <mat-form-field *ngIf="editButtonClick" color="accent">
                        <input matInput #input type="text" [(ngModel)]="selectedMovie.path" name="path" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Note</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <span *ngIf="!editButtonClick">                      
                        <span *ngIf="selectedMovie.note">
                            <mat-icon *ngIf="selectedMovie.note.length == 35 || selectedMovie.note.length > 35" style="color: green;" (click)="viewNote(selectedMovie.note)">remove_red_eye</mat-icon>
                            <span *ngIf="selectedMovie.note.length < 35">{{ selectedMovie.note }}</span>
                        </span>
                        <span *ngIf="!selectedMovie.note"><mat-icon style="color: red;">cancel</mat-icon></span>
                    </span>

                    <mat-form-field *ngIf="editButtonClick" color="accent">
                        <input matInput #input type="text" [(ngModel)]="selectedMovie.note" name="note" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>

            <div class="row justify-content-center">
                <mat-card-actions style="margin-top: 15px">
                    <button
                        *ngIf="dataUserConnected.roleUpdateMovie && !editButtonClick"
                        type="button"
                        mat-button 
                        (click)="editMovie(selectedMovie)"
                        class="text-application">
                        <mat-icon style="color: #9C27B0" aria-label="Edit">edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button
                        *ngIf="dataUserConnected.roleDeleteMovie && !editButtonClick"
                        type="button"
                        mat-button 
                        (click)="deleteMovie(selectedMovie.key)" 
                        class="text-application">
                        <mat-icon style="color: #f44336;">delete</mat-icon>
                        <span>Delete</span>
                    </button>
                    
                    <button
                        *ngIf="editButtonClick"
                        type="button"
                        mat-button 
                        (click)="save(selectedMovie)"
                        class="text-application">
                        <mat-icon style="color: #FF5722">save</mat-icon>
                        <span>Save</span>
                    </button>
                    <button
                        *ngIf="editButtonClick"
                        type="button"
                        mat-button 
                        (click)="cancel()" 
                        class="text-application">
                        <mat-icon style="color: #607D8B;">cancel</mat-icon>
                        <span>Cancel</span>
                    </button>  
                </mat-card-actions>
            </div>        
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<br *ngIf="getDetailsMovie && selectedMovie.part && !clickNewMovie">

<list-parts-desktop
    *ngIf="getDetailsMovie && selectedMovie.part && !clickNewMovie" 
    [listPartsByCurrentName]="listPartsByCurrentName"
    (partMovieSelected)="getPartMovieSelected($event)">
</list-parts-desktop>

<mat-grid-list *ngIf="clickNewMovie" cols=2 #grid rowHeight="550px" gutterSize="15px" class="grid-list-new-edit">
    <mat-grid-tile>
        <mat-card class="settings-card-new-update-movie" style="cursor: pointer;border: 1px solid;height: 550px;">       
            <mat-grid-list cols="12" rowHeight="50px" class="text-application">

                <mat-grid-tile colspan="3">Name</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <input matInput #input type="text" [(ngModel)]="newMovie.nameMovie" name="nameMovie" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Title</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <input matInput #input type="text" [(ngModel)]="newMovie.fullNameMovie" name="fullNameMovie" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">First</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-checkbox name="isFirst" [(ngModel)]="newMovie.isFirst" class="mat-checkbox-layout"></mat-checkbox>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Year</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <input matInput #input type="number" [(ngModel)]="newMovie.year" name="year" class="text-application">
                    </mat-form-field>              
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Status</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <mat-select [(ngModel)]="newMovie.statusId" name="statusId" class="text-application">
                          <mat-option value=""></mat-option>
                          <mat-option *ngFor="let statusMovie of allStatusMovies" [value]="statusMovie.id">
                            <span class="text-application">{{statusMovie.status}}</span>
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Part</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <input matInput #input type="number" [(ngModel)]="newMovie.part" name="part" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Priority</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <input matInput #input type="number" [(ngModel)]="newMovie.priority" name="priority" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Path</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <input matInput #input type="text" [(ngModel)]="newMovie.path" name="path" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">Note</mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <mat-form-field color="accent">
                        <input matInput #input type="text" [(ngModel)]="newMovie.note" name="note" class="text-application">
                    </mat-form-field>
                </mat-grid-tile>
                

            </mat-grid-list>

            <div class="row justify-content-center">
                <mat-card-actions style="margin-top: 15px">  
                    <button
                        type="button"
                        mat-button 
                        (click)="saveNewMovie()"
                        class="text-application">
                        <mat-icon style="color: #FF5722">save</mat-icon>
                        <span>Save</span>
                    </button>
                    <button
                        type="button"
                        mat-button 
                        (click)="cancelFromNewMovie()" 
                        class="text-application">
                        <mat-icon style="color: #607D8B;">cancel</mat-icon>
                        <span>Cancel</span>
                    </button>  
                </mat-card-actions>
            </div>        
        </mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card class="settings-card-new-update-movie" style="cursor: pointer;border: 1px solid;height: 550px;">       
            <img *ngIf="newMovie.imageUrl" [src]="newMovie.imageUrl" class="movie-image" (click)="selectImage.click()">
            <img *ngIf="!newMovie.imageUrl" src="/assets/pictures/NoImageAvailable.png" class="movie-image" (click)="selectImage.click()"> 
            <input type="file" name="file" (change)="uploadPictureForCreateMovie($event)" style="display: none" accept=".jpeg,.jpg,.png,.svg" #selectImage>   
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>