.widhtInput {
    width: 90%;
}

.no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 20px;
}

.mat-header-cell {
    color:white;
    font-size: 20px;
    min-height: 48px;
    text-align: center;
}

.mat-cell {
    font-size: 20px;
    min-height: 48px;
    border-bottom-style: none;
}

.gridForLegend {
    display: grid;
    grid-template-columns: 80px 250px;
    width: 250px;
    margin: auto;
}

.gridForDelete {
    display: grid;
    grid-template-columns: 80px 400px;
    width: 250px;
    font-size: 18px;
}

.imageTypeFile {
    height: 90%;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
  }
  
  .imageTypeFileMobile {
    height: 75%;
    width: 100%;
    background-size: cover;
  }

  .settings-card {
    height: 350px;
    width: 360px;
  }
  
  .settings-card-mobile {
    height: 270px;
  }